extends ../_templates/_template_default

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/kontakty'
	- var mainpage = ''
	- var title = 'Контакты'
	- var metaDescr = 'Полная контактная информация клининговой компании «Стандарт» - телефоны, email и адреса офисовs'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
		//- main screen
	- var h1 = 'Контактная информация'
	- var h1Descr = ''
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Контактная информация'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'

block content
	section.hero
		h1= h1
		+breadcrumbs_naked
	div.section.section-contacts
		.container
			.wrapper.two-column
				.part
					.elem
						p Наши офисы
					.map-elem
						p Жуковский Мясищева д. 1 оф. 406 БЦ Чайка
						.map
							script(src = "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5d7df7446b754e70853083d32b0cf7604fbeafa2b5e5c9954b8970d6989e2b7a&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true" async)
					//- .map-elem
					//- 	p Раменское Михалевича д. 51 оф. 48
					//- 	.map
					//- 		script(src = "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A57880affd983501ee6877fe3170a658a08738581fa702bc121f3ddbb716566d0&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true" async)
				.part
					.two-column
						.elem.phones
							p Телефоны
							a(href="tel:+74951367363") (495) 136-73-63
							a(href="tel:+79255348436") (925) 534-84-36
							a(href="tel:+79252200281") (925) 220-02-81
						.elem.emails
							p email
							p info@standartcleaning.ru
							p standartcleaning@mail.ru
							.social-buttons
								a(href="https://instagram.com/standart_cleaning")
									i.fab.fa-instagram
								a(href="https://vk.com/standartcleaning")
									i.fab.fa-vk
								a(href="https://www.facebook.com/standartcleaningzhuk/")
									i.fab.fa-facebook
					.elem
						+form_contacts
	include ../_includes/_corona-attention
