
extends ../_templates/_template_default

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/o-kompanii'
	- var mainpage = ''
	- var title = 'О компании'
	- var metaDescr = 'Клининговая компания «Стандарт» в Раменском поможет освободить время для более важных дел, чем уборка квартиры, дома.'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
		//- main screen
	- var h1 = 'О компании'
	- var h1Descr = ''
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'О компании'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'

block content
	section.hero
		h1= h1
		+breadcrumbs_naked
	//- include _includes/_corona-attention
	div.section.section-contacts
		.container
			.wrapper.two-column
				.part
					.info-block
						h3 Компания «Стандарт» на профессиональном рынке клининговых услуг с 2014 года!
						p
							span.bold Компания стандарт
						p Подумайте о вашем здоровье и здоровье родных и близких, мы используем только профессиональные сертифицированные в России и Европе средства, не вызывающее аллергии и не отравляющее организм!
						p Давайте рассмотрим по подробнее, все вышеперечисленные плюсы, откуда они берутся и почему уборку квартиры, дома лучше доверить профессионалам!
						p Перед началом работ заключаем договор, будь то разовая, генеральная уборка, уборка после ремонта или регулярная уборка на постоянной основе. Оплата производится после окончания работ, после того, как Вы примете работу и останетесь довольны. Что гарантирует безопасность и то, что качество выполняемых работ будет на высочайшем уровне. Сотрудники нашей компании заинтересованы в результате и считают важным, чтобы клиенты оставались довольны качеством услуг и обращались в компанию еще и еще. Поэтому они прилагают максимум усилий и стараний!
						p
							span.bold Качество услуг и сохранность имущества
						p За все объекты, которые мы убираем, мы несем ответственность. Оплата работы происходит только после ее окончания, то есть вы оплачиваете реальный результат. Мы уважаем объективную критику и стремимся к высоким результатам в процессе работы, поэтому наши работники без возражений исправляют все недочеты, выявленные вами
				.part
					.elem
						img( src="../img/logo-vertical.png" alt="" )
						p
							span.line Позвольте себе расслабиться, избавьтесь от рутины, уделите больше времени семье и друзьям, поручите уборку нам! Уникальная возможность заняться более интересными и важными делами, чем уборка!
					.elem.social-buttons
						a(href="https://instagram.com/standart_cleaning")
							i.fab.fa-instagram
						a(href="https://vk.com/standartcleaning")
							i.fab.fa-vk
						a(href="https://www.facebook.com/standartcleaningzhuk/")
							i.fab.fa-facebook
					.elem
						+form_about


