extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-domov/ekspress-uborka-doma'
	- var mainpage = ''
	- var title = 'Экспресс-уборка домов в Раменском'
	- var metaDescr = 'Разовая уборка коттеджа с короткими сроками выполнения. Больше нацелена на косметический эффект. Приведет в порядок весь дом!'
	- var ogImage = 'img/kottedzh5-1680.jpg'
		//- main screen
	- var h1 = 'Экспресс-уборка дома в Раменском'
	- var h1Descr = 'Быстрая и эффективная уборка перед приходом гостей или после праздника. Освежает дом и занимает минимум времени.'
		//- breadcrumbs
	- var bcCat = 'Уборка домов в Раменском'
	- var bcCatUrl = 'uborka-domov/'
	- var bc = 'Экспресс-уборка дома в Раменском'
		//- backgrounds
	- var mainBackground = 'img/kottedzh2.jpg'
	- var formBackground = 'img/kottedzh3.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'doma'
	- var cleaningType = 'express'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Владимир', 'descr': 'Нужно было быстро убраться в квартире к приходу гостей. Позвонила накануне – нашли время. Все сделали быстро и качественно. Ума не приложу, как раньше жили без таких сервисов. Спасибо, вы очень облегчаете жизнь.', 'img': '""../img/review__Vladimir.jpg'},
				{'name': 'Ольга', 'descr': 'Отмечали День Рождения в доме, на следующий день, чтобы не тратить время на уборку, заказали выезд клининговой компании. В дополнение к уборке попросили вымыть гору посуды. Отлично спасают такие компании после шумных вечеринок', 'img': '""../img/review__Olga.jpg'},
		]
		//- mixin pricetable
	- var priceH2 = 'Цены на экспресс уборку'
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = ['Экспресc', '3 500 р.', '4 000 р.', '5 000 р.', 'договорная']

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Быстрая уборка Коттеджа
			.descr
				p.
					Подойдёт тем, кому необходимо очень быстро навести косметическое преображение дома перед приходом гостей или после незабываемой вечеринки.  Она состоит из влажной уборки полов, удаления пыли со всех поверхностей, мойки зеркал, чистки ковров и мебели пылесосом и вынос до 10 кг мусора.
