extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-domov/generalnaya-uborka-doma'
	- var title = 'Генеральная уборка дома в Жуковском'
	- var metaDescr = 'Генеральная уборка домов - полная очистка от загрязнений, пыли. Уборка всех труднодоступных мест, полная уборка ванной и кухни. Дом будет как новый!'
	- var ogImage = 'img/himchistka-zayavka.jpg'
	- var h1 = 'Генеральная уборка домов в Жуковском'
	- var h1Descr = 'Комплексная уборка каждого угла в доме – кухни, санузла, комнат и коридоров. Отлично обновляет помещения после жильцов или перед продажей.'
	- var bcCat = 'Уборка домов'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-domov/'
	- var bc = 'Генеральная уборка дома'
	- var category = 'doma'
	- var cleaningType = 'general'

	- var mainBackground = 'img/kottedzh4-1680.jpg'
	- var formBackground = 'img/kottedzh5.jpg'

	-
		var otzyvy = [
				{'name': 'Евгений', 'descr': 'Отличный сервис. Обращаюсь не в первый раз, как правило заказываю раз в три месяца генералку дома. Окна моют отлично, уборка всегда на высоком уровне. Нареканий нет, все отодвинут, залезут протрут, по времени не быстро, но они и убирают тщательно. Рекомендую вас всем друзьям.', 'img': '../img/review__Evgenij.jpg'},
				{'name': 'Владимир', 'descr': 'Заказывали здесь уборку дома после проведения вечеринки. Выполнили быстро, а что самое важное качественно. Нам не пришлось тратить самим время на уборку. Сразу видно- работают профессионалы!', 'img': '../img/review__Vladimir.jpg'},
		]

	- var h2 = 'Цены на генеральную уборку дома'
	//- mixin pricetable
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = [
				['Генеральная', '6 000 р.', '8 000 р.', '9 000 р.', 'договорная']
		]


block seotext
	.title
		h2 Комплексная уборка дома
	.descr
		p Генеральная уборка дома, каким бы он ни был — залог здоровья и хорошего настроения его обитателей. Однако на сегодняшний день темпы жизни настолько велики, что зачастую сложно успеть навести идеальный порядок везде. И если для вас слово «уборка» ассоциируется с каторгой, предлагаем доверить это ответственное задание клининговой компании «Стандарт».
		p Мы используем сертифицированные гипоаллергенные моющие и чистящие средства. Они не нанесут ни малейшего вреда ни вам, ни вашему любимому хомячку или котёнку. Профессиональное оборудование позволяет нам эффективно справляться с загрязнениями любой сложности. А наши специалисты имеют большой опыт в создании по-настоящему свежей атмосферы и уюта.
		p Следует понимать, что генеральная уборка дома не должна проводиться стихийно. Большинство наших клиентов берут за правило пользоваться данной услугой клининговой компании с периодичностью 1 раз в два-три месяца.

		p Итак, а сейчас немного о том, что же мы подразумеваем под генеральной уборкой дома:
		ul
			li тщательная мойка всех настенных и напольных покрытий, потолка;
			li чистка и дезинфекция санузлов;
			li обеспыливание мебели снаружи и при необходимости — изнутри;
			li мойка кухонных приборов и бытовой техники.
		p Нам важно, чтобы результат вас порадовал и оправдал ожидания.Что касается оплаты, то её мы рассчитываем индивидуально для каждого клиента. Дело в том, что каждый дом уникален. Это значит что мы учитываем степень сложности мытья разнообразных покрытий, предметов интерьера, запылённости помещения… Наш менеджер готов в любое время выехать на место предстоящих клининговых работ, чтобы назвать вам точную цену. Хотя по опыту знаем: время, которое клиент выкроил для того, чтобы расслабиться, доверив генеральную уборку дома нам — бесценно.
