extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-domov/generalnaya-uborka-doma'
	- var mainpage = ''
	- var title = 'Генеральная уборка домов и коттеджей – цены от 6000 руб. в Раменском районе'
	- var metaDescr = 'Цены на генеральную уборка домов и коттеджей - полная очистка от загрязнений, пыли. Уборка всех труднодоступных мест, полная уборка ванной и кухни. Дом будет как новый!'
	- var ogImage = 'img/himchistka.jpg'
		//- main screen
	- var h1 = 'Стоимость генеральной уборки домов в Раменском'
	- var h1Descr = 'Комплексная уборка каждого угла в квартире – кухни, санузла, комнат и коридоров. Отлично обновляет помещения после жильцов или перед продажей.'
		//- breadcrumbs
	- var bcCat = 'Уборка домов в Раменском'
	- var bcCatUrl = 'uborka-domov/'
	- var bc = 'Стоимость генеральной уборки домов в Раменском'
		//- backgrounds
	- var mainBackground = 'img/kottedzh3.jpg'
	- var formBackground = 'img/kottedzh4-1680.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'doma'
	- var cleaningType = 'general'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Евгений', 'descr': 'Отличный сервис. Обращаюсь не в первый раз, как правило заказываю раз в три месяца генералку дома. Окна моют отлично, уборка всегда на высоком уровне. Нареканий нет, все отодвинут, залезут протрут, по времени не быстро, но они и убирают тщательно. Рекомендую вас всем друзьям.', 'img': '""../img/review__Evgenij.jpg'},
				{'name': 'Владимир', 'descr': 'Заказывали здесь уборку дома после проведения вечеринки. Выполнили быстро, а что самое важное качественно. Нам не пришлось тратить самим время на уборку. Сразу видно- работают профессионалы!', 'img': '""../img/review__Vladimir.jpg'},
		]
		//- mixin pricetable
	- var priceH2 = 'Цены на генеральную уборку'
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = ['Генеральная', '6 000 р.', '8 000 р.', '9 000 р.', 'договорная']
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Генеральная уборка дома
			.descr
				p.
					 Неспроста говорят: «Мой дом — моя крепость». Однако даже крепость нуждается время от времени в генеральной уборке.  К сожалению, жизнь диктует свои правила: не у каждого есть время на то, чтобы тщательно убрать свой дом, навести чистоту. Но выход есть! Просто доверьте клининг профессионалам компании «Стандарт». У нас хватит опыта и средств, чтобы реанимировать и очистить даже самый запущенный коттедж в Раменском!Мы действительно следим за ценами конкурентов и стараемся предложить вам самые приятные цены на генеральную уборку коттеджей. Однако мы не снижаем их за счет низких зарплат или экономии на средствах для уборки. Поэтому считаем себя лидерами в соотношении цены и качества в Раменском районе и близлежащих поселках и городах.Мы серьёзно подходим к своим профессиональным обязанностям и стараемся всегда учесть индивидуальные пожелания отдельно взятого клиента. Но опыт показывает, что наше пакетное предложение услуг в рамках генеральной уборки дома полностью соответствует запросам современного жителя. Мы наводим чистоту:во всех комнатах, избавляя их от пыли, грязи, разводов и прочих сложных загрязнений;в коридорах, где тоже отмываем все поверхности на всю высоту до блеска;на кухне, где зачастую есть немало бытовой техники и поверхностей, покрытых слоем грязи и следами мерзкого жира;в ванной комнате, не только очищая, но и дезинфицируя сантехнику, ванну или душевую кабину. Не забываем и о мойке кафеля, пола и потолка.Считаем важным отметить, что сотрудники клининговой компании «Стандарт» приезжают на объект полностью подготовленными: в специальной униформе, с необходимым набором качественных моющих средств немецкого концерна KEIHL и с профессиональной техникой. Словом, вам уж точно не придётся убирать за нами, мы отвечаем именно за такой результат. Освободившееся от уборки время лучше с пользой провести, прогулявшись в парке или по магазинам в приятной компании друзей и родных.Теперь не придётся тратить время своей жизни на генеральную уборку коттеджа. Достаточно просто обратиться в «Стандарт» — мы гарантируем, что вернём уют и очарование вашему дому, не навредив  мебели, коврам и отделке.Смело заказывайте обратный звонок или звоните по телефону – у нас замечательные менеджеры!* Рекомендуемая частота проведения генеральной уборки: не реже 1 раза в месяц. Помимо этого, советуем обратить внимание на поддерживающую уборку дома, с которой можно подробнее ознакомиться в перечне услуг на сайте клининговой компании «Стандарт».
