extends _templates/_template_subservice

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-domov/uborka-kottedzha-posle-remonta'
	- var mainpage = ''
	- var title = 'Уборка коттеджа после ремонта'
	- var metaDescr = 'Профессиональная уборка коттеджей после строительства и ремонта. Специальное оборудоание и материалы. Большой опыт.'
	- var ogImage = 'img/uborka-kvartir-posle-remonta-1680-1.jpg'
		//- main screen
	- var h1 = 'Уборка дома после ремонта в Раменском'
	- var h1Descr = 'Самый сложный вид уборки! Удаление бетонной пыли, следов скотча, затирки – задача для профессионалов со специальным оборудованием и навыками'
		//- breadcrumbs
	- var bcCat = 'Уборка домов в Раменском'
	- var bcCatUrl = 'uborka-domov/'
	- var bc = 'Уборка дома после ремонта в Раменском'
		//- backgrounds
	- var mainBackground = 'img/kottedzh5.jpg'
	- var formBackground = 'img/kottedzh5.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'doma'
	- var cleaningType = 'remont'
		//- mixin otzyvy
	-
		var otzyvy = [
			{'name': 'Анастасия', 'descr': 'Два дня назад закончили уборку нашего дома. Вас посоветовали соседи, созвонилась и договорились. Уборка шла два дня, я приехала с супругом только к вечеру на второй день. Понравилось то, что под ножки стремянок и лесов положили тряпочки и картон, по-честному залазили на леса и протирали бревна и люстру, у нас второй свет. Прораб долго потом смотрел пол, но без проблем. В общем, убрали все хорошо и самое главное аккуратно, мы довольны.', 'img': '""../img/review__Anastasiya.jpg'},
			{'name': 'Карина', 'descr': 'Когда мы делали ремонт в однокомнатной квартире, я справилась с уборкой сама. Но после ремонта коттеджа уборка для нас оказалась непосильным трудом. Искали долго, в итоге выбрали Стандарт. Цена получилась ниже. Девушка быстро посчитала стоимость, а на следующий день приехал менеджер уточнил цену - получилось даже меньше. Клинеры тоже не подвели - чувствовалось, что хорошо знают свое дело.', 'img': '""../img/review__Karina.jpg'},
			{'name': 'Андрей', 'descr': 'Мне строители возвели хороший коттедж, весь мусор за собой вывезли, а что поменьше оставили. Своими силами было не потянуть, плюс нужно было прогенералить, вымыть окна и полы и т.д. Сосед посоветовал Стандарт. Менеджер приехал оценить, посоветовал как что сэкономить, договорились в общем. Убрали за полтора дня, сотрудники работали быстро, я только показал где кран с водой и приехал принять уборку на следующий день. Пол, окна, стены и фасад - ничего не забыли не пропустили. Рекомендую.', 'img': '""../img/review__Andrej.jpg'},
	]
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку после ремонта'
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = [
					['После ремонта', 'от 90 р. /м²', 'от 90 р. /м²', 'от 90 р. /м²', 'договорная'],
		]

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Уборка дома после ремонта
			.descr
				p Уборка дома после ремонта — занятие не для слабонервных. Оно требует от человека не только нескончаемой энергии, но и представляет собой тяжёлую физическую нагрузку.  Сказать на чистоту, дом после ремонта напоминает склад всякого хлама, который придётся умело разобрать, не навредив поверхности пола, потолка, стен, окон, а также мебели. Доверьте это дело профессионалам клининговой компании «Стандарт» и мы поможем быстро и качественно справиться с последствиями ремонта. И помните: одно необдуманное движение или применение по незнанию неподходящего химического средства запросто может нанести вред новой дорогостоящей мебели, предметам интерьера или прочим поверхностям… Будьте благоразумны, доверившись высокому уровню профессионализма специалистов клининговой компании «Стандрарт». Мы не подведём.
