extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-domov/uborka-kottedzha-posle-remonta'
	- var title = 'Уборка коттеджей после ремонта - что входит и цены'
	- var metaDescr = 'Уборка после строительства коттеджа- самый сложный вид уборки - удаляет бетонную пыль, отмывает полы от затирки и разводов, очищает стены, потолок, мебель, моются окна. Убираются технические помещения. Мы завершим последний этап вашего строительства или ремонта!'
	- var ogImage = 'img/uborka-kvartir-posle-remonta2.jpg'
	- var h1 = 'Уборка дома после ремонта в Жуковском'
	- var h1Descr = 'Самый сложный вид уборки! Удаление бетонной пыли, следов скотча, затирки – задача для профессионалов со специальным оборудованием и навыками'
	- var bcCat = 'Уборка коттеджей'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-domov/'
	- var bc = 'Уборка коттеджей после ремонта'
	- var category = "doma"
	- var cleaningType = 'remont'

	- var mainBackground = 'img/kottedzh3.jpg'
	- var formBackground = 'img/dacha.jpg'


	-
		var otzyvy = [
				{'name': 'Анастасия', 'descr': 'Два дня назад закончили уборку нашего дома. Вас посоветовали соседи, созвонилась и договорились. Уборка шла два дня, я приехала с супругом только к вечеру на второй день. Понравилось то, что под ножки стремянок и лесов положили тряпочки и картон, по-честному залазили на леса и протирали бревна и люстру, у нас второй свет. Прораб долго потом смотрел пол, но без проблем. В общем, убрали все хорошо и самое главное аккуратно, мы довольны.', 'img': '../img/review__Anastasiya.jpg'},
				{'name': 'Карина', 'descr': 'Когда мы делали ремонт в однокомнатной квартире, я справилась с уборкой сама. Но после ремонта коттеджа уборка для нас оказалась непосильным трудом. Искали долго, в итоге выбрали Стандарт. Цена получилась ниже. Девушка быстро посчитала стоимость, а на следующий день приехал менеджер уточнил цену - получилось даже меньше. Клинеры тоже не подвели - чувствовалось, что хорошо знают свое дело.', 'img': '../img/review__Karina.jpg'},
				{'name': 'Андрей', 'descr': 'Мне строители возвели хороший коттедж, весь мусор за собой вывезли, а что поменьше оставили. Своими силами было не потянуть, плюс нужно было прогенералить, вымыть окна и полы и т.д. Сосед посоветовал Стандарт. Менеджер приехал оценить, посоветовал как что сэкономить, договорились в общем. Убрали за полтора дня, сотрудники работали быстро, я только показал где кран с водой и приехал принять уборку на следующий день. Пол, окна, стены и фасад - ничего не забыли не пропустили. Рекомендую.', 'img': '../img/review__Andrej.jpg'},
		]

	- var h2 = 'Цены на уборку дома после ремонта'
	//- mixin pricetable
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = [
				['После ремонта', 'от 90 р. /м²', 'от 90 р. /м²', 'от 90 р. /м²', 'договорная']
		]


block seotext
	.title
		h2 Уборка дома после ремонта
	.descr
		p Живя в городе, сложно не грезить о загородном доме, правда? Но если вы читаете эту статью, то, выходит, дом у вас уже есть. Осталось только, как в той сказке, превратить его из гадкого утёнка в прекрасного лебедя, хорошенько убрав после ремонта. В этом мы, клининговая компания «Стандарт», и видим своё призвание. Мы не из тех, кто тянет время, копается в личных вещах клиента или полчаса гладит собаку во дворе. Работаем чётко, быстро, убираем только то, что необходимо. Используем химические средства, которые не навредят обитателям дома и что не менее важно — ничуть не испортят свежий ремонт. Готовы начать уборку сразу же, как только дом покинет последний строитель. Тонны мусора, пыли и загрязнений, от которых, казалось, нереально избавиться, останутся в прошлом. Без всякого преувеличения можем сказать, что благодаря нашей уборке дома после ремонта можно смело приглашать гостей на новоселье! Круто ведь устроить незабываемую вечеринку в честь такого значимого события, правда? А после — мы снова всё приберём и вернём дому кристальную чистоту.
		p Наверняка вам интересно, что же входит в уборку дома после ремонта. Поэтому кратко пройдёмся по стандартному списку наших работ:
		ul
			li Моем половое покрытие, стены и потолки;
			li Моем окна, рамы, подоконники, отливы, откосы;
			li Моем двери, дверные косяки;
			li Чистим мебель;
			li Удаляем всевозможные следы былого ремонта;
			li Дезинфицируем и убираем санузел;
		p Вывозим строительный мусор за территорию вашего участка. Если с какими-то из перечисленных выше задач вы в силах справиться сами — пожелаем удачи, поможем советом, не будем навязывать свои услуги. И, напротив, если вам дополнительно потребуется вычистить вольер у любимого пса, выдраить до блеска бассейн или навести порядок в тренажёрном зале — можете на нас рассчитывать. Стоимость уборки дома после ремонта рассчитывается индивидуально для каждого клиента. Каким образом? Наш менеджер выезжает на точку и оценивает объём предстоящих работ. Всё это он делает бесплатно и оперативно. Так, вы ещё до начала работ будете знать их точную стоимость.
