extends ../_templates/_template_service

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-domov/uborka-zagorodnyh-domov'
	- var title = 'Уборка загородных домов в Жуковском'
	- var metaDescr = 'Уборка загородных домов в Жуковском с гарантией качества и безопасности помещения'
	- var ogImage = 'img/kottedzh5.jpg'
	- var h1 = 'Уборка загородных домов в Жуковском'
	- var h1Descr = 'Все виды уборки коттеджей для любых ситуаций и случаев: после строителей, после праздника, в помощь мамам с детьми и других ситуаций'
	- var bcCat = 'Уборка коттеджа'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-domov/'
	- var bc = 'Уборка загородных домов'
	- var category = "doma"

	- var mainBackground = 'img/dacha.jpg'
	- var formBackground = 'img/kottedzh4-1680.jpg'


	-
		var otzyvy = [
				{'name': 'Анастасия', 'descr': 'Два дня назад закончили уборку нашего дома. Вас посоветовали соседи, созвонилась и договорились. Уборка шла два дня, я приехала с супругом только к вечеру на второй день. Понравилось то, что под ножки стремянок и лесов положили тряпочки и картон, по-честному залазили на леса и протирали бревна и люстру, у нас второй свет. Прораб долго потом смотрел пол, но без проблем. В общем, убрали все хорошо и самое главное аккуратно, мы довольны.', 'img': '../img/review__Anastasiya.jpg'},
				{'name': 'Карина', 'descr': 'Когда мы делали ремонт в однокомнатной квартире, я справилась с уборкой сама. Но после ремонта коттеджа уборка для нас оказалась непосильным трудом. Искали долго, в итоге выбрали Стандарт. Цена получилась ниже. Девушка быстро посчитала стоимость, а на следующий день приехал менеджер уточнил цену - получилось даже меньше. Клинеры тоже не подвели - чувствовалось, что хорошо знают свое дело.', 'img': '../img/review__Karina.jpg'},
				{'name': 'Андрей', 'descr': 'Мне строители возвели хороший коттедж, весь мусор за собой вывезли, а что поменьше оставили. Своими силами было не потянуть, плюс нужно было прогенералить, вымыть окна и полы и т.д. Сосед посоветовал Стандарт. Менеджер приехал оценить, посоветовал как что сэкономить, договорились в общем. Убрали за полтора дня, сотрудники работали быстро, я только показал где кран с водой и приехал принять уборку на следующий день. Пол, окна, стены и фасад - ничего не забыли не пропустили. Рекомендую.', 'img': '../img/review__Andrej.jpg'},
				{'name': 'Евгений', 'descr': 'Отличный сервис. Обращаюсь не в первый раз, как правило заказываю раз в три месяца генералку дома. Окна моют отлично, уборка всегда на высоком уровне. Нареканий нет, все отодвинут, залезут протрут, по времени не быстро, но они и убирают тщательно. Рекомендую вас всем друзьям.', 'img': '../img/review__Evgenij.jpg'},
				{'name': 'Владимир', 'descr': 'Заказывали здесь уборку дома после проведения вечеринки. Выполнили быстро, а что самое важное качественно. Нам не пришлось тратить самим время на уборку. Сразу видно- работают профессионалы!', 'img': '../img/review__Vladimir.jpg'},
				{'name': 'Светлана', 'descr': 'Давно пользуюсь услугами данной компании. Качество уборки всегда на 5+👍Быстро и качественно! Молодцы ребята!', 'img': '../img/review__Svetlana.jpg'},
				{'name': 'Маргарита', 'descr': 'Пользовались услугами частной уборщицы. А сын в подарок нам заказал генеральную уборку в клининговой компании. Разница конечно сильная - ничего не пахнет, даже пылится меньше - у них какая-то специальная химия. А для частников она дорого выходит. Вот мы и начали в Стандарте уборки заказывать.', 'img': '../img/review__Margarita.jpg'},
				{'name': 'Светлана', 'descr': 'Сказать, что я осталась довольна, не сказать ничего! Я просто в восторге! Вы настоящие профессионалы своего дела! Всё на высшем уровне! Буду с удовольствием пользоваться и дальше вашими услугами! Ваша компания настоящая палочка-выручалочка для занятых людей!!!', 'img': '../img/review__Svetlana1.jpg'},
				{'name': 'Владимир', 'descr': 'Нужно было быстро убраться в квартире к приходу гостей. Позвонила накануне – нашли время. Все сделали быстро и качественно. Ума не приложу, как раньше жили без таких сервисов. Спасибо, вы очень облегчаете жизнь.', 'img': '../img/review__Vladimir.jpg'},
		]
		//- mixin subservices
	-
		var subservices = [
				{'name': 'Экспресс-уборка коттеджа', 'price': 'от 3 500 р.', 'img': '../img/kottedzh5-high-480.jpg', 'pageUrl': '../uborka-domov/ekspress-uborka-doma', 'popup': 'service1'},
				{'name': 'Регулярная уборка дома', 'price': 'от 3 000 р.', 'img': '../img/kottedzh3-high-480.jpg', 'pageUrl': '../uborka-domov/regulyarnaya-uborka-doma', 'popup': 'service2'},
				{'name': 'Генеральная уборка дома', 'price': 'от 6 000 р.', 'img': '../img/kottedzh2-high-480.jpg', 'pageUrl': '../uborka-domov/generalnaya-uborka-doma', 'popup': 'service3'},
				{'name': 'После ремонта коттеджа', 'price': 'от 90 р. / м²', 'img': '../img/uborka-kvartir-posle-remonta-high-480-1.jpg', 'pageUrl': '../uborka-domov/uborka-kottedzha-posle-remonta', 'popup': 'service4'},
		]

	- var priceH2 = 'Цены на уборку коттеджа'

	//- mixin pricetable
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = [
				['Постоянная', '3 000 р.', '3 500 р.', '4 000 р.', '4 500 р.'],
				['Постоянная без химии', '2 500 р.', '3 000 р.', '3 500 р.', '4 000 р.'],
				['Экспресc', '3 500 р.', '4 000 р.', '5 000 р.', 'договорная'],
				['Генеральная', '6 000 р.', '8 000 р.', '9 000 р.', 'договорная'],
				['После ремонта', 'от 90 р. /м²', 'от 90 р. /м²', 'от 90 р. /м²', 'договорная'],
		]


block seotext
	.title
		h2 Уборка загородного Дома
	.descr
		p Загородный дом — мечта для жителя мегаполиса. Однако только с его приобретением приходит осознание того, как много сил и времени придётся вложить, чтобы более или менее поддерживать порядок. На самом деле, без всякого преувеличения, на уборку загородного дома придётся потратить минимум сутки! Готовы ли вы на такие жертвы ради чистоты? Можете не отвечать. Без раздумья обращайтесь за помощью к нам.
		p Клининговая компания «Стандарт» — это не просто группа людей, которая помогает избавиться от беспорядка во всём доме. Мы стараемся преобразить окружающее вас пространство, чтобы каждый уик-энд, проведённый в загородном доме, стал незабываемым. Для этого наши специалисты используют профессиональное оборудование в сочетании с инновационными моющими средствами.Уборка загородного дома — в целом, занятие не из лёгких. Однако мы умеем с ним справляться. Вам останется лишь определиться с тем, какой вид уборки вам необходим: ежедневная, генеральная, после строительства, после ремонта или экспресс-уборка.
		p Так, ежедневную уборку советуем выбрать тем, кому лень убирать в своём уютном гнездышке, где несмотря на всё проводите большую часто своего времени.
		p Генеральная уборка загородного дома особенно актуальна для противников ежедневной. В принципе, 1 раз в месяц впускать к себе на территорию мастеров клининга достаточно, если вы приезжаете в загородный дом время от времени, а не живёте там постоянно.
		p Ну про строительство и ремонт — без комментариев. Это такие переломные этапы в жизни владельца дома, когда бесконечное преображение наконец-то завершилось, но насладиться её красотой не позволяют горы строительного мусора.
		p Экспресс-уборка подойдёт тем, кто устроил вечеринку в тайне от родителей и хочет наутро уничтожить все улики ночного веселья. Также она будет актуальна, если у вас есть гости, которые предупреждают о своём намерении к вам заехать, будучи в пути.
		p В заключение добавим: время вашей жизни бесследно уходит вспять, пока вы моете посуду, стираете шторы или подметаете пол. Пусть каждый занимается любимым делом. Одно из наших любимых дел — уборка загородных домов. Мы наводим чистоту, чтобы вам было комфортно находиться в стенах своего жилища. Стоимость клининга определяется в индивидуальном порядке нашим менеджером. Он может выехать на осмотр объекта в любое удобное для вас время.
