extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	//- meta info
	- var pageUrl = '/uborka-kvartir/bystraya-uborka-kvartiry'
	- var title = 'Экспресс-уборка квартир - что входит и цены - Клининговая компания «Стандарт»'
	- var metaDescr = 'Быстрая разовая уборка включает больше пунктов, чем регулярная. Эффективный способ подготовиться к приходу гостей или убраться после.'
	- var ogImage = 'img/uborka-kvartir-posle-remonta1.jpg'
	//- Indentification for mixins
	- var category = 'kvartiry'
	- var cleaningType = "express"
	- var nestingLevel = '2'
	//- Page Variables
	- var bcCat = 'Уборка квартир'
	- var bcCatUrl = '/uborka-kvartir/'
	- var bc = 'Быстрая уборка квартир'

	- var h1 = 'Экспресс уборка квартир в Жуковском'
	- var h1Descr = 'Быстрая и эффективная уборка перед приходом гостей или после праздника. Освежает квартиру и занимает минимум времени.'

	- var mainBackground = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
	- var formBackground = 'img/generalnaya-uborka-kvartir.jpg'


	//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Владимир', 'descr': 'Нужно было быстро убраться в квартире к приходу гостей. Позвонила накануне – нашли время. Все сделали быстро и качественно. Ума не приложу, как раньше жили без таких сервисов. Спасибо, вы очень облегчаете жизнь.', 'img': '../img/review__Vladimir.jpg'},
				{'name': 'Ольга', 'descr': 'Отмечали День Рождения в доме, на следующий день, чтобы не тратить время на уборку, заказали выезд клининговой компании. В дополнение к уборке попросили вымыть гору посуды. Отлично спасают такие компании после шумных вечеринок', 'img': '../img/review__Olga.jpg'},
		]
	//- mixin pricetable
	- var pricetableH2 = 'Цены на экспресс-уборку по количеству комнат'
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['Экспресc', '2 500 р. ', '3 000 р. ', '3 500 р. ', '30 р. /м² '],
		]



block seotext
	.title
		h2 Быстрая уборка квартиры
	.descr
		p Подойдёт тем, кому необходимо очень быстро навести косметическое преображение квартиры перед приходом гостей или после незабываемой вечеринки.  Она состоит из влажной уборки полов, удаления пыли со всех поверхностей, мойки зеркал, чистки ковров и мебели пылесосом и вынос до 10 кг мусора.
