extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-kvartir/generalnaya-uborka-vannoy-komnaty'
	- var title = 'Генеральная уборка ванной комнаты от 2 500 р.'
	- var metaDescr = 'Генеральная уборка ванной комнаты, душевой и санузла от 2 500 рублей в Жуковском. Удобные условия и акции для наших клиентов.'
	- var ogImage = 'img/generalnaya-uborka-vannoy.jpg'
	- var h1 = 'Генеральная уборка ванной от 2 500 р.'
	- var h1Descr = 'Комплексная уборка каждого угла в ванной – пол, стены, техника, душевая. Отлично обновляет помещения после жильцов или перед продажей'
	- var bcCat = 'Уборка квартир'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-kvartir/'
	- var bc = 'Генеральная уборка ванной комнаты'
	- var category = 'kvartiry'
	- var cleaningType = 'general'
	-
		var otzyvy = [
				{'name': 'Ольга', 'descr': 'Мыли квартиру для нашей бабушки. За самоотверженный (во всех смыслах) труд, я благодарю девушек из Стандарта. А то что еще и сама бабушка осталась довольной (а у нас она ой какая капризная, поэтому так долго и не позволяла ей нормально порядок сделать) это прямо невероятно!', 'img': '../img/review__Olga.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': '../img/review__Tanyushka.jpg'},
				{'name': 'Ольга', 'descr': 'Все очень хорошо убрали! Заказывала генеральную уборку квартиры по акции, убирали около 6 часов, но все отмыли и навели порядок. Некоторые загрязнения я думала вообще не уйдут, но девочки все очистили. Спасибо вам!', 'img': '../img/review__Olga1.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': '../img/review__Valerij.jpg'},
		]

	- var formBackground = 'img/generalnaya-uborka-vannoy.jpg'
	- var mainBackground = 'img/gen-vannaya.jpg'


block seotext
	.title
		h2 Генеральная уборка ванной
	.descr
		p Уборка ванной подходит если надо привести в порядок ванную комнату или санузел после длительного использования. Поможет избавиться от запахов, плесени, разводов и известковых отложений. Сантехника и зеркала засияют, стекла станут прозрачными, пол и стены вернут чистоту как после ремонта. К тому же вам придется тратить меньше сил на регулярную уборку в дальнейшем.
		p Обычно генеральная уборка ванной включена в услугу Генеральной уборки квартиры или дома, но иногда её заказывают отдельно по обстоятельствам.
		p Мы включили в стоимость уборки максимальный объём работ, чтобы вы сразу знали сколько стоит чистота всей ванной комнаты. Однако при серьезных загрязнениях нам нужно будет взять больше средств или даже специальное оборудование. Поэтому если вы считаете, что каким-то местам надо уделить больше внимания, то скажите об этом нашему менеджеру. Он поможет сориентироваться.
		p Если вы волнуетесь за безопасность наших средств для уборки, то мы можем похвалиться – мы используем немецкие средства KEIHL и технику Kercher – лидеров отрасли клининга. А наши сотрудники проходят специальное обучение по работе с различными поверхностями и материалами.

