extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-kvartir/generalnaya-uborka-kuhni'
	- var title = 'Генеральная уборка кухни от 3 000 р.'
	- var metaDescr = 'Генеральная уборка кухни с обезжиривание в Жуковском с мойкой холодильника, плиты, микроволновки, духового шкафа. Безопасные средства и оплата по результату'
	- var ogImage = 'img/gen-kukhnya2.jpg'
	- var h1 = 'Генеральная уборка кухни от 3 000 р.'
	- var h1Descr = 'Комплексная уборка кухни: шкафы, столы, рабочие поверхности, очистка от жира “фартука”, плиты и духовых шкафов. Преображает даже самую запущенную кухню.'
	- var bcCat = 'Уборка квартир'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-kvartir/'
	- var bc = 'Генеральная уборка кухни'
	- var category = 'kvartiry'
	- var cleaningType = 'general'
	-
		var otzyvy = [
				{'name': 'Ольга', 'descr': 'Мыли квартиру для нашей бабушки. За самоотверженный (во всех смыслах) труд, я благодарю девушек из Стандарта. А то что еще и сама бабушка осталась довольной (а у нас она ой какая капризная, поэтому так долго и не позволяла ей нормально порядок сделать) это прямо невероятно!', 'img': '../img/review__Olga.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': '../img/review__Tanyushka.jpg'},
				{'name': 'Ольга', 'descr': 'Все очень хорошо убрали! Заказывала генеральную уборку квартиры по акции, убирали около 6 часов, но все отмыли и навели порядок. Некоторые загрязнения я думала вообще не уйдут, но девочки все очистили. Спасибо вам!', 'img': '../img/review__Olga1.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': '../img/review__Valerij.jpg'},
		]

	- var mainBackground = 'img/gen-kukhnya2.jpg'
	- var formBackground = 'img/gen-kukhnya2.jpg'


block seotext
	.title
		h2 Генеральная уборка кухни
	.descr
		p Обычно эта услуга входит в генеральную уборку дома или квартиры, но нередко её заказывают отдельно. Она направлена на приведение в порядок кухонь, когда не требуется генеральная уборка остальных комнат. Это логично ведь в кухне мы готовим и в большинстве случаев едим, а значит остаются следы масла в районе плиты и духовки, крошки и пыль в шкафчиках и под кухонными шкафами, после мытья посуды могут появиться разводы и отложения в холодильнике, на сантехнике и раковине.
		p И если каждый раз всё это убирать, то на остальную жизнь сил может и не хватить. Вот здесь мы и приходим на помощь. То что мы назваем обезжириванием – выглядит как чудо – буквально на глазах от желтоватого налета остается чистая поверхность фартука и плиты, внутренности духовых шкафов и микроволновок возвращают свой изначальный цвет, шкафчики и пол сияют. И да, мы используем материалы не травмирующие поверхности.
		p Кроме того мы используем средства немецкой компании KEIHL, которые работают и после уборки и на какое-то время облегчают поддержание чистоты. Меньше липнет масло и пыль, поверхности легче оттираются. При этом средства безопасны для здоровья и окружающей среды.
		p #[b] Если вы с ужасом смотрите на кухню и не представляете как вернуть ей чистоту, или попросту хотите чуть больше времени подарить себе или своим близким, то смело обращайтесь к нам. У нас замечательные менеджеры, которые помогут вам со всеми мелочами и вопросами.

