extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/generalnaya-uborka-kuhni'
	- var mainpage = ''
	- var title = 'Генеральная уборка кухни от 3 000 р.'
	- var metaDescr = 'Генеральная уборка кухни с обезжиривание в Раменском с мойкой холодильника, плиты, микроволновки, духового шкафа. Безопасные средства и оплата по результату'
	- var ogImage = 'img/gen-kukhnya2.jpg'
		//- main screen
	- var h1 = 'Генеральная уборка кухни от 3 000 р.'
	- var h1Descr = 'Комплексная уборка кухни: шкафы, столы, рабочие поверхности, очистка от жира “фартука”, плиты и духовых шкафов. Преображает даже самую запущенную кухню.'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Генеральная уборка кухни от 3 000 р.'
		//- backgrounds
	- var mainBackground = 'img/gen-kukhnya2.jpg'
	- var formBackground = 'img/gen-kukhnya2.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'general'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Ольга', 'descr': 'Мыли квартиру для нашей бабушки. За самоотверженный (во всех смыслах) труд, я благодарю девушек из Стандарта. А то что еще и сама бабушка осталась довольной (а у нас она ой какая капризная, поэтому так долго и не позволяла ей нормально порядок сделать) это прямо невероятно!', 'img': '""../img/review__Olga.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': '""../img/review__Tanyushka.jpg'},
				{'name': 'Ольга', 'descr': 'Все очень хорошо убрали! Заказывала генеральную уборку квартиры по акции, убирали около 6 часов, но все отмыли и навели порядок. Некоторые загрязнения я думала вообще не уйдут, но девочки все очистили. Спасибо вам!', 'img': '""../img/review__Olga1.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': '""../img/review__Valerij.jpg'},
		]
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['Постоянная', '2 000 р. ', '2 500 р. ', '3 000 р. ', 'от 25 р. /м² '],
				['Постоянная без химии', '1 700 р. ', '2 200 р. ', '2 700 р. ', 'договорная '],
				['Экспресc', '2 500 р. ', '3 000 р. ', '3 500 р. ', '30 р. /м² '],
				['Генеральная', '4 000 р. ', '5 000 р. ', '6 000 р. ', '60 р. /м² '],
				['После ремонта', '5 000 р. ', '6 000 р. ', '7 000 р. ', '70 р. /м² '],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Генеральная уборка кухни
			.descr
				p.
					 Для генеральной уборки кухни пригодятся перчатки, специальная химия и мужество. Мы, конечно, шутим, но доля правды здесь есть. Особенно если за кухней не ухаживали несколько месяцев, и на шкафах, технике и в вытяжке появился слой жира Мы рекомендуем проводить генеральную уборку с обезжириванием кухни примерно один-два раза в год. Тогда тяжёлые запахи не будут накапливаться, а поверхности будут приятными на ощупь.
				p Самостоятельно убрать кухню можно. Но без профессиональной химии, парогенераторов и других средств, которые стоят ощутимую сумму, вам понадобится целый день. Или придётся отложить часть работы на другой свободный день. Согласитесь звучит немного грустно, особенно для кожи рук. И если вы считаете, что хорошая хозяйка обязана сама всё убирать, а не вызывать клининг, то вы можете посмотреть отзывы наших постоянных клиенток. Поверьте, у вас появится больше времени и сил, чтобы заботиться о своём доме, ведь одной лишь уборкой не обойтись.
				p Услуга входит в генеральную уборку квартиры или дома, но мы выделили её в дополнительную услугу, чтобы вы могли заказать её вместе с поддерживающей уборкой. Это было верным решением — наши клиенты стали чаще заказывать её как дополнение. Также уборку кухни с обезжириванием заказывают после переезда или после квартирантов. Мало кому в радость оттирать пыль и масляные пятна, оставшиеся от других людей.
				p Если в чём-то есть сомнения или вам сложно оценить какой уборки вам будет достаточно — звоните нам и девушки помогут разобраться и посчитать стоимость уборки.
