extends _templates/_template_subservice

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/generalnaya-uborka-vannoy'
	- var mainpage = ''
	- var title = 'Генеральная уборка ванной комнаты от 2 500 р.'
	- var metaDescr = 'Генеральная уборка ванной комнаты, душевой и санузла от 2 500 рублей в Раменском. Удобные условия и акции для наших клиентов.'
	- var ogImage = 'img/gen-vannaya-1.jpg'
		//- main screen
	- var h1 = 'Генеральная уборка ванной от 2 500 р.'
	- var h1Descr = 'Тщательная уборка ванной комнаты с мытьём стен, удалением налёта и разводов. Можно заказать как дополнительную услугу.'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Генеральная уборка ванной от 2 500 р.'
		//- backgrounds
	- var mainBackground = 'img/generalnaya-uborka-vannoy.jpg'
	- var formBackground = 'img/gen-vannaya.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'general'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Ольга', 'descr': 'Мыли квартиру для нашей бабушки. За самоотверженный (во всех смыслах) труд, я благодарю девушек из Стандарта. А то что еще и сама бабушка осталась довольной (а у нас она ой какая капризная, поэтому так долго и не позволяла ей нормально порядок сделать) это прямо невероятно!', 'img': '""../img/review__Olga.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': '""../img/review__Tanyushka.jpg'},
				{'name': 'Ольга', 'descr': 'Все очень хорошо убрали! Заказывала генеральную уборку квартиры по акции, убирали около 6 часов, но все отмыли и навели порядок. Некоторые загрязнения я думала вообще не уйдут, но девочки все очистили. Спасибо вам!', 'img': '""../img/review__Olga1.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': '""../img/review__Valerij.jpg'},
	]
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['Постоянная', '2 000 р. ', '2 500 р. ', '3 000 р. ', 'от 25 р. /м² '],
				['Постоянная без химии', '1 700 р. ', '2 200 р. ', '2 700 р. ', 'договорная '],
				['Экспресc', '2 500 р. ', '3 000 р. ', '3 500 р. ', '30 р. /м² '],
				['Генеральная', '4 000 р. ', '5 000 р. ', '6 000 р. ', '60 р. /м² '],
				['После ремонта', '5 000 р. ', '6 000 р. ', '7 000 р. ', '70 р. /м² '],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Генеральная уБорка ванной комнаты
			.descr
				p Довольно просто звучит и так сложно выполнить Поэтому мы выделили эту услугу в дополнительные, чтобы вы могли заказать генеральную уборку ванной, когда она потребуется, даже если вы заказали поддерживающую уборку.
				p Часто в клининговую компанию обращаются после попыток самостоятельно очистить поверхности от известкового камня или другого налета, даже с чистящими средствами это тяжёлый труд. В этот момент приходит мысль что что-то не так и должен быть секрет, что спасет ваше время и вернет чистоту ванной комнате.
				p Секрет есть – профессиональное оборудование и специальные моющие средства для каждого типа поверхности и загрязнений. Всё это стоит приличную сумму и всё равно тратит ваше время. На этом этапе внимательная хозяйка уже может сравнить затраты на покупку химии, защитных перчаток, приличного инвентаря и стоимость услуги уборки ванной у нас. Плюс время работы наших клинеров становится вашим свободным временем.
				p Отдельно о наших клинерах: все наши работницы проходят подготовку и умеют правильно подбирать средства, знают как выполнить работу быстро и на отлично. Поэтому они сделают уборку ванной в быстрее и легче.
				p А если есть сомнения подойдет ли вам наша услуга и как лучше всё устроить, то смело звоните нашим девушкам — они проконсультируют по любому вопросу и помогут разобраться в вашей конкретной ситуации.
