extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/generalnaya-uborka-kvartiry'
	- var mainpage = ''
	- var title = 'Генеральная уборка квартир недорого - цены от 4000 рублей в Раменском'
	- var metaDescr = 'Генеральная уборка квартиры в Раменском - цены и что входит в услугу. Полная уборка квартиры с кухней и ванной. Чистота и приятный запах вместо пыли и жирных пятен.'
	- var ogImage = 'img/generalnaya-uborka-kvartir-1680-1.jpg'
		//- main screen
	- var h1 = 'Генеральная уборка квартиры в Раменском'
	- var h1Descr = 'Быстрая и эффективная уборка перед приходом гостей или после праздника. Освежает квартиру и занимает минимум времени.'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Генеральная уборка квартиры в Раменском'
		//- backgrounds
	- var mainBackground = 'img/generalnaya-uborka-kvartir.jpg'
	- var formBackground = 'img/uborka-kvartir-posle-remonta1.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'general'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Ольга', 'descr': 'Мыли квартиру для нашей бабушки. За самоотверженный (во всех смыслах) труд, я благодарю девушек из Стандарта. А то что еще и сама бабушка осталась довольной (а у нас она ой какая капризная, поэтому так долго и не позволяла ей нормально порядок сделать) это прямо невероятно!', 'img': '""../img/review__Olga.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': '""../img/review__Tanyushka.jpg'},
				{'name': 'Ольга', 'descr': 'Все очень хорошо убрали! Заказывала генеральную уборку квартиры по акции, убирали около 6 часов, но все отмыли и навели порядок. Некоторые загрязнения я думала вообще не уйдут, но девочки все очистили. Спасибо вам!', 'img': '""../img/review__Olga1.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': '""../img/review__Valerij.jpg'},
		]
		//- mixin pricetable
	- var priceH2 = 'Цены на генеральную уборку по количеству комнат'
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['Постоянная', '2 000 р. ', '2 500 р. ', '3 000 р. ', 'от 25 р. /м² '],
				['Постоянная без химии', '1 700 р. ', '2 200 р. ', '2 700 р. ', 'договорная '],
				['Экспресc', '2 500 р. ', '3 000 р. ', '3 500 р. ', '30 р. /м² '],
				['Генеральная', '4 000 р. ', '5 000 р. ', '6 000 р. ', '60 р. /м² '],
				['После ремонта', '5 000 р. ', '6 000 р. ', '7 000 р. ', '70 р. /м² '],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Генеральная уборка квартиры
			.descr
				p Жизнь диктует свои правила, и далеко не каждый житель Раменского может похвастаться сегодня тем, что ему вполне хватает времени и на работу, и на ведение домашнего хозяйства, и на семью… Приходится расставлять приоритеты, правильно распределять время своей жизни. В такой ситуации уборка часто отходит на второй план, как самый малозначимый элемент в иерархии важных дел. Однако последствия такого добровольного выбора негативно сказываются на самочувствии обитателей квартиры и эмоциональном настрое. Пыль и грязь не прибавляют уюта, да и гостей в неряшливые комнаты не позовёшь… Именно поэтому клининговая компания «Стандарт» сформировала для вас заманчивое предложение — генеральную уборку квартиры. Больше никаких сантиметровых слоёв пыли, разводов и грязных пятен на зеркалах, комков грязи за кроватью или жирных капель на кухонной плите. Мы гарантируем безукоризненную чистоту вашей квартиры в Раменском.Думаем, настало время подробнее поговорить о том стандартном перечне услуг, который мы включаем в понятие «генеральная уборка квартиры»:
				ul
					li уничтожение пыли и загрязнений с пола, ковровых покрытий и мягкой мебели при помощи пылесоса;
					li организуем подбор необходимых химических средств, подходящих непосредственно для вашей квартиры и с учётом специфики и текстуры разнообразных поверхностей;
					li влажная уборка полов, зеркал, подоконников, предметов меблировки, розеток, дверей и иных объектов интерьера;
					li удаление пыли и грязи влажной тряпкой с предметов мебели, а также с труб и проводов;
					li борьба с неприятными запахами в квартире;
					li вынос мелкого мусора общей массой не более 10 кг.
				p Также хочется отметить, что мы всегда открыты к диалогу и вы в индивидуальном порядке можете выразить все свои пожелания специалистам нашей компании. Мы обязательно примем их во внимание и постараемся приятно удивить вас безупречным результатом нашей работы. И всё это по демократичной цене! Кстати, если вам необходимо рассчитать точную стоимость генеральной уборки вашей квартиры в Раменском, то достаточно просто вызвать нашего менеджера. Он оперативно приедет на объект, оценит масштабы предстоящего клининга и назовёт максимально точную сумму за услуги специалистов компании «Стандарт».
				p * Рекомендуем проводить генеральную уборку квартиры один раз в месяц или не реже четырёх раз в год.
