extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-kvartir/regulyarnaya-uborka-kvartiry'
	- var title = 'Регулярная уборка квартир - что входит и цены'
	- var metaDescr = 'Уборка квартиры на постоянной основе поддержит чистоту, порядок и сохранит ваше время и силы. Лучшие комплексные предложения от клининговой компании Стандарт'
	- var ogImage = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
	- var h1 = 'Регулярная уборка квартир в Жуковском'
	- var h1Descr = 'Уборка на постоянной основе нацелена на сохранение ваших времени и сил, помогает поддерживать чистоту и порядок в квартире. Может проводиться в ваше отсутствие'
	- var bcCat = 'Уборка квартир'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-kvartir/'
	- var bc = 'Регулярная уборка квартир'
	- var category = "kvartiry"
	- var cleaningType = "regular"

	-
		var otzyvy = [
				{'name': 'Tata', 'descr': 'Спасибо большое за уборки! Они просто спасают!', 'img': '../img/review__Tata.jpg'},
				{'name': 'Александр', 'descr': 'Вызывал на уборку квартиры. Все требования и пожелания были учтены. Очень порадовала цена и качество уборки. Всем рекомендую.', 'img': '../img/review__Aleksandr.jpg'},
				{'name': 'Ольга', 'descr': 'Если кто из раменского или жуковского, то очень рекомендую Стандарт. Они уже месяцев 5 у нас убирают - аккуратные барышни, пылесосы тихие, все чистенькое. Ничего лишнего не делают, убрали быстро (минут 15) и до следующей недели))', 'img': '../img/review__Olga2.jpg'},
		]

	//- mixin pricetable
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['Постоянная', '2 000 р. ', '2 500 р. ', '3 000 р. ', 'от 25 р. /м² '],
				['Постоянная без химии', '1 700 р. ', '2 200 р. ', '2 700 р. ', 'договорная ']
		]

	- var mainBackground = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
	- var formBackground = 'img/inner-form-bg.jpg'




block seotext
	.title
		h2 Постоянная уборка квартиры
	.descr
		p Поддерживающая чистоту уборка, проводится на регулярной основе. Обеспечивает поддержание здорового климата в помещениях, предотвращает накопление пыли и грязи!
		p Отличается от экспресс-уборки тем, что дополнительно поддерживается в постоянной чистоте плита, кухонный гарнитур.
		p При заключении договора на еженедельную уборку сроком на 1 год, 2 генеральные уборки и мытье остекления 2 раза в год производятся бесплатно, тем самым мы обеспечиваем комплексное обслуживание вашего дома без дополнительных затрат.

		h4 Почему профессиональная уборка выгодна
		p Бессмысленно спорить, кто лучше сошьет брюки – швея или домохозяйка, которая любит шить, все и так понятно. Технологичное оборудование, хорошие средства для чистки и внимательные, умелые работники гарантируют качественную уборку вашей квартиры. Разрешите себе отдохнуть, пусть уборку в вашей квартире сделают те, кто это умеет делать на «отлично». Прийти после загородной поездки в чистый уютный дом – это ли не радость, так позвольте нам помочь в этом. Потратив небольшую сумму, вы обеспечите себе возможность провести время так, как хотите.
