extends _templates/_template_subservice

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/regulyarnaya-uborka-kvartiry'
	- var mainpage = ''
	- var title = 'Регулярная уборка квартиры'
	- var metaDescr = 'Необходимая уборка квартиры не оставляет свободного времени для полноценного отдыха? Закажите услугу «Регулярная уборка» в клининговой компании, и просто занимайтесь любимыми делами.'
	- var ogImage = 'img/podderzhivayuschaya-uborka-kvartiry-1680.jpg'
		//- main screen
	- var h1 = 'Регулярная уборка квартир в Раменском'
	- var h1Descr = 'Уборка на постоянной основе нацелена на сохранение ваших времени и сил, помогает поддерживать чистоту и порядок в квартире. Может проводиться в ваше отсутствие'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Регулярная уборка квартир в Раменском'
		//- backgrounds
	- var mainBackground = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
	- var formBackground = 'img/inner-form-bg.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'regular'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Tata', 'descr': 'Спасибо большое за уборки! Они просто спасают!', 'img': '""../img/review__Tata.jpg'},
				{'name': 'Александр', 'descr': 'Вызывал на уборку квартиры. Все требования и пожелания были учтены. Очень порадовала цена и качество уборки. Всем рекомендую.', 'img': '""../img/review__Aleksandr.jpg'},
				{'name': 'Ольга', 'descr': 'Если кто из раменского или жуковского, то очень рекомендую Стандарт. Они уже месяцев 5 у нас убирают - аккуратные барышни, пылесосы тихие, все чистенькое. Ничего лишнего не делают, убрали быстро (минут 15) и до следующей недели))', 'img': '""../img/review__Olga2.jpg'},
	]
		//- mixin pricetable
	- var priceH2 = 'Цены на регулярную уборку по количеству комнат'
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['Постоянная', '2 000 р. ', '2 500 р. ', '3 000 р. ', 'от 25 р. /м² '],
				['Постоянная без химии', '1 700 р. ', '2 200 р. ', '2 700 р. ', 'договорная '],
				['Экспресc', '2 500 р. ', '3 000 р. ', '3 500 р. ', '30 р. /м² '],
				['Генеральная', '4 000 р. ', '5 000 р. ', '6 000 р. ', '60 р. /м² '],
				['После ремонта', '5 000 р. ', '6 000 р. ', '7 000 р. ', '70 р. /м² '],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Как часто надо убирать квартиру
			.descr
				p В идеале – ежедневно, но для этого надо быть фанатом чистоты и гигиены, иметь массу времени. Работники клининговой компании сделают все гораздо быстрее, у них для этого есть специальное оборудование, отличное знание своей работы, навыки и опыт. Сотрудники компании проходят обучение, поэтому для них не проблема удалить пятна с ковра или вычистить желтый налет в ванне.
				p Разумеется, все можно сделать самостоятельно, но при этом потратится столько сил, что чистота в доме не принесет удовольствия. А убирать в квартире надо обязательно, проживание в городской среде дает не только комфорт и удобство, но и быстрое накопление пыли, которая провоцирует различные заболевания. Чем реже наводится чистота в доме, тем выше риск аллергических, бактериальных инфекций, ведь после улицы на обуви скапливается дорожная грязь и мелкий мусор. Если в квартире есть домашние животные, то уборка должна быть еженедельно, чтобы шерсть не скапливалась на ковре, в углах комнат.
				p По желанию заказчика в этот список можно включить уборку других помещений (балкона, лоджии, общей прихожей).
				p В зависимости от количества проживающих в квартире людей и необходимости поддержания определенного уровня чистоты, можно заказать уборку с разной периодичностью:
					ul
						li постоянная уборка (ежедневная);
						li уборка раз в неделю (еженедельная уборка);
						li уборка 2-3 раза в неделю;
						li уборка по вызову (после праздников, мероприятий, приемов).
				h3 Почему профессиональная уборка выгодна
				p Бессмысленно спорить, кто лучше сошьет брюки – швея или домохозяйка, которая любит шить, все и так понятно. Технологичное оборудование, хорошие средства для чистки и внимательные, умелые работники гарантируют качественную уборку вашей квартиры. Разрешите себе отдохнуть, пусть уборку в вашей квартире сделают те, кто это умеет делать на «отлично». Прийти после загородной поездки в чистый уютный дом – это ли не радость, так позвольте нам помочь в этом. Потратив небольшую сумму, вы обеспечите себе возможность провести время так, как хотите.
