extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/uborka-3h-komnatnoy-kvartiry'
	- var mainpage = ''
	- var title = 'Уборка 3х комнатной квартиры'
	- var metaDescr = 'Все виды уборок для трёхкомнатной квартиры от 3000 рублей: регулярная, экспресс, генеральная и после ремонта. Наведём чистоту бережно и с гарантией!'
	- var ogImage = 'img/generalnaya-uborka-kvartir-1680.jpg'
		//- main screen
	- var h1 = 'Уборка 3к квартиры от 3 000 р.'
	- var h1Descr = 'Комплексная уборка каждого угла в квартире – кухни, санузла, комнат и коридоров. Отлично обновляет помещения после жильцов или перед продажей'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Уборка 3к квартиры от 3 000 р.'
		//- backgrounds
	- var mainBackground = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
	- var formBackground = 'img/inner-form-bg.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'regular'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Tata', 'descr': 'Спасибо большое за уборки! Они просто спасают!', 'img': '../img/review__Tata.jpg'},
				{'name': 'Александр', 'descr': 'Вызывал на уборку квартиры. Все требования и пожелания были учтены. Очень порадовала цена и качество уборки. Всем рекомендую.', 'img': '../img/review__Aleksandr.jpg'},
				{'name': 'Ольга', 'descr': 'Если кто из раменского или жуковского, то очень рекомендую Стандарт. Они уже месяцев 5 у нас убирают - аккуратные барышни, пылесосы тихие, все чистенькое. Ничего лишнего не делают, убрали быстро (минут 15) и до следующей недели))', 'img': '../img/review__Olga2.jpg'},
		]
	-
		var thead = ['Уборка квартир', 'трехкомнатная <br/>от 71 до 100 м²',]
	-
		var tbody = [
				['После ремонта', '7 000 р. ']
		]

