.advantages-wrapper
	display: grid
	grid-template: auto / 1fr 1fr
	margin: 0 60px
	gap: 0 16px
	align-items: center
	+mq('sm')
		grid-template: auto auto / auto
		margin: 0 20px
		gap: 30px 0
	& .safety p
		font-size: 40px
		font-weight: 400
		max-width: 300px
		color: $c800
		align-self: center
		+mq('sm')
			width: 100%
			max-width: 480px
			font-size: 26px

	& .safety span
			color: $c500
	& .advantages-block
		display: grid
		grid-template: 1fr 1fr / 1fr 1fr
		gap: 16px 16px
		+mq('xs')
			grid-template: 1fr 1fr 1fr 1fr /auto
			gap: 10px 0
		& .advantages-item
			display: grid
			grid-template: 100px / auto auto
			gap: 0 16px
			align-items: center
			color: $c800
			font-size: 17px
			+mq('sm')
				font-size: 18px
			& img
				+mq('md')
					width: 60px
				+mq('xs')
					width: 100px

.section-advantages
	& .why-we-wrap
		display: grid
		grid-template: auto / repeat(4, 1fr)
		margin: 0 60px
		gap: 0 16px
		+mq('sublg')
			grid-template: 1fr 1fr / 1fr 1fr
			gap: 40px 30px
			margin: 0 60px
		+mq('sm')
			margin: 0 20px
		+mq('xs')
			margin: 0 10px
			grid-template: repeat(4, 1fr) / 1fr
			justify-items: center
			gap: 30px 0
		& .why-we-elem
			padding-left: 1em
			display: grid
			grid-template: 100px auto / auto
			+mq('sublg')
				grid-template: 100px / 100px auto
				max-width: 320px
				padding-left: 0
				padding-right: 16px
			+mq('xs')
				grid-template: 85px / 85px auto
				justify-self: left
				gap: 16px 10px
			& .picture
				color: $c300
				font-size: 64px
			& .picture img
				color: $c300
				height: 100%

			// & .title
			// 	color: $c700
			// 	font-size: 24px
			// 	+mq('sm')
			// 		font-size: 22px
			& .descr
				letter-spacing: .4px
				font-size: 18px
				+mq('sublg')
					align-self: center
