.section-calc
	padding-top: 0
	.container
		.tabs
			display: grid
			grid-template: auto auto / auto

			.tabs-nav
				width: 100%
				display: grid
				grid-template: auto / repeat(2, 1fr)
				border-left: 1px solid $c50
				border-right: 1px solid $c50
				border-bottom: 1px solid $c50
				margin: 0 auto
				+mq('sm')
					padding: 0 5px
				+mq('xs')
					width: 100%
					// grid-template: repeat(2, 1fr) / auto
					padding: 0

				.tabs-nav__item
					height: 100%
					border-bottom: 4px solid transparent
					cursor: pointer
					justify-self: stretch
					padding: 16px 10px
					align-content: center
					text-align: center
					color: $c700
					font-size: 17px
					font-weight: 400
					letter-spacing: .4px
					+mq('sm')
						padding: 16px 10px
					+mq('xs')
						padding: 15px 10px
						text-align: left
						border-left: 1px solid $c50
						border-bottom: 1px solid $c50

					&:hover
						background-color: $c50t
						border-bottom: 2px solid $c300
					&:first-child
						border-top-left-radius: 8px
					&:last-child
						border-top-right-radius: 8px
					&.is-active
						border-bottom: 4px solid $c300

			.tabs__content
				display: grid
				grid-template: auto / auto
				.tab
					width: 100%
					display: none
					+mq('sm')
						padding: 0
					.tab-wrapper
						padding: 20px 0
						width: 100%
						display: grid
						grid-template: auto auto / 1fr 1fr
						gap: 10px 40px
						+mq('sm')
							grid-template: auto / auto
							gap: 20px
						+mq('xs')
							grid-template: auto / auto
							gap: 20px 0

						.step
							display: grid
							gap: 20px 0
							align-items: center

						.step.one
							grid-template: 30px 50px / repeat(5, calc(100%/5))
							+mq('xs')
								grid-template: 40px repeat(5, 1fr) / auto
								gap: 0

						.step.two
							grid-template: 30px 50px / repeat(4, calc(100%/4))
							+mq('xs')
								grid-template: 40px repeat(4, 1fr) / auto
								gap: 0

						.one,.two

							input[type=radio]
								display: none
							p:first-child
								grid-column: 1 / -1
								font-size: 19px
							label
								background-color: $c20
								border: 1px solid $c50
								height: 100%
								display: grid
								cursor: pointer
								height: 50px
								&>*
									// overflow-wrap: break-word
									align-self: center
									hyphens: auto
									text-align: center
									font-weight: 400
									letter-spacing: .5px
									color: $c500
								&:hover
									background-color: $c50
							input:checked + label
								background-color: $c300
								&>*
									color: $c20
						label:nth-child(3)
							border-radius: 5px 0 0 5px
							+mq('xs')
								border-radius: 5px 5px 0 0
						label:last-child
							border-radius: 0 5px 5px 0
							+mq('xs')
								border-radius: 0 0 5px 5px

						.three
							margin-top: 40px
							grid-template: auto / repeat(2, calc(100%/2))
							align-items: start
							+mq('xs')
								margin-top: 10px
								grid-template: auto / auto
							& p:first-child
								grid-column: 1 / -1
								font-size: 19px
								span.small
									font-size: 0.7em
									font-weight: 300
									color: $cg
							& div
								display: grid
								grid-template: auto / 30px auto
								align-items: center
								justify-items: left

								label
									color: $c800
									font-size: 17px
									letter-spacing: .2px
									margin-bottom: 18px

									.dop-price
										font-size: 18px
										color: $c300

							& div>p
								color: $c500
								font-size: 19px
								font-weight: 600
								grid-column: 1 / -1

							div.dop-checkboxes > p:nth-child(6),
							div.dop-gen-checkboxes > p:nth-child(6)
								margin-top: 40px


							input[type="checkbox"] + label
								display: block
								position: relative
								cursor: pointer

							input[type="checkbox"] + label:before
								content: ''
								display: block
								width: 20px
								height: 20px
								border: 2px solid #ddd
								position: absolute
								left: -30px
								top: 0.8em
								opacity: 1
								transition: all .6s, border-color .08s

							input[type="checkbox"]:checked + label:before
								width: 10px
								top: 0.3em
								left: -25px
								border: 3px solid $c300
								border-radius: 4px
								opacity: 1
								border-top-color: transparent
								border-left-color: transparent
								transform: rotate(405deg)

						.result
							margin-top: 40px
							padding: 40px
							border: 1px solid $c50
							border-radius: 10px
							display: grid
							grid-template: auto auto / auto
							gap: 40px

							.calc
								display: grid
								grid-template: 50px repeat(3, 1fr) / auto
								gap: 10px 0
								p
									align-self: end
									text-transform: uppercase
									color: $c500
									font-weight: 400
								div
									display: grid
									grid-template: auto / auto 100px 30px
									align-items: end
									gap: 10px 0
									letter-spacing: .5px


									span:nth-child(1)
										font-size: 19px
										color: $c300

									span:nth-child(2)
										text-align: right
										font-size: 20px
										color: $c300

									span:nth-child(3)
										text-align: left
										font-size: 18px
										color: $c700


									#sum-1-text,
									#sum-houses-text
										font-size: 30px
										color: $c700

									#sum-houses,
									#sum-1
										font-size: 32px
										line-height: 1
										color: $c700
							.warning
								margin-top: 10px
								padding: 10px
								display: grid
								align-items: center
								justify-items: center
								border: 1px solid $c50
								border-radius: 5px
								p
									text-align: center
									// font-size: 0.9em
									font-weight: 400
									color: $cg
									text-transform: none
							.lead
								// display: grid
								display: none
								grid-template: auto / auto
								justify-items: center
								p
									align-self: end
									justify-self: center
									text-transform: uppercase
									color: $c500
									font-weight: 400

								form
									width: 100%
									max-width: 325px
									position: relative


									.title
										color: #777
										font-family: $font
										font-size: 28px
										font-weight: 300
										text-align: center
										margin: 0 0 10px 0

									.success
										display: none
										// display: grid
										align-items: stretch
										grid-template: auto / auto
										position: absolute
										z-index: 2
										top: 0
										left: 0
										bottom: 0
										right: 0
										color: $c500
										.title
											font-size: 36px
											color: $c500
										div
											align-self: center
											justify-self: center
											text-align: center
											margin: auto
											max-width: 320px
											div
												padding: 5px 0
												font-size: 18px
										& *
											transition: opacity .8s ease
										&.active
												& ~ *
													opacity: .3
													filter: blur(3px)

									.politika
										width: 100%
										margin-top: 4px
										display: grid
										grid-template: auto / auto auto
										gap: 0 10px
										justify-items: center
										color: #555
										opacity: 0.5

										& a
											color: #555
											font-weight: 300
											letter-spacing: .5px

											& i
												color: #555
												align-self: center
												font-size: 1.1em
										&:hover,
										& *:hover
											color: #555
											opacity: 1

				& .is-active
					display: block



