.section-otzyvy
	padding: 0

	.tabs
		border-radius: 10px
		display: grid
		grid-template: auto auto / auto

		.tabs-nav
			border: 1px solid $c50
			border-radius: 10px 10px 0 0
			position: relative
			background-color: #fff
			top: 1px
			width: 50%
			display: grid
			grid-template: auto / repeat(2, 1fr)
			border-bottom: 1px solid $c50
			margin-top: 0
			margin-bottom: 0
			+mq('sm')
				padding: 0 5px
			+mq('xs')
				width: 100%
				grid-template: auto / 1fr 1fr
				padding: 0

			.tabs-nav__item
				height: 100%
				border-bottom: 4px solid transparent
				cursor: pointer
				justify-self: stretch
				padding: 16px 10px
				align-content: center
				text-align: center
				color: $c700
				font-size: 17px
				font-weight: 400
				letter-spacing: .4px
				+mq('sm')
					padding: 16px 10px
				+mq('xs')
					padding: 15px 10px
					text-align: left
					border-left: 1px solid $c50
					border-bottom: 1px solid $c50

				&:hover
					background-color: $c50t
					border-bottom: 2px solid $c300
				&:first-child
					border-top-left-radius: 10px
				&:last-child
					border-top-right-radius: 10px
				&.is-active
					border-bottom: 4px solid $c300
			& .tabs-nav__item:nth-child(2)
				border-left: 1px solid $c50

		.tabs__content
			border: 1px solid $c50
			// border-top: none
			border-radius: 0 0 10px 10px
			display: grid
			grid-template: auto / auto

			.tab
				width: 100%
				display: none
				+mq('sm')
					padding: 0 20px
				.tab-wrapper
					padding: 20px 0
					width: 100%
					display: grid
					grid-template: auto / 1fr 1fr
					gap: 10px 40px
					+mq('sm')
						gap: 20px
					+mq('xs')
						grid-template: auto / auto
						gap: 20px 0

				.tab-wrapper__one
					padding: 20px 0
					width: 100%
					display: grid
					grid-template: auto / auto
					gap: 0
			.tab-1
				.review
					display: grid
					padding: 20px
					margin: 20px
					background-color: $c50t
					border-radius: 10px
					+mq('xs')
						margin: 20px 0

					img
						border-radius: 50%
						width: 100px

						&:nth-child(2)
							width: 50px
			.tab-2
				.tab-wrapper.reviews
					display: grid
					+mq('sm')
						grid-template: auto / auto
						gap: 0
					.review__komm
						display: grid
						grid-template: auto auto / 1fr 3fr
						+mq('xs')
							grid-template: auto / auto
							margin: 20px 0
						gap: 10px 20px
						padding: 20px
						margin: 20px
						background-color: $c50t
						border-radius: 10px

						img
							width: 150px
							grid-row: -1 / 1
							justify-self: center
			& .is-active
				display: block
