doctype html

block variables

html(lang='ru')
	head
		block head
		include ../_common/head

	body
		include ../_common/preloader
		include ../_mixins/mixins
		include ../_common/header
		main.content
			//- .cleaning-page.cleaning-page-inner
			+main-screen
			+breadcrumbs
			+pricetable
			block promalp
			+whatIncluded
			include ../_includes/_why-we
			+otzyvy
			+form_cta
			+how-it-works
			if seotext
				section.section.section-info-inner
					.container
						block seotext
			else

		include ../_common/footer
		include ../_common/scripts-in-footer
		include ../_common/modal
