doctype html

block variables

html(lang="ru")
	head
		block head
		include ../_common/head

	body
		include ../_common/preloader
		include ../_mixins/mixins
		include ../_common/header

		block content

		include ../_common/footer
		include ../_includes/_akciya_insta
		include ../_common/scripts-in-footer
		include ../_common/modal
