extends ../_templates/_template_blog

block variables

	- var subDomain = ''
	- var pageUrl = '/fotografii-rabot/uborka-kvartiry-posle-remonta-foto-i-video-otchet'

	- var title = 'Уборка квартиры после ремонта - фото и видео отчет о работе'
	- var metaDescr = 'Фотоотчет о профессиональной уборке после ремонта в квартире в стиле ""До и После"". Оцените преимущества заказа уборки в клининговой компании «Стандарт».'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'

	- var h1 = 'Уборка квартиры после ремонта - отчет о работе'
	- var h1Descr = ''

	- var bcCat = 'Фотографии работ'
	- var bcCatUrl = '/fotografii-rabot/'
	- var bc = 'Уборка квартиры после ремонта'

	- var nestingLevel = '2'
	- var category = "default"

block content
	section.section-blog-hero
		.container(style="padding: 30px")
			h1= h1
			+breadcrumbs_naked
	div.section-blog.section
		.container.two-column
			video(width='100%' height='auto' controls poster='../../img/video-preview2.jpg')
				source(src='../video/video-otchet-uborka-kavartiry.mp4')
			.info-block.two-column
				p
					span.b Что убирали:
				p
					|  2-ух комнатную квартиру с лоджией и одним санузлом
				p
					span.b Вид уборки:
				p
					|  Уборка после ремонта
				p
					span.b Как быстро:
				p
					|  Квартира засияла через 3 часа
		.container.four-column
			.media-elem
				img(src="../../img/9042.jpg" alt="")
			.media-elem
				img(src="../../img/9131.jpg" alt="")
			.media-elem
				img(src="../../img/9074.jpg" alt="")
			.info-block
				p Каким бы сложным не был ремонт, какими бы дорогими не были мебель и декор, но только после наведения чистоты и порядка по-настоящему ощущается радость жизни и восторг от нового дома! Запах свежести и блестящие чистотой поверхности заряжают желанием жить на полную катушку.
				p Наш опыт позволяет сделать всю работу за считанные часы — сходите в кино, отдохните с близкими и возвращайтесь в уже чистый дом.

