extends ../_templates/_template_blog

block variables

	- var subDomain = ''
	- var pageUrl = '/fotografii-rabot/uchastie-v-programme-na-kanale-pyatnitsa'
	- var title = 'Участвуем в съемках передачи «На Ножах» на канале «Пятница»'
	- var metaDescr = 'Мы участвовали в съёмках программы «На Ножах» на телеканале «Пятница». Провели быструю уборку после ремонта бар-клуба в Жуковском профессиональными средствами, используя клининговое оборудование.'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
	- var h1 = 'Уборка после ремонта бара для шоу «На Ножах»'
	- var h1Descr = ''
	- var bcCat = 'Портфолио'
	- var nestingLevel = '2'
	- var bcCatUrl = '/fotografii-rabot/'
	- var bc = 'Участвуем в съемках передачи «На Ножах» на канале «Пятница»'
	- var category = "default"
