extends ../_templates/_template_blog

block variables

	- var subDomain = ''
	- var pageUrl = '/fotografii-rabot/uchastie-v-programme-supershef-na-kanale-che'
	- var title = 'Участвуем в съемках передачи «Супершеф» на канале «ЧЕ!»'
	- var metaDescr = 'Мы участвовали в съёмках программы «Супершеф» на телеканале «Че!». Провели быструю уборку профессиональными средствами.'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
	- var h1 = 'Уборка для шоу «Супершеф»'
	- var h1Descr = ''
	- var bcCat = 'Наши работы'
	- var nestingLevel = '2'
	- var bcCatUrl = '/fotografii-rabot/'
	- var bc = 'Участвуем в съемках передачи «Супершеф» на канале «ЧЕ!»'
	- var category = "default"
