extends ../_templates/_template_kommerce

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kommercheskoy-nedvizhimosti/uborka-restoranov'
	- var mainpage = ''
	- var title = 'Уборка ресторанов'
	- var metaDescr = 'Уборка ресторанов профессиональным оборудованием и средствами. Полное клининговое обслуживание компаний в Раменском'
	- var ogImage = 'img/restoran5-e1552923019179.jpg'
		//- main screen
	- var h1 = 'Уборка ресторанов'
	- var h1Descr = 'Убираем рестораны после ремонта, на регулярной основе и проводим генеральные уборки. Весь комплекс клининговых услуг.'
		//- breadcrumbs
	- var bcCat = 'Уборка коммерческой недвижимости'
	- var bcCatUrl = 'uborka-kommercheskoy-nedvizhimosti/'
	- var bc = 'Уборка ресторанов'
		//- backgrounds
	- var mainBackground = 'img/restoran5-e1552923019179.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'komm'
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку коммерческой недвижимости'
	-
		var thead = ['Уборка ресторанов', 'Цена']
	-
		var tbody = [
				['Ежедневная (комплексная)', 'от 15 000 р. /мес.'],
				['Генеральная уборка', '60 р. /м²'],
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]

