extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-domov/regulyarnaya-uborka-doma'
	- var mainpage = ''
	- var title = 'Регулярная уборка дома в Раменском'
	- var metaDescr = 'Регулярная уборка дома на постоянной основе поддерживает чистоту и порядок. Сохраняет ваше время и силы. Лучшие комплексные решения.'
	- var ogImage = 'img/kottedzh5.jpg'
		//- main screen
	- var h1 = 'Регулярная уборка домов в Раменском'
	- var h1Descr = 'Уборка на постоянной основе нацелена на сохранение ваших времени и сил, помогает поддерживать чистоту и порядок в доме. Может проводиться в ваше отсутствие'
		//- breadcrumbs
	- var bcCat = 'Уборка домов в Раменском'
	- var bcCatUrl = 'uborka-domov/'
	- var bc = 'Регулярная уборка домов в Раменском'
		//- backgrounds
	- var mainBackground = 'img/kottedzh4-1680.jpg'
	- var formBackground = 'img/kottedzh5.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'doma'
	- var cleaningType = 'regular'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Светлана', 'descr': 'Давно пользуюсь услугами данной компании. Качество уборки всегда на 5+👍Быстро и качественно! Молодцы ребята!', 'img': '../img/review__Svetlana.jpg'},
				{'name': 'Маргарита', 'descr': 'Пользовались услугами частной уборщицы. А сын в подарок нам заказал генеральную уборку в клининговой компании. Разница конечно сильная - ничего не пахнет, даже пылится меньше - у них какая-то специальная химия. А для частников она дорого выходит. Вот мы и начали в Стандарте уборки заказывать.', 'img': '../img/review__Margarita.jpg'},
				{'name': 'Светлана', 'descr': 'Сказать, что я осталась довольна, не сказать ничего! Я просто в восторге! Вы настоящие профессионалы своего дела! Всё на высшем уровне! Буду с удовольствием пользоваться и дальше вашими услугами! Ваша компания настоящая палочка-выручалочка для занятых людей!!!', 'img': '../img/review__Svetlana1.jpg'},
		]
		//- mixin pricetable
	- var priceH2 = 'Цены на регулярную уборку'
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = [
				['Постоянная', 'от 3 000 р.', 'от 3 500 р.', 'от 4 000 р.', 'от 4 500 р.'],
				['Постоянная без химии', 'от 2 500 р.', 'от 3 000 р.', 'от 3 500 р.', 'от 4 000 р.'],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Регулярная уборка дома
			.descr
				p За всю свою практику мы не встретили ни одного человека, который бы негативно относился к чистоте в своём доме. Всем по душе, когда каждая комната пропитана уютом, а бардак и грязь не раздражают взгляд. Однако когда дело доходит до регулярной уборки в доме, у многих жителей Раменского просто опускаются руки. И их можно понять: постоянные дела по хозяйству, работа, семья… Трудно найти время абсолютно на всё! Поэтому оптимальный вариант в такой ситуации — доверить поддержание чистоты специалистам клининговой компании «Стандарт». Мы готовы прийти на помощь даже в самой критичной ситуации, когда к жилищу необходим уникальный подход. Не боимся трудностей и доводим дело до конца.
				p Следует отметить, что генеральная уборка необходима именно для поддержания порядка в доме. Если же клининг помещения не производился довольно длительное время, рекомендуем воспользоваться генеральной уборкой, нацеленной на более тщательное уничтожение сложно въевшейся грязи и пыли даже в самых труднодоступных местах. Но вернёмся к регулярной уборке дома. Какой же перечень активностей она включает в себя?уборка пыли со всех поверхностей;уничтожение свежих загрязнений;мытьё бытовой техники;если речь идёт о кухне, то очистка поверхностей от жира/масла;в ванной моем кафель от разводов и загрязнений;мытьё и обеззараживание сантехники;мытьё полов и ковровых покрытий;мытьё зеркальных поверхностей.
				p Если необходимо, то по желанию клиента мы можем расширить спектр оказываемых услуг. Например, добавить к регулярной уборке дома химчистку мягкой мебели и ковров или мытьё окон. Но, в целом, если следовать советам экспертов в сфере клининга и проводить такую уборку не реже одного раза в неделю, вышеописанного перечня манипуляций вполне достаточно, чтобы создать комфортную атмосферу для жизни в доме.
				p Кстати, при проведении регулярной уборки дома в Раменском вам не обязательно находиться всё время возле наших сотрудников. Выразив свои пожелания специалистам «Стандарта», запросто можно отправиться по неотложным делам или устроить свой досуг. Уверены: по возвращении в своё жилище вы будете приятно удивлены качеством проделанной работы. Мы нацелены на результат и готовы поддерживать сотрудничество с клиентом на постоянной основе, создавая комфортные условия для жизни в доме.
