extends ../_templates/_template_default

block variables
	- var title = 'Ошибка 500. Проблема с сервером. Попробуйте зайти позже'
	- var robots = 1
block content
	section.section.error-page
		.container
			.info-element
				.error-code
					h1 500
					p Кажется есть проблема с сверером. Попробуйте зайти позже.
					p А лучше позвоните нашим менеджерам - они обязательно помогут!
				//- .descr
				//- 	p Почему такое могло произойти:
				//- 	ul
				//- 		li Ошибка при написании адреса в строке
				//- 		li Ссылка с ошибочным адресом или на страницу, которую давно удалили
				//- 		li Технические проблемы. В этом случае мы получим сигнал и исправим ошибку
			.travolta-element
				img(src="../../img/404.gif" alt="").travolta
