extends _templates/_template_subservice

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/himchistka/himchistka-salona-avtomobilya'
	- var mainpage = ''
	- var title = 'Химчистка салона автомобиля'
	- var metaDescr = 'Химчистка автомобиля с выездом профессионально и с гарантией. Комплексная химчистка салона авто в Раменском. Экономьте ваше время!'
	- var ogImage = 'img/zayavka-na-himchistku-salona-avtomobilya.jpg'
		//- main screen
	- var h1 = 'Комплексная химчистка автомобиля с выездом'
	- var h1Descr = 'Очистка обивки салона автомобиля от пятен, пыли и неприятных запахов. Сами приедем и почистим машину прямо на стоянке.'
		//- breadcrumbs
	- var bcCat = 'Химчистка в Раменском'
	- var bcCatUrl = 'himchistka/'
	- var bc = 'Комплексная химчистка автомобиля с выездом'
		//- backgrounds
	- var mainBackground = 'img/himchistka-salona-avto-main.jpg'
	- var formBackground = 'img/zayavka-na-himchistku-salona-avtomobilya.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'himchistka'
		//- mixin pricetable
	- var priceH2 = 'Цены на химчистку авто с выездом'
	-
		var thead = ['Химчистка авто', 'Цены']
	-
		var tbody = [
				['Легковые Авто', 'от 3500 р.'],
				['Кроссоверы', 'от 4000 р.'],
				['Минивэн/Внедорожник', 'от 5000 р.'],
				['Удаление запахов в Авто', 'от 500 р.'],
		]
