extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/himchistka/himchistka-salona-avtomobilya-s-vyezdom'
	- var title = 'Химчистка салона автомобиля с выездом в Жуковском, Раменском и Люберцах'
	- var metaDescr = 'Химчистка автомобиля с выездом профессионально и с гарантией. Комплексная химчистка авто в Раменском, Жуковском и Люберцах.'
	- var ogImage = 'img/himchistka-salona-avto-main.jpg'
	- var h1 = 'Комплексная химчистка автомобиля с выездом'
	- var h1Descr = 'Очистка обивки салона автомобиля от пятен, пыли и неприятных запахов. Сами приедем и почистим машину прямо на стоянке.'
	- var bcCat = 'Химчистка с выездом'
	- var nestingLevel = '2'
	- var bcCatUrl = '/himchistka/'
	- var bc = 'Химчистка салона автомобиля с выездом'
	- var category = 'himchistka'

	- var mainBackground = 'img/himchistka-salona-avto-main.jpg'
	- var formBackground = 'img/zayavka-na-himchistku-salona-avtomobilya.jpg'


	-
		var otzyvy = [
				{'name': 'Виктор', 'descr': 'Диван снова белый. Спасибо мастеру! Берегите таких сотрудников!', 'img': '../img/review__Viktor.jpg'},
				{'name': 'Михаил', 'descr': 'У же не первый раз пользуюсь услугами Стандарта, последний раз заказывал химчистку дивана и кресла. Как всегда ребята с задачей справились - всё как будто новое.', 'img': '../img/review__Mihail.jpg'},
				{'name': 'Елена', 'descr': 'Заказывала химчистку ковра, было огромное пятно от вина, думала, что не получится вывести. Но клинер Стандарта справилась.  Спасибо!', 'img': '../img/review__Elena.jpg'},
		]

	- var priceH2 = 'Цены на химчистку авто с выездом'

	//- mixin pricetable
	-
		var thead = ['Химчистка авто', 'Цены']
	-
		var tbody = [
				['Легковые Авто', 'от 3500 р.'],
				['Кроссоверы', 'от 4000 р.'],
				['Минивэн/Внедорожник', 'от 5000 р.'],
				[' Удаление запахов в Авто', 'от 500 р.'],
		]


block seotext
	.title
		h2 Когда нужна химчистка автомобиля
	.descr
		p Профессиональную химчистку авто заказывают как в рамках эксплуатационного ухода, так и после покупки или перед продажей транспорта. После такой чистки рыночная стоимость поддержанного автомобиля автоматически возрастает, ведь он выглядит как новый. На него легче найти покупателей.Комплексная химчистка салона автомобиля может понадобиться и после проведения ремонтных, технических работ, вследствие непредвиденных обстоятельств – засыпало снегом, залило водой, после аварии. Внезапных ситуаций, после которых даже самый ухоженный автомобиль будет нуждаться в чистке, очень много.
		p Химчистка после покупки подержанной машины позволяет удалить из нее все следы бывшего владельца, даже если они незаметны. В каждом авто, на котором до вас уже ездили несколько лет, непременно найдутся такие неприятные «сюрпризы», как волосы, сальные пятна и следы других биологических материалов. Очистка такой грязи – это не только вопрос внутреннего комфорта, но и гигиенической безопасности.
		p Комплексная химчистка авто с выездом сэкономит ваше время и силы на самостоятельную очистку салона от неприятного амбре и въевшихся пятен, которые невозможно устранить без использования специальных средств и оборудования.
		p Профессиональная уборка салона осуществляется даже в самых труднодоступных местах. Пластик, ткань, кожа моются и обрабатываются разными химическими веществами, подходящими по уходу именно за этими материалами. В процессе чистки удаляются солевые разводы, строительная пыль, следы пота, грязь от еды, песок, истребляются бактерии и запах табака, гнили, сырости.
		h3 Сколько стоит химчистка автомобиля
		p Стоимость химчистки салона авто зависит от сложности и объема работ. Чем больше будет машина и уровень ее загрязнения, тем выше будет конечная стоимость услуг. Клининг автомобиля, который не чистился на протяжении 5-6 лет займет на порядок больше времени, чем уборка салона, за которым периодически ухаживали.
		p Компания работает в сфере клининга уже много лет. С каждым клиентом фирма заключает договор, где подробно прописываются все ключевые факторы – гарантии, обязательства. Обращаясь за услугами химчистки в «Стандарт», вы можете быть уверены в результате, качестве и безопасности вашего авто.

