extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/himchistka/himchistka-divanov-v-ramenskom'
	- var mainpage = ''
	- var title = 'Химчистка диванов'
	- var metaDescr = 'Химчистка диванов на дому от 1500 рублей профессионально и с гарантией. Чистим натуральные и синтетические ткани и обивку.'
	- var ogImage = 'img/himchistka-divanov.jpg'
		//- main screen
	- var h1 = 'Профессиональная химчистка диванов и кресел на дому'
	- var h1Descr = 'Вернём диванам и креслам первозданный вид. Уберем разводы и пятна, не навредив структуре ткани.'
		//- breadcrumbs
	- var bcCat = 'Химчистка в Раменском'
	- var bcCatUrl = 'himchistka/'
	- var bc = 'Профессиональная химчистка диванов и кресел на дому'
		//- backgrounds
	- var mainBackground = 'img/himchistka-divanov-1680.jpg'
	- var formBackground = 'img/himchistka-myagkoj-mebeli-1500.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'himchistka'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Виктор', 'descr': 'Диван снова белый. Спасибо мастеру! Берегите таких сотрудников!', 'img': '../img/review__Viktor.jpg'},
				{'name': 'Михаил', 'descr': 'У же не первый раз пользуюсь услугами Стандарта, последний раз заказывал химчистку дивана и кресла. Как всегда ребята с задачей справились - всё как будто новое.', 'img': '../img/review__Mihail.jpg'},
				{'name': 'Елена', 'descr': 'Заказывала химчистку ковра, было огромное пятно от вина, думала, что не получится вывести. Но клинер Стандарта справилась.  Спасибо!', 'img': '../img/review__Elena.jpg'},
		]
		//- mixin pricetable
	- var priceH2 = 'Стоимость химчистки диванов с выездом'
	-
		var thead = ['Химчистка диванов', 'Цены']
	-
		var tbody = [
				['Двухместный', 'от 1 500 р.'],
				['Трёхместный', 'от 1 800 р.'],
				['Четырехместный', 'от 2 100 р.'],
				['Кресло', 'от 1 000 р.'],
				['Подушка', 'от 350 р.'],
		]

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Двухместный диван от 1 500 р.
			.descr
				p.
					 В каждом заказе на чистку диванов оговаривается условие по выбору способа выполнения данного вида услуги. Здесь нужно брать во внимание материал обивки, его фактурную особенность, чтобы специалисты могли применить нужное моющее и чистящее средство. В итоговую стоимость работ, как правило, входит площадь обрабатываемых поверхностей, глубина проникновения загрязнений, периодичность заказанных услуг.
