extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/himchistka/himchistka-shtor'
	- var mainpage = ''
	- var title = 'Химчистка штор'
	- var metaDescr = 'Химчистка и отпаривание штор, тюля и занавесок с выездом на дом от 300 р. в Раменском. Бережные средства и оборудование вернут чистоту и свежесть шторам'
	- var ogImage = 'img/6_0000-1.jpg'
		//- main screen
	- var h1 = 'Химчистка штор с выездом к клиенту'
	- var h1Descr = 'Освежим спальное место, устраним запахи, выведем пятна'
		//- breadcrumbs
	- var bcCat = 'Химчистка в Раменском'
	- var bcCatUrl = 'himchistka/'
	- var bc = 'Химчистка штор с выездом к клиенту'
		//- backgrounds
	- var mainBackground = 'img/6_0000-1.jpg'
	- var formBackground = 'img/6_0000-1.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'himchistka'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Виктор', 'descr': 'Диван снова белый. Спасибо мастеру! Берегите таких сотрудников!', 'img': '""../img/review__Viktor.jpg'},
				{'name': 'Михаил', 'descr': 'Уже не первый раз пользуюсь услугами Стандарта, последний раз заказывал химчистку дивана и кресла. Как всегда ребята с задачей справились - всё как будто новое.', 'img': '""../img/review__Mihail.jpg'},
				{'name': 'Елена', 'descr': 'Заказывала химчистку ковра, было огромное пятно от вина, думала, что не получится вывести. Но клинер Стандарта справилась.  Спасибо!', 'img': '""../img/review__Elena.jpg'},
		]
		//- mixin pricetable
	- var priceH2 = 'Цены нах имчистку штор'
	-
		var thead = [' ', 'Цены']
	-
		var tbody = [
				['Шторы', 'от 200 р. /м²'],
		]
