extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/himchistka/himchistka-kovrov-s-vyezdom-na-dom'
	- var title = 'Химчистка ковров с выездом на дом в Жуковском, Раменском и Люберцах'
	- var metaDescr = 'Чистка ковровых покрытий из натуральных и синтетических материалов от 150 р. за кв. м в Жуковском, Раменском и Люберцах'
	- var ogImage = 'img/himchistka-kovrov.jpg'
	- var h1 = 'Химчистка ковров и ковролина с выездом к клиенту'
	- var h1Descr = 'Освежим любое ковровое покрытие, поднимем ворс, выведем пятна. Оставим приятный запах и антистатический эффект на долго.'
	- var bcCat = 'Химчистка на дому'
	- var nestingLevel = '2'
	- var bcCatUrl = '/himchistka/'
	- var bc = 'Химчистка ковров с выездом на дом'
	- var category = 'himchistka'

	- var mainBackground = 'img/himchistka-kovrov.jpg'
	- var formBackground = 'img/himchistka-kovrov-2.jpg'


	-
		var otzyvy = [
				{'name': 'Виктор', 'descr': 'Диван снова белый. Спасибо мастеру! Берегите таких сотрудников!', 'img': '../img/review__Viktor.jpg'},
				{'name': 'Михаил', 'descr': 'У же не первый раз пользуюсь услугами Стандарта, последний раз заказывал химчистку дивана и кресла. Как всегда ребята с задачей справились - всё как будто новое.', 'img': '../img/review__Mihail.jpg'},
				{'name': 'Елена', 'descr': 'Заказывала химчистку ковра, было огромное пятно от вина, думала, что не получится вывести. Но клинер Стандарта справилась.  Спасибо!', 'img': '../img/review__Elena.jpg'},
		]

	- var priceH2 = 'Цены на химчистку ковров с выездом на дом'

	//- mixin pricetable

	-
		var thead = ['Химчистка', 'Цены']
	-
		var tbody = [
				['Ковры', 'от 150 р.'],
				['Диван', 'от 1 500 р.'],
				['Матрас', 'от 1 500 р.'],
				['Стул со спинкой', 'от 300 р.'],
				['Кресло', 'от 1 000 р.'],
				['Подушка', 'от 350 р.'],
				['Жалюзи', 'от 250 р.'],
				['Удаление запахов', 'от 500 р.'],
		]



block seotext
	.title
		h2 Особенности химчистки ковров
	.descr
		p Ковёр — немаловажная деталь домашнего интерьера. Прошли те времена, когда его было принято вешать на стену, украшать им дом и фотографироваться на его фоне. Теперь функция ковра — создавать уют и комфорт, будучи на полу. Однако все мы люди: ходим обутыми по ковру, из-за неуклюжести во что-то пачкаем его или за нас это делает домашний питомец. Так, с течением времени ваш любимый ковёр превращается в пристанище для всяческих бактерий, плесени и половых клещей. А масштабные загрязнения и пыль, видимые глазом, очень раздражают. Да и перед гостями стыдно… Нужно что-то делать, но вот что? На этот вопрос есть лишь один ответ: либо меняйте свой ковёр на новый, либо воспользуйтесь профессиональной помощью клининговой компании «Стандарт» в городе Жуковский.
		p Когда необходимо воспользоваться услугой химчистки ковров?
		ul
			li если нет времени на уборку;
			li если по каким-либо причинам нет возможности осуществить химчистку самостоятельно;
			li если материал ковра требует деликатной обработки (шерсть, шёлк, ручная вышивка и прочее);
			li если нужно быстро и эффективно избавиться от въевшихся пятен и грязи.
		p Немаловажно отметить, что, обращаясь в клининговую компанию «Стандарт», вы можете рассчитывать на высокий уровень сервиса и индивидуальный подход. Великолепный результат по демократичной цене — ещё одно из наших преимуществ на рынке клининга в Жуковском. Так, наши специалисты готовы вернуть чистоту ковру в удобное для вас время. В работе мы используем только профессиональное оборудование и качественную химию, поэтому никаких недоразумений и порчи вашего имущества не произойдёт.
		p Особенно рекомендуем воспользоваться химчисткой ковров всем, кто решился устроить в своём жилище генеральную уборку. Ведь она подразумевает наведение идеального порядка и блестящей чистоты, которую чаще всего удаётся достичь только при помощи профессионалов.

