//- for deploy
header
	.mobile-header
		.menu-mobile-wrapper
			//- This checkbox will give us the toggle behavior, it will be hidden, but functional
			input#toggle(type="checkbox")
			//- IMPORTANT: Any element that we want to modify when the checkbox state changes go here, being "sibling" of the checkbox element
			//- This label is tied to the checkbox, and it will contain the toggle "buttons"
			label.toggle-container(for="toggle")
				//- If menu is open, it will be the "X" icon, otherwise just a clickable area behind the hamburger menu icon
				span.button.button-toggle
			//- The nav menu
			nav.menu-mobile
				a.nav-item(href="../uborka-s-dezinfekciej-i-ozonirovaniem") Уборка с дезинфекцией
				a.nav-item(href="../uborka-kvartir/") Уборка квартир
				a.nav-item(href="../uborka-domov/") Уборка домов и коттеджей
				a.nav-item(href="../himchistka/") Химчистка
				a.nav-item(href="../moyka-okon-v-ramenskom/") Мойка окон
				a.nav-item(href="../uslugi-domrabotnicy") Услуги домработницы
				a.nav-item(href="../uslugi-sadovnika") Услуги садовника
				a.nav-item(href="#") ---
				a.nav-item(href="../uborka-ofisov/") Уборка офисов
				a.nav-item(href="../uborka-kommercheskoy-nedvizhimosti/") Уборка коммерческих объектов
				a.nav-item(href="../moyka-okon-v-ramenskom/moyka-ostekleniya-i-fasadov") Мойка остекления и фасадов
				a.nav-item(href="../promyshlennyy-alpinizm") Промышленный альпинизм
				a.nav-item(href="../ochistka-krysh-ot-naledi-i-snega") Очистка крыш
				a.nav-item(href="#") ---
				a.nav-item(href="../ceny-na-kliningovye-uslugi-v-ramenskom") Цены
				a.nav-item(href="../kalkulyator-kliningovyh-uslug-dlya-kvartir") Калькулятор
				a.nav-item(href="../akcii") Акции
				a.nav-item(href="https://standartcleaning.ru/fotografii-rabot/") Портфолио
				a.nav-item(href="../anketa-klienta-i-aktivaciya-karty") Карта Клиента
				a.nav-item(href="../o-kompanii") О Компании
				a.nav-item(href="../kontakty") Контакты
		.logo-mobile
			if mainpage
				a(href="#top")
					img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")
			else
				a(href="/")
					img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")

		.call-button
			a(href="tel:+74951367363")
				i.fas.fa-phone
	.upper-bar-wrap
		.upper-bar
			.local-menu
				ul
					li
			//- 			a(href="") Жуковский
			//- 			ul
			//- 				li
			//- 					a(href="https://ramenskoye.standartcleaning.ru/" +pageUrl) Раменское
			//- 				li
			//- 					a(href="https://ljubercy.standartcleaning.ru/" +pageUrl) Люберцы
			nav.top-menu
				a(href="../ceny-na-kliningovye-uslugi-v-ramenskom") Цены
				a(href="../kalkulyator-kliningovyh-uslug-dlya-kvartir") Калькулятор
				a(href="../akcii") Акции
				a(href="https://standartcleaning.ru/fotografii-rabot/") Портфолио
				a(href="https://standartcleaning.ru/otzyvy") Отзывы
				a(href="../anketa-klienta-i-aktivaciya-karty") Карта Клиента
				a(href="../o-kompanii") О Компании
				a(href="../kontakty") Контакты
	.lower-bar-wrap
		.lower-bar
			.logo-place
				case mainpage
					when 1
						a(href="#top")
							img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")
					default
						a(href="/")
							img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")

			include ../_includes/client-menu.pug

			.phone-info
				p
					a#phone(href="tel:+74951367363") +7495 136-73-63
				p Пн-Вс с 9:00 до 21:00
			.consult-button.hvr-bob
				a.button.modal-btn(href="#pop-up")
					i.fas.fa-phone.consult-call
					| Консультация

//- for development
//- header
	.mobile-header
		.menu-mobile-wrapper
			//- This checkbox will give us the toggle behavior, it will be hidden, but functional
			input#toggle(type="checkbox")
			//- IMPORTANT: Any element that we want to modify when the checkbox state changes go here, being "sibling" of the checkbox element
			//- This label is tied to the checkbox, and it will contain the toggle "buttons"
			label.toggle-container(for="toggle")
				//- If menu is open, it will be the "X" icon, otherwise just a clickable area behind the hamburger menu icon
				span.button.button-toggle
			//- The nav menu
			nav.menu-mobile
				a.nav-item(href="../uborka-kvartir.html") Уборка квартир
				a.nav-item(href="../uborka-domov.html") Уборка домов и коттеджей
				a.nav-item(href="../himchistka.html") Химчистка
				a.nav-item(href="../moyka-okon-i-balkonov.html") Мойка окон
				a.nav-item(href="../uslugi-domrabotnicy.html") Услуги домработницы
				a.nav-item(href="../uslugi-sadovnika.html") Услуги садовника
				a.nav-item(href="#") ---
				a.nav-item(href="../uborka-ofisov.html") Уборка офисов
				a.nav-item(href="../uborka-pomescheniy/uborka-kommercheskoy-nedvizhimosti.html") Уборка коммерческих объектов
				a.nav-item(href="../moyka-okon-v-ramenskom/moyka-ostekleniya-i-fasadov.html") Мойка остекления и фасадов
				a.nav-item(href="../promyshlennyy-alpinizm.html") Промышленный альпинизм
				a.nav-item(href="../ochistka-krysh-ot-naledi-i-snega.html") Очистка крыш
				a.nav-item(href="#") ---
				a.nav-item(href="../ceny-na-kliningovye-uslugi.html") Цены
				a.nav-item(href="../kalkulyator-kliningovyh-uslug-dlya-kvartir.html") Калькулятор
				a.nav-item(href="../akcii.html") Акции
				a.nav-item(href="https://standartcleaning.ru/fotografii-rabot.html") Портфолио
				a.nav-item(href="../anketa-klienta-i-aktivaciya-karty.html") Карта Клиента
				a.nav-item(href="../o-kompanii.html") О Компании
				a.nav-item(href="../kontakty.html") Контакты
		.logo-mobile
			if mainpage
				a(href="#top")
					img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")
			else
				a(href="/")
					img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")

		.call-button
			i.fas.fa-phone
	.upper-bar-wrap
		.upper-bar
			.local-menu
				ul
					li
			//- 			a(href="") Жуковский
			//- 			ul
			//- 				li
			//- 					a(href="https://ramenskoye.standartcleaning.ru/" +pageUrl) Раменское
			//- 				li
			//- 					a(href="https://ljubercy.standartcleaning.ru/" +pageUrl) Люберцы
			nav.top-menu
				a(href="/ceny-na-kliningovye-uslugi.html") Цены
				a(href="/kalkulyator-kliningovyh-uslug-dlya-kvartir.html") Калькулятор
				a(href="/akcii.html") Акции
				a(href="https://standartcleaning.ru/fotografii-rabot.html") Портфолио
				a(href="/otzyvy.html") Отзывы
				a(href="/anketa-klienta-i-aktivaciya-karty.html") Карта Клиента
				a(href="/o-kompanii.html") О Компании
				a(href="/kontakty.html") Контакты
	.lower-bar-wrap
		.lower-bar
			.logo-place
				case mainpage
					when 1
						a(href="#top")
							img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")
					default
						a(href="/")
							img(src="../img/logo-horizontal.png" alt="Логотип компании Стандарт")

			include ../_includes/client-menu.pug

			.phone-info
				p
					a#phone(href="tel:+74951367363") +7495 136-73-63
				p Пн-Вс с 9:00 до 21:00
			.consult-button.hvr-bob
				a.button.modal-btn(href="#pop-up")
					i.fas.fa-phone.consult-call
					| Консультация

//- don't touch it)))
.header-filler#top
