.modal
	.modal-window
		.close
			i.fa-2x.fa.fa-times(aria-hidden="true")
		+form_modal

//- .modal-promo-sticker
//- 	.modal-window
//- 		.close
//- 			i.fa-2x.fa.fa-times(aria-hidden="true")
//- 		.title Акция 14 февраля “Love is...”
//- 		p.center Забота о своих любимых!
//- 		p 💝Мы любим вас! И в предверии праздника всех влюблённых хотим устроить #конкурс! Проигравших НЕ будет 🙅‍♀️
//- 		p
//- 		p Мы дарим:
//- 		p 1.	❗️Всем участникам конкурса - скидка 1️⃣0️⃣% на любую услугу Стандарт Клининг. (при соблюдении выполнения всех условий конкурса)
//- 		p 2.	‼️ ГЛАВНЫЙ ПРИЗ. 🔥 Победителю достаются БЕСПЛАТНАЯ Экспресс уборка от Стандарт Клининг.
//- 		p
//- 		p.center Тадам!!!🥳
//- 		a.btn__green.hvr-bob(href="//www.instagram.com/p/CLCRkXkhoZH/?hl=ru")
//- 			i.fab.fa-instagram(aria-hidden='true')
//- 			span Перейти в Instagram

//- 		p.center ❌СТОП: 13 февраля в ⏰ 22.00
//- 		p.center ⭕️Розыгрыш проводится в прямом эфире 14.02
//- 		a.btn__green.hvr-bob(href="https://youtogift.com/draw/instagram/789132")
//- 			i.fab.fa-instagram(aria-hidden='true')
//- 			span Узнать результаты
//- 		p
//- 		p.center 🆘Предложение действительно с 14.02 по 07.03!
