script(src="../js/main.min.js" async)

script(src="https://kit.fontawesome.com/410664c142.js" crossorigin="anonymous" async)
script
	include ../../js/footer.js
script(src="//code.jivosite.com/widget/FQQHrCNEbD" async)

