extends _templates/_template_default

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/ceny-na-kliningovye-uslugi-v-ramenskom'
	- var mainpage = ''
	- var title = 'Цены на клининговые услуги - Стоимость услуг по уборке квартир, домов, офисов. Расценки на химчистку и мойку окон. Полный прайс-лист клининга'
	- var metaDescr = 'Узнайте стоимость уборки, химчистки и других услуг от клининговой компании Стандарт. Менеджер поможет рассчитать стоимость для вашего объекта'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage-1.png'
		//- main screen
	- var h1 = 'Цены на клининговые услуги'
	- var h1Descr = ''
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Цены на клининговые услуги'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'

block content
	section.hero
		h1= h1
		+breadcrumbs_naked
	section.section.section-price-page
		.container
			.tabs
				.tabs-nav
					.tabs-nav__item.is-active(data-tab-name='tab-1')
						| Уборка
					.tabs-nav__item(data-tab-name='tab-2')
						| С дезинфекцией
					.tabs-nav__item(data-tab-name='tab-3')
						| Мойка окон
					.tabs-nav__item(data-tab-name='tab-4')
						| Для Компаний
					.tabs-nav__item(data-tab-name='tab-5')
						| Химчистка
					.tabs-nav__item(data-tab-name='tab-6')
						| Домашний персонал
				.tabs__content
					.tab.tab-1.is-active
						.tab-wrapper__accordeon
							.part
								h3  Прайс на уборку квартир
								.table-wrap
									.scroll-wrap
										table.table1
											thead
												tr
													th Площадь
													th Регулярная
													th
														span.tooltip-text(data-tooltip='Химию и инвентарь пердоставляет клиент')
															| Без химии
													th Экспресc
													th Генеральная
													th После ремонта
											tbody
												tr
													td(data-label='Площадь')
														| 1-комнатная
														br
														| от 0 до 50 м²
													td(data-label='Регулярная') 2 000 р.
													td(data-label='Без химии') 1 700 р.
													td(data-label='Экспресс') 2 500 р.
													td(data-label='Генеральная') 4 000 р.
													td(data-label='После ремонта') 5 000 р.
												tr
													td(data-label='Площадь')
														| 2-комнатная
														br
														| от 51 до 70 м²
													td(data-label='Регулярная') 2 500 р.
													td(data-label='Без химии') 2 200 р.
													td(data-label='Экспресс') 3 000 р.
													td(data-label='Генеральная') 5 000 р.
													td(data-label='После ремонта') 6 000 р.
												tr
													td(data-label='Площадь')
														| 3-комнатная
														br
														| от 71 до 100 м²
													td(data-label='Регулярная') 3 000 р.
													td(data-label='Без химии') 2 700 р.
													td(data-label='Экспресс') 3 500 р.
													td(data-label='Генеральная') 6 000 р.
													td(data-label='После ремонта') 7 000 р.
												tr
													td(data-label='Площадь')
														| 4-комнатная
														br
														| от 101 м²
													td(data-label='Регулярная') от 25 р. /м²
													td(data-label='Без химии') договорная
													td(data-label='Экспресс') 30 р. /м²
													td(data-label='Генеральная') 60 р. /м²
													td(data-label='После ремонта') 70 р. /м²
									h3  Прайс на уборку домов
								.table-wrap
									.scroll-wrap
										table.table1
											thead
												tr
													th Площадь
													th Регулярная
													th
														span.tooltip-text(data-tooltip='Химию и инвентарь пердоставляет клиент')
															| Без химии
													th Экспресc
													th Генеральная
													th После ремонта
											tbody
												tr
													td(data-label='Площадь дома') от 0 до 150 м²
													td(data-label='Регулярная') 3 000 р.
													td(data-label='Без химии') 2 500 р.
													td(data-label='Экспресс') 3 500 р.
													td(data-label='Генеральная') 6 000 р.
													td(data-label='После ремонта') от 90 р./м²
												tr
													td(data-label='Площадь дома') от 151 до 250 м²
													td(data-label='Регулярная') 3 500 р.
													td(data-label='Без химии') 3 000 р.
													td(data-label='Экспресс') 4 000 р.
													td(data-label='Генеральная') 8 000 р.
													td(data-label='После ремонта') от 90 р./м²
												tr
													td(data-label='Площадь дома') от 251 до 300 м²
													td(data-label='Регулярная') 4 000 р.
													td(data-label='Без химии') 3 500 р.
													td(data-label='Экспресс') 5 000 р.
													td(data-label='Генеральная') 9 000 р.
													td(data-label='После ремонта') от 90 р./м²
												tr
													td(data-label='Площадь дома') от 300 м²
													td(data-label='Регулярная') 4 500 р.
													td(data-label='Без химии') 4 000 р.
													td(data-label='Экспресс') договорная
													td(data-label='Генеральная') договорная
													td(data-label='После ремонта') договорная
								h3 Прайс на дополнительные услуги
								table
									thead
										tr
											th Генеральные уборки
											th Цена
									tbody
										tr
											td Генеральная уборка ванной
											td 2 500 р.
										tr
											td Генеральная уборка кухни с обезжириванием
											td 3 000 р.
								table
									thead
										tr
											th Уборка парогенератором
											th Цена
									tbody
										tr
											td Тюль
											td от 150 р.
										tr
											td Шторы
											td от 300 р.
										tr
											td Матрасы и мягкая мебель
											td от 500 р.
										tr
											td Мягкие игрушки
											td от 150 р.
										tr
											td Обувь
											td от 150 р.
								table
									thead
										tr
											th Дезинфекция квартир озоном
											th Цена
									tbody
										tr
											td(data-label='Услуга') 1 комната
											td(data-label='Цена') 2 500 р.
										tr
											td(data-label='Услуга') 2 комнаты
											td(data-label='Цена') 3 000 р.
										tr
											td(data-label='Услуга') 3 комнаты
											td(data-label='Цена') 3 500 р.
										tr
											td(data-label='Услуга') больше 100 м²
											td(data-label='Цена') 30 р. за м²
								table
									thead
										tr
											th Дополнительные услуги
											th Цена
									tbody
										tr
											td(data-label='Услуга') Мойка холодильника
											td(data-label='Цена') от 500 р.
										tr
											td(data-label='Услуга') Чистка духового шкафа
											td(data-label='Цена') от 500 р.
										tr
											td(data-label='Услуга') Чистка микроволновки
											td(data-label='Цена') от 300 р.
										tr
											td(data-label='Услуга') Уборка шкафов и внутри
											td(data-label='Цена') от 1 000 р.
										tr
											td(data-label='Услуга')
												| Мойка сложных люстр
												span.tooltip#lamp(data-tooltip='Оплачивается отдельно, если: Большие размеры, Элементы из хрусталя, Cложные конструкции, Более 5 лампочек')  ?
											td(data-label='Цена') от 500 р.
										tr
											td(data-label='Услуга') Глажка, за 1 час
											td(data-label='Цена') 400 р.
										tr
											td(data-label='Услуга')
												| Смена
												| постельного белья
												span.tooltip#linen(data-tooltip='Свыше двух комплектов')  ?
											td(data-label='Цена') от 300 р.
										tr
											td(data-label='Услуга')
												| Мытье
												| посуды
												span.tooltip#dishes(data-tooltip='Свыше двух комплектов: тарелка суповая, тарелка столовая, чашка, вилка, ложка, нож')  ?
											td(data-label='Цена') от 200 р.
							.part
								h3 Виды уборки
								.accordion
									.accordion-item.show
										.accordion-item-header Регулярная уборка
										.accordion-item-content
											p
												| Обеспечивает поддержание здорового климата в помещениях, предотвращает накопление пыли и
												| грязи! Отличается от экспресс-уборки тем, что дополнительно поддерживается в постоянной
												| чистоте плита, кухонный гарнитур
											ul
												li Влажная уборка полов
												li Мытье и дезинфекция всей сантехники
												li Удаление пыли с внешних поверхностей мебели и предметов интерьера.
												li Удаление пыли с зеркальных поверхностей.
												li Сухая чистка ковров и мягкой мебели пылесосом.
												li Вынос мелкого мусора (до 10 кг)
												li Инвентарь оставляется у клиента. Пылесос обеспечивает клиент.
												li Уборка пылесосом исполнителя – 300 рублей
											h4  Регулярная уборка без химии и инвентаря
											p
												| Уборка без использования инвентаря организации, необходимый инвентарь предоставляется
												| заказчиком
									.accordion-item
										.accordion-item-header Экспресс-уборка
										.accordion-item-content
											p
												| Быстрая и эффективная уборка перед приходом гостей или после праздника. Освежает
												| квартиру и занимает минимум времени.
											ul
												li Влажная уборка полов
												li Мытье и дезинфекция всей сантехники
												li
													| Удаление пыли с внешних поверхностей мебели и предметов интерьера. До 2х метров. В
													| пределах доступности в пределах вытянутой руки.
												li Удаление пыли с зеркальных поверхностей, протирка.
												li Сухая чистка ковров и мягкой мебели пылесосом.
												li Вынос мелкого мусора (до 10 кг)
												li Дополнительная услуга – уборка пылесосом исполнителя – 300 рублей
												li Удаление сложных загрязнений – дополнительная услуга
											h4 Кухня
											ul
												li Протирка внешних поверхностей всех предметов
												li Убираются вытяжки, варочные панели, кухонный рукав (без удаления жира)
											h4 Санузел
											ul
												li Унитаз / умывальник / биде
												li Ванная / душевая кабина убираются – по степени загрязненности
												li Протирается от пыли
												li Натирка сантехники до блеска
									.accordion-item
										.accordion-item-header Генеральная уборка
										.accordion-item-content
											p
												| Комплексная уборка каждого угла в квартире — кухни, санузла, комнат и коридоров. Отлично
												| обновляет помещения после жильцов или перед продажей
											h4 Комнаты
											ul
												li влажная уборка подоконников
												li удаление пыли с кондиционеров и карнизов для штор
												li мытье батарей
												li мытье пола и плинтусов
												li удаление пыли со всей мебели, включая верх, протирка и натирка фасадов корпусной мебели
												li удаление пыли с бытовой техники
												li мытье дверей и дверных ковров, дверных ручек, розеток
												li уборка мягкой мебели, ковров и пола пылесосом
												li обеспыливание потолка и стен (не все потолки моются)
												li протирка точечных светильников
												li влажная уборка предметов интерьера (шкатулки, фигурки)
											h4 Кухня
											ul
												li мытье кухонной техники снаружи
												li чистка и дезинфекция сантехники (раковина, смесители) и «фартука»
												li
													| влажная уборка кухонной мебели снаружи и сверху, удаление жировых отложений
													| (при сильной степени загрязнения может быть доп. услуга)
												li влажная уборка всех пустых шкафов и полочек (открытые)
											h4 Санузел
											ul
												li протирка потолка
												li мытье кафельной плитки на всю высоту
												li влажная уборка полочек, зеркал, наружных поверхностей стиральной машины
												li
													| мытье и дезинфекция всей сантехники (раковины, унитаз, ванна, душевая
													| кабина, смесители)
												li
													| удаление следов ржавчины и водного камня (при сильной степени загрязнения
													| может быть доп. услуга)
									.accordion-item
										.accordion-item-header Генеральная уборка Ванной
										.accordion-item-content
											ul
												li протирка потолка
												li мытье кафельной плитки на всю высоту
												li влажная уборка полочек, зеркал, наружных поверхностей стиральной машины
												li
													| мытье и дезинфекция всей сантехники (раковины, унитаз, ванна, душевая кабина,
													| смесители)
												li
													| удаление следов ржавчины и водного камня (при сильной степени загрязнения может быть
													| доп. услуга)
												li мойка батарей/радиаторов, двери
												li мойка точечных светильников
												li уборка пароочистителем
												li мытье пола и плинтусов
									.accordion-item
										.accordion-item-header Генеральная уборка Кухни
										.accordion-item-content
											ul
												li мытье кухонной техники снаружи (включая вытяжку)
												li чистка и дезинфекция сантехники (раковина, смесители) и «фартука»
												li
													| влажная уборка кухонной мебели снаружи и сверху, удаление жировых отложений (при
													| сильной степени загрязнения может быть доп. услуга)
												li влажная уборка всех пустых шкафов и полочек (открытые)
												li уборка пароочистителем
												li протирка стен и потолка
												li мойка батарей / радиаторов, двери
												li мойка точечных светильников
												li мытье пола и плинтусов
									.accordion-item
										.accordion-item-header Уборка после ремонта
										.accordion-item-content
											p
												| Самый сложный вид уборки! Удаление бетонной пыли, следов скотча, затирки — задача для
												| профессионалов со специальным оборудованием и навыками
											h4 Комнаты
											ul
												li влажная уборка подоконников
												li удаление пыли с кондиционеров и карнизов для штор
												li мытье батарей
												li мытье пола и плинтусов
												li
													| удаление пыли со всей мебели, включая верх, протирка и натирка фасадов
													| корпусной мебели
												li удаление пыли с бытовой техники
												li мытье дверей и дверных ковров, дверных ручек, розеток
												li уборка мягкой мебели, ковров и пола пылесосом
												li обеспыливание потолка и стен (не все потолки моются)
												li протирка точечных светильников
												li влажная уборка предметов интерьера (шкатулки, фигурки)
											h4 Санузел
											ul
												li мытье плитки на всю высоту с удалением следов ремонтных отложений
												li мытье полочек, шкафчиков и зеркал в ванной комнате
												li чистка и дезинфекция всей сантехники и смесителей
												li удаление следов цемента, затирки, строительного скотча
											ul
												li
													| В качестве дополнительной услуги машинная отмывка пола из мрамора, гранита,
													| керамогранита, плитки
					.tab.tab-2
						.tab-wrapper
							.part
								h3 Цены на дезинфекцию квартир озоном
								table
									thead
										tr
											th Сколько комнат
											th Цена
									tbody
										tr
											td(data-label='Услуга') 1 комната
											td(data-label='Цена') 2 500 р.
										tr
											td(data-label='Услуга') 2 комнаты
											td(data-label='Цена') 3 000 р.
										tr
											td(data-label='Услуга') 3 комнаты
											td(data-label='Цена') 3 500 р.
										tr
											td(data-label='Услуга') больше 100 м²
											td(data-label='Цена') 30 р. за м²
							.part
								h3 Цены на озонирование начинаются от 1 500 р.

					.tab.tab-3
						.tab-wrapper
							.part
								h3 Цены на мойку окон для квартир и домов
								table
									thead
										tr
											th
											th Цена
									tbody
										tr
											td(data-label='Услуга') Стандартное окно две створки
											td(data-label='Цена') 300 р.
										tr
											td(data-label='Услуга') Мойка балконной створки
											td(data-label='Цена') 150 р.
										tr
											td(data-label='Услуга') Мойка балконной двери
											td(data-label='Цена') 300 р.
										tr
											td(data-label='Услуга') Доплата за этаж от 5 до 10
											td(data-label='Цена') + 300 р.
										tr
											td(data-label='Услуга') Доплата за этаж от 10 до 100
											td(data-label='Цена') + 500 р.
										tr
											td(data-label='Услуга') Мойка промышленными альпинистами, за м²
											td(data-label='Цена') от 30 р.
							.part
								h3 Прайс на мойку остекления для юридических лиц
								table
									thead
										tr
											th Мойка фасадов и остекления
											th Цена
									tbody
										tr
											td(data-label='Мойка') На высоте до 3 м
											td(data-label='Цена') от 50 р./м²
										tr
											td(colspan='2', data-label='Мойка')
												| На высоте более 3 м с применением автовышки
												| или вышки-туры
										tr
											td(data-label='Мойка') Мойка выше 3 м
											td(data-label='Цена') от 50 р./м²
										tr
											td(data-label='Мойка') Вышка на 1 сутки
											td(data-label='Цена') от 1 500 р.
										tr
											td(data-label='Мойка') Методом промышленного альпинизма
											td(data-label='Цена') от 60 р./м²
					.tab.tab-4
						.tab-wrapper
							.part
								h3
									span.tooltip-h3(data-tooltip='Цены распространяются на все виды коммерческих помещений: офисы, торговые центры, медучереждения, производства и склады')
										| Для компаний
								table
									thead
										tr
											th
											th Цена
									tbody
										tr
											td(data-label='Услуга') Ежедневная (комплексная)
											td(data-label='Цена') от 15 000 р./мес.
										tr
											td(data-label='Услуга') Генеральная уборка
											td(data-label='Цена') 60 р./м²
										tr
											td(data-label='Услуга') Послестроительная уборка до 500 м²
											td(data-label='Цена') 90 р./м²
										tr
											td(data-label='Услуга') Послестроительная уборка от 501 до 1500 м²
											td(data-label='Цена') 70 р./м²
										tr
											td(data-label='Услуга') Послестроительная уборка от 1500 до 5000 м²
											td(data-label='Цена') 60 р./м²
							.part
								h3 Прайс на мойку остекления и фасадов
								table
									thead
										tr
											th
											th Цена
									tbody
										tr
											td(data-label='Мойка') На высоте до 3 м
											td(data-label='Цена') от 50 р./м²
										tr
											td(colspan='2', data-label='Мойка')
												| На высоте более 3 м с применением автовышки
												| или вышки-туры
										tr
											td(data-label='Мойка') Мойка выше 3 м
											td(data-label='Цена') от 50 р./м²
										tr
											td(data-label='Мойка') Вышка на 1 сутки
											td(data-label='Цена') от 1 500 р.
										tr
											td(data-label='Мойка') Методом промышленного альпинизма
											td(data-label='Цена') от 60 р./м²
							.part
								h3 Цены на очистку крыш от наледи и снега
								table
									thead
										tr
											th
											th Цена
									tbody
										tr
											td Очистка крыши от снега и наледи
											td от 25 р./м²
					.tab.tab-5
						.tab-wrapper
							.part
								h3 Цены на химчистку предметов интерьера
								table
									thead
										tr
											th
											th Цена
									tbody
										tr
											td(data-label='Услуга') Ковры
											td(data-label='Цена') от 150 р. / м²
										tr
											td(data-label='Услуга') Сушка ковров на месте
											td(data-label='Цена') 500 р.
										tr
											td(data-label='Услуга') Диван
											td(data-label='Цена') от 1 500 р.
										tr
											td(data-label='Услуга') Матрас
											td(data-label='Цена') от 1 500 р.
										tr
											td(data-label='Услуга') Стул со спинкой
											td(data-label='Цена') от 300 р.
										tr
											td(data-label='Услуга') Кресло
											td(data-label='Цена') от 1 000 р.
										tr
											td(data-label='Услуга') Подушка
											td(data-label='Цена') от 500 р.
										tr
											td(data-label='Услуга') Мягкая игрушка
											td(data-label='Цена') 250 р.
							.part
								h3 Цены на химчистку салона автомобиля с выездом
								table
									thead
										tr
											th
											th Цена
									tbody
										tr
											td(data-label='Услуга') Легковые Авто
											td(data-label='Цена') от 3 500 р.
										tr
											td(data-label='Услуга') Кроссоверы
											td(data-label='Цена') от 4 000 р.
										tr
											td(data-label='Услуга') Минивэн / Внедорожник
											td(data-label='Цена') от 5 000 р.
										tr
											td(data-label='Услуга') Удаление запахов в Авто
											td(data-label='Цена') от 500 р.
					.tab.tab-6
						.tab-wrapper__one
							h3 Домашний персонал
							table.table2
								thead
									tr
										th Услуги персонала
										th Часы работы
										th Стоимость
								tbody
									tr
										td Услуги домработницы
										td за 8 ч в день
										td 4 000 р.
									tr
										td Услуи садовника
										td за 6 ч в день
										td 3 000 р.

			#attention
				p Окончательная стоимость может отличаться — менеджер сориентирует вас по ценам и поможет подобрать экономный вариант без потери качества.
				p Все цены представлены для ознакомления и не являются публичной офертой.
