extends _templates/_template_default

block variables

	- var subDomain = ''
	- var pageUrl = '/karta-sayta'
	- var title = 'Карта сайта'
	- var metaDescr = 'Все страницы сайта списком'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
	- var h1 = 'Карта сайта'
	- var h1Descr = ''
	- var bcCat = ''
	- var bcCatUrl = ''
	- var nestingLevel = '1'
	- var bc = 'Карта сайта'
	- var category = 'default'
	- var robots = 1
	-
		var list = [
			{'url': 'https://standartcleaning.ru/anketa-klienta-i-aktivaciya-karty', 'h1': 'Анкета клиента для активации карты'},			{'url': 'https://ramenskoye.standartcleaning.ru', 'h1': 'Клининговые услуги в Раменском от компании Стандарт'},
			{'url': 'https://ramenskoye.standartcleaning.ru/akcii', 'h1': 'Акции и Скидки на клининговые услуги'},
			{'url': 'https://ramenskoye.standartcleaning.ru/ceny-na-kliningovye-uslugi-v-ramenskom', 'h1': 'Цены на клининговые услуги'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/', 'h1': 'Химчистка в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/himchistka-divanov-v-ramenskom', 'h1': 'Профессиональная химчистка диванов и кресел на дому'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/himchistka-igrushek', 'h1': 'Химчистка мягких игрушек с выездом к клиенту'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/himchistka-kovrov', 'h1': 'Химчистка ковров и ковролина с выездом к клиенту'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/himchistka-matrasov', 'h1': 'Химчистка матрасов с выездом к клиенту'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/himchistka-myagkoy-mebeli', 'h1': 'Химчистка мягкой мебели с выездом к клиенту'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/himchistka-salona-avtomobilya', 'h1': 'Комплексная химчистка автомобиля с выездом'},
			{'url': 'https://ramenskoye.standartcleaning.ru/himchistka/himchistka-shtor', 'h1': 'Химчистка штор с выездом к клиенту'},
			{'url': 'https://ramenskoye.standartcleaning.ru/kalkulyator-kliningovyh-uslug-dlya-kvartir', 'h1': 'Калькулятор клининговых услуг'},
			{'url': 'https://ramenskoye.standartcleaning.ru/kontakty', 'h1': 'Контактная информация'},
			{'url': 'https://ramenskoye.standartcleaning.ru/moyka-okon-v-ramenskom/', 'h1': 'Мойка окон в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/moyka-okon-v-ramenskom/moyka-okon-alpinistami', 'h1': 'Мойка окон альпинистами в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/moyka-okon-v-ramenskom/moyka-ostekleniya-i-fasadov', 'h1': 'Мойка остекления и фасадов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/ochistka-krysh-ot-naledi-i-snega', 'h1': 'Очистка крыш от наледи и снега от 25 руб./м²'},
			{'url': 'https://ramenskoye.standartcleaning.ru/o-kompanii', 'h1': 'О компании'},
			{'url': 'https://ramenskoye.standartcleaning.ru/promyshlennyy-alpinizm', 'h1': 'Услуги промышленного альпинизма в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-domov/', 'h1': 'Уборка домов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-domov/ekspress-uborka-doma', 'h1': 'Экспресс-уборка дома в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-domov/generalnaya-uborka-doma', 'h1': 'Стоимость генеральной уборки домов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-domov/regulyarnaya-uborka-doma', 'h1': 'Регулярная уборка домов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-domov/uborka-kottedzha-posle-remonta', 'h1': 'Уборка дома после ремонта в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/', 'h1': 'Уборка коммерческой недвижимости'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-biznes-centra', 'h1': 'Уборка бизнес-центра в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-kafe', 'h1': 'Уборка кафе в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-klinik-i-meduchrezhdenij', 'h1': 'Уборка клиник и медучреждений в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-magazina', 'h1': 'Уборка магазина в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-proizvodstv', 'h1': 'Уборка производств в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-restoranov', 'h1': 'Уборка ресторанов'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-sklada', 'h1': 'Уборка склада в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-territorii-predpriyatij', 'h1': 'Уборка территории предприятий в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kommercheskoy-nedvizhimosti/uborka-torgovyh-centrov', 'h1': 'Уборка торговых центров в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/', 'h1': 'Уборка квартир в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/bystraya-uborka-kvartiry', 'h1': 'Экспресс-уборка квартиры в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/generalnaya-uborka-dvuhkomnatnoj-kvartiry', 'h1': 'Генеральная уборка 2ух-комнатной квартиры от 5 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/generalnaya-uborka-kuhni', 'h1': 'Генеральная уборка кухни от 3 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/generalnaya-uborka-kvartiry', 'h1': 'Генеральная уборка квартиры в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/generalnaya-uborka-odnokomnatnoj-kvartiry', 'h1': 'Генеральная уборка однокомнатной квартиры от 4 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/generalnaya-uborka-trekhkomnatnoj-kvartiry', 'h1': 'Генеральная уборка 3х-комнатной квартиры от 6 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/generalnaya-uborka-vannoy', 'h1': 'Генеральная уборка ванной от 2 500 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/regulyarnaya-uborka-kvartiry', 'h1': 'Регулярная уборка квартир в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/uborka-1k-kvartiry', 'h1': 'Уборка однокомнатной квартиры от 2 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/uborka-2h-komnatnoy-kvartiry', 'h1': 'Уборка двухкомнатной квартиры от 2 500 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/uborka-3h-komnatnoy-kvartiry', 'h1': 'Уборка 3к квартиры от 3 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/uborka-3h-komnatnoy-kvartiry-posle-remonta', 'h1': 'Уборка 3х комнатной квартиры после ремонта от 7 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/uborka-kvartir-posle-remonta', 'h1': 'Уборка после ремонта квартиры в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/uborka-odnokomnatnoy-kvartiry-posle-remonta', 'h1': 'Уборка 1к квартиры после ремонта от 5 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-kvartir/uborka-posle-remonta-2uh-komnatnoy-kvartiry', 'h1': 'Уборка 2к квартиры после ремонта от 6 000 р.'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-ofisov/', 'h1': 'Уборка офисов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-ofisov/ezhednevnaya-uborka-ofisa', 'h1': 'Ежедневная уборка офисов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-ofisov/generalnaya-uborka-ofisa', 'h1': 'Генеральная уборка офисов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-ofisov/regulyarnana-uborka-v-ofise', 'h1': 'Поддерживающя уборка офисов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-ofisov/uborka-ofisa-posle-remonta', 'h1': 'Уборка офиса после ремонта в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-ofisov/utrennyaya-uborka-ofisov', 'h1': 'Утренняя уборка офисов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-ofisov/vechernyaya-uborka-ofisov', 'h1': 'Вечерняя уборка офисов в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-pomescheniy/', 'h1': 'Уборка помещений в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-pomescheniy/generalnaya-uborka', 'h1': 'Генеральная уборка в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-pomescheniy/uborka-posle-remonta', 'h1': 'Проведение уборки после ремонта в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uborka-posle-meropriyatiy', 'h1': 'Уборка после мероприятий в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uslugi-domrabotnicy', 'h1': 'Услуги домработницы в Раменском'},
			{'url': 'https://ramenskoye.standartcleaning.ru/uslugi-sadovnika', 'h1': 'Услуга ухода за садом в Раменском'},
		]

block content
	section.hero
		h1= h1
		+breadcrumbs_naked
	div.section.section-sitemap
		ul
			+sitemap
