extends _templates/_template_kommerce

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/ochistka-krysh-ot-naledi-i-snega'
	- var mainpage = ''
	- var title = 'Очистка крыш от наледи и снега в Раменском'
	- var metaDescr = 'Услуга очистки крыш от наледи и снега от клининговой компании ""Стандарт"". Работы с альпинистами и с вышки. Соответствует требованиям законодательства.'
	- var ogImage = 'img/profi-min.jpg'
		//- main screen
	- var h1 = 'Очистка крыш от наледи и снега от 25 руб./м²'
	- var h1Descr = 'Услуги по очистке от снега и сосулек крыш зданий в соответствии с законодательством. Профессионально.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Очистка крыш от наледи и снега от 25 руб./м²'
		//- backgrounds
	- var mainBackground = 'img/Kryshi1.jpg'
	- var formBackground = 'img/Kryshi2.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Очистка крыш от наледи​
			.descr
				p Следует понимать, что очистка крыш от наледи и сосулек — не роскошь, а настоящая необходимость. Но если вы не являетесь промышленным альпинистом, то работа на большой высоте может таить в себе опасность для вашей жизни. Мы же точно знаем все правила страховки и работаем только при помощи безопасных инструментов, которые не нанесут вреда кровле.
				p Очистка крыш от наледи и снега состоит из следующих этапов:
				ul
					li проверяем наличие и при необходимости устанавливаем желоба и воронки;
					li удаляем снежные массы на 1,5 м от края крыши;полностью вычищаем снег и наледь с поверхности крыши;
					li удаляем сосульки и наледь по периметру крыши;
					li убираем снег, сброшенный на землю.
				p Цены на очистку крыши от снега и наледи зависят от сложности поставленной задачи, площади крыши, количества наледи и сосулек, а также от погодных условий. Чтобы точно узнать стоимость уборки снега с крыши, вы всегда можете вызвать нашего менеджера на объект. Эта услуга бесплатна.
				p Уборка снега с крыш — работа для профессионаловНе рекомендуем вам самостоятельно заниматься уборкой наледи и снега с крыш. Это опасный труд, который требует больших физических нагрузок. Также следует учесть, что очисткой крыш от наледи и снега не получится заниматься в одиночку, без специального оборудования и экипировки. Каждый год страдает множество людей, которые пренебрегают правилами безопасности и страховкой.
				p Оставьте свой заряд адреналина и воодушевления для зимнего отдыха. А очистку крыш от наледи и снега доверьте профессионалам  клининговой компании «СТАНДАРТ»! Мы справимся с поставленной задачей качественно и в максимально короткие сроки. Поверьте: уборка снега с крыш в нашем исполнении действительно избавит вас от насущной проблемы, связанной с порчей кровли. А крыша перестанет быть источником опасности для людей и животных.
