extends _templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/ochistka-krysh-ot-naledi-i-snega'
	- var title = 'Очистка крыш от снега и наледи в Жуковском'
	- var metaDescr = 'Услуга очистки крыш от сосулек и снега. Соблюдаем все требования законодательства и безопасности.'
	- var ogImage = '../img/2019/Kryshi1.jpg'

	- var mainBackground = 'img/2019/Kryshi1.jpg'
	- var formBackground = 'img/2019/Kryshi3.jpg'
	- var h1 = 'Очистка крыш от наледи и снега от 25 руб./м²'
	- var h1Descr = 'Услуги по очистке от снега и сосулек крыш зданий в соответствии с законодательством. Профессионально.'

	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Очистка крыш от снега и наледи'

	- var nestingLevel = '1'
	- var category = 'default'

block seotext
	.title
		h2 Очистка крыш от наледи
	.descr
		p Следует понимать, что очистка крыш от наледи и сосулек — не роскошь, а настоящая необходимость. Но если вы не являетесь промышленным альпинистом, то работа на большой высоте может таить в себе опасность для вашей жизни. Мы же точно знаем все правила страховки и работаем только при помощи безопасных инструментов, которые не нанесут вреда кровле.
		p Очистка крыш от наледи и снега состоит из следующих этапов:
		ol
			li проверяем наличие и при необходимости устанавливаем желоба и воронки;
			li удаляем снежные массы на 1,5 м от края крыши;
			li полностью вычищаем снег и наледь с поверхности крыши;
			li удаляем сосульки и наледь по периметру крыши;
			li убираем снег, сброшенный на землю.
		p Цены на очистку крыши от снега и наледи зависят от сложности поставленной задачи, площади крыши, количества наледи и сосулек, а также от погодных условий. Чтобы точно узнать стоимость уборки снега с крыши, вы всегда можете вызвать нашего менеджера на объект. Эта услуга бесплатна.
		h3 Уборка снега с крыш — работа для профессионалов
		p Не рекомендуем вам самостоятельно заниматься уборкой наледи и снега с крыш. Это опасный труд, который требует больших физических нагрузок. Также следует учесть, что очисткой крыш от наледи и снега не получится заниматься в одиночку, без специального оборудования и экипировки. Каждый год страдает множество людей, которые пренебрегают правилами безопасности и страховкой.
		p Оставьте свой заряд адреналина и воодушевления для зимнего отдыха. А очистку крыш от наледи и снега доверьте профессионалам  клининговой компании «СТАНДАРТ»! Мы справимся с поставленной задачей качественно и в максимально короткие сроки. Поверьте: уборка снега с крыш в нашем исполнении действительно избавит вас от насущной проблемы, связанной с порчей кровли. А крыша перестанет быть источником опасности для людей и животных.

//- block content
	p Крыша здания зимой — источник повышенной опасности для людей. Чтобы избежать неприятных инцидентов, необходимо своевременно производить очистку крыш от наледи и снега. Также следует знать, что уборка снега с крыш поможет защитить кровлю от проседания и деформации под тяжестью снежных масс, а также от нарушения гидроизоляции.
	p Однако если доверить очистку крыши от наледи дилетанту, то результат может огорчить вас. Поэтому советуем обращаться за помощью только к профессионалам Мы обеспечиваем очистку от наледи любых видов крыш, полностью соблюдая технику безопасности. Принимаем заказы на разовое обслуживание или заключаем договор на очистку крыш от наледи и снега на абонентской основе. Помимо этого, цена уборки снега с крыш порадует вас своей демократичностью, а работа специалистов клининговой компании «СТАНДАРТ» — своим профессионализмом.
