extends _templates/_template_default

block variables

	- var subDomain = ''
	- var title = 'Отзывы о клининговой компании «Стандарт»'
	- var pageUrl = '/otzyvy'
	- var metaDescr = 'Отзывы о клининговых услугах компании «Стандарт», написанные клиентами после наших разовых уборок, химчисток, уборки на мероприятиях и выставках и комплексного обслуживания.'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.jpg'
	- var h1 = 'Отзывы о нашей работе'
	- var h1Descr = ''
	- var bcCat = ''
	- var bcCatUrl = ''
	- var nestingLevel = '1'
	- var bc = 'Отзывы'
	- var category = 'default'

	-
		var otzyvy = [
				{'name': 'Светлана', 'descr': 'Давно пользуюсь услугами данной компании. Качество уборки всегда на 5+👍Быстро и качественно! Молодцы ребята!', 'img': 'img/review__Svetlana.jpg'},
				{'name': 'Светлана', 'descr': 'Сказать, что я осталась довольна, не сказать ничего! Я просто в восторге! Вы настоящие профессионалы своего дела! Всё на высшем уровне! Буду с удовольствием пользоваться и дальше вашими услугами! Ваша компания настоящая палочка-выручалочка для занятых людей!!!', 'img': 'img/review__Svetlana1.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': 'img/review__Tanyushka.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': 'img/review__Valerij.jpg'},
		]
	-
		var otzyvy1 = [
				{'name': 'Вероника', 'descr': 'Хочу поблагодарить команду за огромную помощь в уборке сильно загрязненной квартиры, в т.ч. после ремонта, особенно Аллу. Убрали чисто, быстро, а главное, недорого, по сравнению с другими клининговыми компаниями Подмосковья. Огромный плюс: безопасность, сотрудники - приятные люди, которых не страшно оставлять у себя в квартире. Всем очень рекомендую!', 'img': 'img/review__Veronika.jpg'},
				{'name': 'Tata', 'descr': 'Спасибо большое за уборки! Они просто спасают!', 'img': 'img/review__Tata.jpg'},
				{'name': 'Ольга', 'descr': 'Если кто из раменского или жуковского, то очень рекомендую Стандарт. Они уже месяцев 5 у нас убирают - аккуратные барышни, пылесосы тихие, все чистенькое. Ничего лишнего не делают, убрали быстро (минут 15) и до следующей недели))', 'img': 'img/review__Olga2.jpg'},
				{'name': 'Марина', 'descr': 'Благодарю сотрудников Стандарт Клининг за отличную мойку окон на лоджии👍  Буду обращаться ещё', 'img': 'img/review__Marina.jpg'},
		]
	-
		var otzyvy_komm = [
			{'img': 'img/blagodarstvennoe-pismo-MCHS-rossii.png', 'descr': 'Руководство ФГБУ «АСК МЧС России» выражает глубокую признательность и благодарность компании ООО «Стандарт» и лично Гончар Валерию за профессионализм и четкость выполнения обязательств. Ваша компания проявила себя как падежный и добросовестный партнер. Надеемся на дальнейшее взаимовыгодное сотрудничество', 'name': 'ФГБУ «АСК МЧС России»'},
			{'img': 'img/blagodarstvennoe-pismo-aleks-stomatologija-ramka.png', 'descr': 'Стоматологическая клиника «Алекс» выражает Вам и сотрудникам Вашей компании благодарность за сотрудничество, качественную и оперативную работу на профессиональном уровне по уборке помещений стоматологической клиники «Алекс». Особенно хотелось бы подчеркнуть доброжелательность персонала и его готовность сделать работу качественно и в удобное для Заказчика время', 'name': 'Клиника «Алекс»'},
			{'img': 'img/blagodarstvennoe-pismo-nekspo-ramka.png', 'descr': 'От лица компании ООО "Нэкспо Групп" хочу поблагодарить Вас за отличную работу на ХII Международном авиационно-космическом салоне "МАКС - 2015" выполненную для нашей компании! Особо хочу поблагодарить высокий профессионализм сотрудников опрятный внешний вид, использование современных средств и оборудования для уборки, а так же готовность помочь в непредвиденных ситуациях', 'name': 'ООО "НЭКСПО ГРУПП"'},
		]
		var otzyvy_komm1 = [
			{'img': 'img/blagodarstvennoe-pismo-russlij-bereg-ramka.png', 'descr': 'Коллектив нашей организации выражает искреннюю признательность Клининговой компании ООО "Стандарт" за сверкающие полы и прозрачные окна в нашем офисе! С большим удовольствием мы приходим на свои рабочие места ежедневно и наслаждаемся чистотой, созданной Вашими заботливыми сотрудниками!  Огромное Вам спасибо!', 'name': 'ООО «Компания Русский Берег»'},
			{'img': 'img/blagodarstvennoe-pismo-specstroy-ramka.png', 'descr': 'ООО "СПЕЦСТРОЙ" выражает благодарность компании ООО "Стандарт" за оперативное и качественное выполнение услуг. За время совместной работы компания ООО "Стандарт" и ее коллектив проявили себя как надежные партнеры, профессионально выполняющие свою работу. Надеемся на дальнейшее плодотворное сотрудничество и рекомендуем ООО "Стандарт" как надежного партнера', 'name': 'ООО «Спецстрой»'},
		]

block content
	section.hero
		h1= h1
		+breadcrumbs_naked
	div.section.section-otzyvy
		.container
			.four-column
				div
				div
				a.btn-sm__green.hvr-bob(href="#review-form")
					| Оставьте свой отзыв
				a.btn-sm__t-green.hvr-bob(href='../fotografii-rabot/')
					| Посмотрите портфолио
			.tabs
				.tabs-nav
					.tabs-nav__item.is-active(data-tab-name='tab-1')
						| Отзывы
					.tabs-nav__item(data-tab-name='tab-2')
						| Благодарности
				.tabs__content
					.tab.tab-1.is-active
						.tab-wrapper.reviews
							.part
								+otzyvy_page(otzyvy)
							.part
								+otzyvy_page(otzyvy1)
					.tab.tab-2
						.tab-wrapper.reviews
							.part
								+otzyvy_page__komm(otzyvy_komm)
							.part
								+otzyvy_page__komm(otzyvy_komm1)



	//- section.section.section-review-form#review-form
		.container
			.form-wrapper
				.info-block
					.section-title
						| Оставьте свой отзыв
					p
						| Все поля можно не заполнять. Обязательных всего два: Имя и Ваш отзыв.
					p
						| Если вы хотите, чтобы мы перезвонили вам или ответили на email, поставьте галочку “Прошу связаться со мной”
					p
						| Нажимая кнопку “Отправить отзыв”, вы даёте согласие на
						a(href='#') обработку персональных данных.
					p
						| Все отзывы проходят модерацию перед публикацией. Пожалуйста, учтите, что мы не принимаем к публикации отзывы с оскорблениями и ссылками.
				form
					input.form-control(type='text', name='name', placeholder='Имя', required='')
					input.form-control(type='number', name='phone', placeholder='Телефон', required='')
					input.form-control(type='email', name='email', placeholder='email', required='')
					input.form-control(type='text', name='type', placeholder='Вид услуги', required='')
					textarea.form-control(rows='4', placeholder='Ваш отзыв', required='')
					label.checkbox
						input(type='checkbox', value='прошу связаться со мной')
						span
							| прошу связаться со мной
					button.btn.btn-green.btn-lg(type='submit')
						| Отправить отзыв
