extends _templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/promyshlennyy-alpinizm'
	- var title = 'Промышленный альпинизм в Жуковском'
	- var metaDescr = 'Промышленный альпинизм'
	- var ogImage = 'img/photo-prom-alp-min.jpg'
	- var h1 = 'Услуги промышленного альпинизма в Жуковском'
	- var h1Descr = 'Фасадные работы: ремонт, очистка, покраска, монтаж водостоков, герметизация швов, замена стеклопакетов. Мойка окон и фасадов, удаление пыли. Монтаж, покраска металлоконструкций. Установка крыши на балкон, ремонт балконов.'
	- var bcCat = ''
	- var bcCatUrl = ''
	- var nestingLevel = '1'
	- var bc = 'Промальп'

	- var mainBackground = 'img/photo-prom-alp-min.jpg'
	- var formBackground = 'img/photo-prom-alp-min.jpg'


block promalp
	section
		.container
			.section-title
				h2 Цены на услуги промышленного альпинизма

	div.section-blog
		.container
			p Услуга достаточно сложная и зависит от задач и сложности исполнения. Поэтому по цене вас сориентирует менеджер.
			p Стоимость услуги промышленного альпинизма могут возрастать при наличии следующих факторов:
			ul
				li суровые погодные условия;
				li наличие сложных загрязнений;
				li этажность здания;
				li отсутствие свободного доступа к остеклению в силу нестандартного дизайна постройки.
			p Оказывая услуги промышленного альпинизма, мы всегда готовы учитывать ваши пожелания и брать ответственность за конечный результат. Нашим профессионалам под силу справиться даже с самыми трудными загрязнениями, такими как: краска, клей, монтажная пена или въевшаяся грязь неизвестного происхождения.
			p
				span.b Лучший вариант – позвонить нам или заказать обратный звонок – менеджер быстро сориентирует вас по ценам и поможет подобрать верное решение для вашей ситуации.

block seotext
	.title
		h2 Услуги Промальп
	.descr
		p Промышленный альпинизм – технология производства высотных работ (ремонтные, монтажные, демонтажные) на любых объектах заказчика при которой исполнитель получает доступ к месту работы с помощью движения по альпинисткой веревке и применения страховочной системы. Технология обеспечивает работнику доступ к наиболее труднодоступным местам без использования механических подъёмников, строительных лесов и фасадных люлек.
		p Фасадные работы (реставрация кирпича, герметизация межпанельных швов, подготовка поверхности под покраску, покраска фасада)
		p Очистка крыш от снега и наледи
		p Клининговые услуги (мойка окон, очистка и мытьё фасадов)

