extends _templates/_template_service

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-ofisov/'
	- var mainpage = ''
	- var title = 'Уборка офиса в Раменском'
	- var metaDescr = 'Уборка офисов и складских помещений от клининговой компании «Стандарт». Цены на уборку офисных помещений. Комплексное обслуживание компаний. Профессиональное оборудование для клининга.'
	- var ogImage = 'img/uborka-ofisa-high-1680.jpg'
		//- main screen
	- var h1 = 'Уборка офисов в Раменском'
	- var h1Descr = 'Убираем офисные помещения после ремонта, на регулярной основе, делаем генеральные уборки. Полное клининговое обслуживание и разовые заказы.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Уборка офисов в Раменском'
		//- backgrounds
	- var mainBackground = 'img/uborka-ofisa2.jpg'
	- var formBackground = 'img/uborka-ofisa3.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'ofisy'
		//- mixin subservices
	-
		var subservices = [
				{'name': 'Регулярная уборка офиса', 'img': '../img/uborka-ofisa-high-480.jpg', 'pageUrl': '../uborka-ofisov/regulyarnana-uborka-v-ofise', 'popup': 'service1'},
				{'name': 'Генеральная уборка офиса', 'img': '../img/pexels-photo-380768-o67ccw8uwrpyt8kkaedtfblcl4ot7qw1xtq5h9p5qk.jpeg', 'pageUrl': '../uborka-ofisov/generalnaya-uborka-ofisa', 'popup': 'service2'},
				{'name': 'Уборка офиса после ремонта', 'img': '../img/uborka-ofisa-980-o5zh0p32p8f1owxgab2gmb1h3k65zut2vj11i5mvkc.jpg', 'pageUrl': '../uborka-ofisov/uborka-ofisa-posle-remonta', 'popup': 'service3'},
				{'name': 'Мойка остекления и фасадов', 'img': '../img/moyka-ostekleniya-480.jpg', 'pageUrl': '../moyka-okon-v-ramenskom/moyka-ostekleniya-i-fasadov', 'popup': 'service4'},
		]
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку для офисов'
	-
		var thead = ['Уборка офисов', 'Цена']
	-
		var tbody = [
				['Ежедневная (комплексная)', 'от 15 000 р. /мес.'],
				['Генеральная уборка', '60 р. /м²'],
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Уборка офисов
			.descr
				p Чтобы не увеличивать штат сотрудников за счёт трудоустройства уборщиков, предлагаем вам воспользоваться услугами клининговой компании «Стандарт». Мы готовы взять на себя ответственность за создание благоприятной обстановки и подходящих условий работы трудового коллектива. Уборку помещений выполняет требуемое количество человек по графику или разово. Менеджер предварительно оценит объект и предложит план и стоимость работ, чтобы услуга оказывалась эффективно и экономно.
				p О каких же мероприятиях идёт речь, когда мы говорим об уборке помещений?
				ul
					li удаление пыли  и загрязнений со всех поверхностей, а также с предметов мебели или рабочих мест
					li при необходимости осуществляется очистка систем отопления, вентиляционных систем и промышленного оборудования
					li дезинфекция производственного помещения/оборудования
					li не маскировка неприятных запахов, а их профессиональное удаление.
				p Также если вам необходимо сделать акцент на мытье стеклянных поверхностей, химчистке, удалении сложно выводимых пятен или уборке приусадебных площадок — можете смело доверить подобные поручения нам. Специалисты «Стандарта» обладают обширным опытом в сфере клининга в Раменском и готовы успешно справиться с широким спектром разнообразных задач.
				p Важно отметить, что мы отдаём себе отчёт в том, что уборка помещений должна осуществляться в полном соответствии санитарным нормам. К примеру, если речь идёт о пищевом производстве, то мы считаем настоящей халатностью оставить даже в самых сложно доступных местах грязь или пыль. Некачественная уборка оборудования — просто не укладывается в голове! Поэтому всегда стараемся держать марку и показывать, какой он — стандарт чистоты не только дома, но и на работе в крупном предприятии.
				p На сегодняшний день сложно представить успешное производство в сочетании с пылью и грязью. Подобный хаос плохо отражается на эмоциональном настрое и трудоспособности всего коллектива. И именно чистота — важный показатель благополучия компании, которая уделяет особое внимание уборке помещений, заботясь о комфорте и здоровье своих сотрудников. Но, как известно, уборка может быть разной: как качественной, так и ужасно небрежной. Так, мы готовы предложить вам профессиональную уборку помещений. И если вы высоко цените статус своей компании — не стоит экономить на первоклассном клининге. Опыт показывает, что коллеги, сотрудники и партнёры всегда отмечают для себя состояние помещений, в которых ведётся работа. И нацелены сотрудничать с компанией, где царит атмосфера уюта и порядка во всём: начиная от вымытого пола, заканчивая вашей чётко структурированной философией бизнеса.
