extends _templates/_template_service

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-domov'
	- var title = 'Уборка коттеджей и домов по невысоким ценам с гарантией качества – звоните или оставляйте заявку в Раменском'
	- var metaDescr = 'Уборка домов и коттеджей – стоимость зависит от вида уборки и площади. Гарантируем качество выполнения - оплата по результату. Справимся с любыми загрязнениями и ситуациями в вашем доме!'
	- var ogImage = 'img/kottedzh2.jpg'
	- var h1 = 'Уборка домов в Жуковском'
	- var h1Descr = 'Все виды уборки коттеджей для любых ситуаций и случаев: после строителей, после праздника, в помощь мамам с детьми и других ситуаций'
	- var bcCat = ''
	- var bcCatUrl = ''
	- var nestingLevel = '1'
	- var bc = 'Уборка коттеджей и домов'
	- var category = "doma"

	- var mainBackground = 'img/kottedzh1-1.png'
	- var formBackground = 'img/kottedzh3.jpg'


	//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Анастасия', 'descr': 'Два дня назад закончили уборку нашего дома. Вас посоветовали соседи, созвонилась и договорились. Уборка шла два дня, я приехала с супругом только к вечеру на второй день. Понравилось то, что под ножки стремянок и лесов положили тряпочки и картон, по-честному залазили на леса и протирали бревна и люстру, у нас второй свет. Прораб долго потом смотрел пол, но без проблем. В общем, убрали все хорошо и самое главное аккуратно, мы довольны.', 'img': '../img/review__Anastasiya.jpg'},
				{'name': 'Карина', 'descr': 'Когда мы делали ремонт в однокомнатной квартире, я справилась с уборкой сама. Но после ремонта коттеджа уборка для нас оказалась непосильным трудом. Искали долго, в итоге выбрали Стандарт. Цена получилась ниже. Девушка быстро посчитала стоимость, а на следующий день приехал менеджер уточнил цену - получилось даже меньше. Клинеры тоже не подвели - чувствовалось, что хорошо знают свое дело.', 'img': '../img/review__Karina.jpg'},
				{'name': 'Андрей', 'descr': 'Мне строители возвели хороший коттедж, весь мусор за собой вывезли, а что поменьше оставили. Своими силами было не потянуть, плюс нужно было прогенералить, вымыть окна и полы и т.д. Сосед посоветовал Стандарт. Менеджер приехал оценить, посоветовал как что сэкономить, договорились в общем. Убрали за полтора дня, сотрудники работали быстро, я только показал где кран с водой и приехал принять уборку на следующий день. Пол, окна, стены и фасад - ничего не забыли не пропустили. Рекомендую.', 'img': '../img/review__Andrej.jpg'},
				{'name': 'Евгений', 'descr': 'Отличный сервис. Обращаюсь не в первый раз, как правило заказываю раз в три месяца генералку дома. Окна моют отлично, уборка всегда на высоком уровне. Нареканий нет, все отодвинут, залезут протрут, по времени не быстро, но они и убирают тщательно. Рекомендую вас всем друзьям.', 'img': '../img/review__Evgenij.jpg'},
				{'name': 'Владимир', 'descr': 'Заказывали здесь уборку дома после проведения вечеринки. Выполнили быстро, а что самое важное качественно. Нам не пришлось тратить самим время на уборку. Сразу видно- работают профессионалы!', 'img': '../img/review__Vladimir.jpg'},
				{'name': 'Светлана', 'descr': 'Давно пользуюсь услугами данной компании. Качество уборки всегда на 5+👍Быстро и качественно! Молодцы ребята!', 'img': '../img/review__Svetlana.jpg'},
				{'name': 'Маргарита', 'descr': 'Пользовались услугами частной уборщицы. А сын в подарок нам заказал генеральную уборку в клининговой компании. Разница конечно сильная - ничего не пахнет, даже пылится меньше - у них какая-то специальная химия. А для частников она дорого выходит. Вот мы и начали в Стандарте уборки заказывать.', 'img': '../img/review__Margarita.jpg'},
				{'name': 'Светлана', 'descr': 'Сказать, что я осталась довольна, не сказать ничего! Я просто в восторге! Вы настоящие профессионалы своего дела! Всё на высшем уровне! Буду с удовольствием пользоваться и дальше вашими услугами! Ваша компания настоящая палочка-выручалочка для занятых людей!!!', 'img': '../img/review__Svetlana1.jpg'},
				{'name': 'Владимир', 'descr': 'Нужно было быстро убраться в квартире к приходу гостей. Позвонила накануне – нашли время. Все сделали быстро и качественно. Ума не приложу, как раньше жили без таких сервисов. Спасибо, вы очень облегчаете жизнь.', 'img': '../img/review__Vladimir.jpg'},
		]
		//- mixin subservices
	-
		var subservices = [
				{'name': 'Экспресс-уборка коттеджа', 'price': 'от 3 500 р.', 'img': '../img/kottedzh5-high-480.jpg', 'pageUrl': '../uborka-domov/ekspress-uborka-doma', 'popup': 'service1'},
				{'name': 'Регулярная уборка дома', 'price': 'от 3 000 р.', 'img': '../img/kottedzh3-high-480.jpg', 'pageUrl': '../uborka-domov/regulyarnaya-uborka-doma', 'popup': 'service2'},
				{'name': 'Генеральная уборка дома', 'price': 'от 6 000 р.', 'img': '../img/kottedzh2-high-480.jpg', 'pageUrl': '../uborka-domov/generalnaya-uborka-doma', 'popup': 'service3'},
				{'name': 'После ремонта коттеджа', 'price': 'от 90 р. / м²', 'img': '../img/uborka-kvartir-posle-remonta-high-480-1.jpg', 'pageUrl': '../uborka-domov/uborka-kottedzha-posle-remonta', 'popup': 'service4'},
		]
		//- mixin additional
	-
		var additional = [
			{'name':'Генеральная уборка ванной', 'price': '2 500 р.'},
			{'name':'Генеральная уборка кухни', 'price': '3 000 р.'},
			{'name':'Уборка шкафов и мебели', 'price': 'от 1 500 р.'},
			{'name':'Мойка хрустальных и сложных люстр, бра, торшеров', 'price': 'от 500 р.'},
			{'name':'Мойка холодильника', 'price': 'от 500 р.'}
		]

	- var priceH2 = 'Цены на уборку дома'
	//- mixin pricetable
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = [
				['Постоянная', '3 000 р.', '3 500 р.', '4 000 р.', '4 500 р.'],
				['Постоянная без химии', '2 500 р.', '3 000 р.', '3 500 р.', '4 000 р.'],
				['Экспресc', '3 500 р.', '4 000 р.', '5 000 р.', 'договорная'],
				['Генеральная', '6 000 р.', '8 000 р.', '9 000 р.', 'договорная'],
				['После ремонта', 'от 90 р. /м²', 'от 90 р. /м²', 'от 90 р. /м²', 'договорная'],
		]


block seotext
	.title
		h2 Уборка Домов
	.descr
		p Уборка частного дома только на первый взгляд может показаться занятием довольно скучным и до ужаса однообразным. На самом же деле — это большое искусство. И квалифицированные специалисты клининговой компании «Стандарт» всегда готовы продемонстрировать своё мастерство.  Осталось только выбрать удобное для вас время уборки, согласовать его и получить блестящий результат!
		p Мы понимаем, что частный дом — это живой организм: пока убираешь на кухне, физически не доходят руки проконтролировать, что творится в гостиной, ванной комнате или детской… Поэтому с радостью готовы помочь вашей семье решить следующий список задач:
		ul
			li вымыть потолки, плитки, двери, окна, зеркала, кухонную технику;
			li почистить и продезинфицировать все санузлы;натереть и отполировать стеклянные и металлические поверхности, хромированные элементы интерьера;
			li бережно провести уход за мягкой мебелью, коврами, постельным бельём, жалюзи и шторами;
			li вынести несносный мусор.
		p Это обобщённый список услуг. И если необходим индивидуальный перечень задач по клинингу — менеджер составит его. Он готов бесплатно выехать на объект и оценить точную стоимость предстоящих работ. Но лучше заранее определиться с направленностью клининга в зависимости от ваших целей и ожиданий. Так, мы специализируемся на четырёх типах уборки частных домов: генеральная, постоянная, после строительства или ремонта и экспресс уборка.
		p Наша миссия — делать вашу жизнь проще. Отныне вы  сможете высвободить львиную долю времени на отдых в приятной компании родных и друзей. А высокий профессионализм, передовые технологии, современное оборудование и моющие средства позволят нам в кратчайшие сроки качественно решить весь комплекс сервисных услуг любой сложности. Несём ответственность за все объекты, которые убираем. Оплату берём только за проделанную работу. Иными словами, можете быть уверены, что после клининга от компании «Стандарт» в ваш дом снова превратится в истинную зону комфорта и чистоты.
		p Остаётся лишь добавить, что мы искренне любим свою работу и стремимся помочь каждому клиенту решить конкретные проблемы, связанные с уборкой коттеджа. Обращаясь в «Стандарт», вы можете быть уверены, что работа наших специалистов будет сделана качественно и на совесть.

