extends _templates/_template_service

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-domov/'
	- var mainpage = ''
	- var title = 'Уборка домов и коттеджей в Раменском'
	- var metaDescr = 'Уборка домов и коттеджей в Раменском – стоимость зависит от вида уборки и площади. Гарантируем качество выполнения - оплата по результату. Справимся с любыми загрязнениями и ситуациями в вашем доме!'
	- var ogImage = 'img/kottedzh2-1600-1.jpg'
		//- main screen
	- var h1 = 'Уборка домов в Раменском'
	- var h1Descr = 'Все виды уборки коттеджей для любых ситуаций и случаев: после строителей, после праздника, в помощь мамам с детьми и других ситуаций'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Уборка домов в Раменском'
		//- backgrounds
	- var mainBackground = 'img/kottedzh2.jpg'
	- var formBackground = 'img/kottedzh3.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'doma'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Анастасия', 'descr': 'Два дня назад закончили уборку нашего дома. Вас посоветовали соседи, созвонилась и договорились. Уборка шла два дня, я приехала с супругом только к вечеру на второй день. Понравилось то, что под ножки стремянок и лесов положили тряпочки и картон, по-честному залазили на леса и протирали бревна и люстру, у нас второй свет. Прораб долго потом смотрел пол, но без проблем. В общем, убрали все хорошо и самое главное аккуратно, мы довольны.', 'img': '""../img/review__Anastasiya.jpg'},
				{'name': 'Карина', 'descr': 'Когда мы делали ремонт в однокомнатной квартире, я справилась с уборкой сама. Но после ремонта коттеджа уборка для нас оказалась непосильным трудом. Искали долго, в итоге выбрали Стандарт. Цена получилась ниже. Девушка быстро посчитала стоимость, а на следующий день приехал менеджер уточнил цену - получилось даже меньше. Клинеры тоже не подвели - чувствовалось, что хорошо знают свое дело.', 'img': '""../img/review__Karina.jpg'},
				{'name': 'Андрей', 'descr': 'Мне строители возвели хороший коттедж, весь мусор за собой вывезли, а что поменьше оставили. Своими силами было не потянуть, плюс нужно было прогенералить, вымыть окна и полы и т.д. Сосед посоветовал Стандарт. Менеджер приехал оценить, посоветовал как что сэкономить, договорились в общем. Убрали за полтора дня, сотрудники работали быстро, я только показал где кран с водой и приехал принять уборку на следующий день. Пол, окна, стены и фасад - ничего не забыли не пропустили. Рекомендую.', 'img': '""../img/review__Andrej.jpg'},
				{'name': 'Евгений', 'descr': 'Отличный сервис. Обращаюсь не в первый раз, как правило заказываю раз в три месяца генералку дома. Окна моют отлично, уборка всегда на высоком уровне. Нареканий нет, все отодвинут, залезут протрут, по времени не быстро, но они и убирают тщательно. Рекомендую вас всем друзьям.', 'img': '""../img/review__Evgenij.jpg'},
				{'name': 'Владимир', 'descr': 'Заказывали здесь уборку дома после проведения вечеринки. Выполнили быстро, а что самое важное качественно. Нам не пришлось тратить самим время на уборку. Сразу видно- работают профессионалы!', 'img': '""../img/review__Vladimir.jpg'},
				{'name': 'Светлана', 'descr': 'Давно пользуюсь услугами данной компании. Качество уборки всегда на 5+👍Быстро и качественно! Молодцы ребята!', 'img': '""../img/review__Svetlana.jpg'},
				{'name': 'Маргарита', 'descr': 'Пользовались услугами частной уборщицы. А сын в подарок нам заказал генеральную уборку в клининговой компании. Разница конечно сильная - ничего не пахнет, даже пылится меньше - у них какая-то специальная химия. А для частников она дорого выходит. Вот мы и начали в Стандарте уборки заказывать.', 'img': '""../img/review__Margarita.jpg'},
				{'name': 'Светлана', 'descr': 'Сказать, что я осталась довольна, не сказать ничего! Я просто в восторге! Вы настоящие профессионалы своего дела! Всё на высшем уровне! Буду с удовольствием пользоваться и дальше вашими услугами! Ваша компания настоящая палочка-выручалочка для занятых людей!!!', 'img': '""../img/review__Svetlana1.jpg'},
				{'name': 'Владимир', 'descr': 'Нужно было быстро убраться в квартире к приходу гостей. Позвонила накануне – нашли время. Все сделали быстро и качественно. Ума не приложу, как раньше жили без таких сервисов. Спасибо, вы очень облегчаете жизнь.', 'img': '""../img/review__Vladimir.jpg'},
		]
		//- mixin subservices
	-
		var subservices = [
			{'name': 'Экспресс-уборка коттеджа', 'price': 'от 3 500 р.', 'img': '../img/kottedzh5-high-480.jpg', 'pageUrl': '../uborka-domov/ekspress-uborka-doma.html', 'popup': 'service1'},
			{'name': 'Регулярная уборка дома', 'price': 'от 3 000 р.', 'img': '../img/kottedzh3-high-480.jpg', 'pageUrl': '../uborka-domov/regulyarnaya-uborka-doma.html', 'popup': 'service2'},
			{'name': 'Генеральная уборка дома', 'price': 'от 6 000 р.', 'img': '../img/kottedzh2-high-480.jpg', 'pageUrl': '../uborka-domov/generalnaya-uborka-doma.html', 'popup': 'service3'},
			{'name': 'После ремонта коттеджа', 'price': 'от 90 р. / м²', 'img': '../img/uborka-kvartir-posle-remonta-high-480.jpg""', 'pageUrl': '../uborka-domov/uborka-kottedzha-posle-remonta.html', 'popup': 'service4'},
		]
		//- mixin additional
	-
		var additional = [
			{'name':'Генеральная уборка ванной', 'price': '2 500 р.'},
			{'name':'Генеральная уборка кухни', 'price': '3 000 р.'},
			{'name':'Уборка шкафов и мебели', 'price': 'от 1 500 р.'},
			{'name':'Мойка хрустальных и сложных люстр, бра, торшеров', 'price': 'от 500 р.'},
			{'name':'Мойка холодильника', 'price': 'от 500 р.'}
		]
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку дома'
	-
		var thead = ['Уборка домов', 'до 150 м²', 'от 151 до 250 м²', 'от 251 до 300 м²', 'от 301 м²']
	-
		var tbody = [
					['Постоянная', '3 000 р.', '3 500 р.', '4 000 р.', '4 500 р.'],
					['Постоянная без химии', '2 500 р.', '3 000 р.', '3 500 р.', '4 000 р.'],
					['Экспресc', '3 500 р.', '4 000 р.', '5 000 р.', 'договорная'],
					['Генеральная', '6 000 р.', '8 000 р.', '9 000 р.', 'договорная'],
					['После ремонта', 'от 90 р. /м²', 'от 90 р. /м²', 'от 90 р. /м²', 'договорная'],
		]

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Виды уборки Домов
			.descr
				p Многие из нас мечтают стать счастливым обладателем коттеджа. Но стоит желанию осуществиться, как мы сталкиваемся с реальностью: для сохранения ощущения уюта и волшебства внутри помещения необходимо стабильно убираться. Однако если вам хоть раз в жизни приходилось наводить порядок в помещении общей площадью 100 м2 или более, то вы понимаете, о каком адском труде идёт речь. Именно поэтому мы предлагаем облегчить себе жизнь, воспользовавшись услугами клининговой компании «Стандарт». Мы знаем, что уборка коттеджа — технологически сложный процесс, ведь практически каждое здание строится по уникальным проектам. А потому подбираем уникальный подход к каждому клиенту: не навязываем услуги и учитываем пожелания. В этой статье расскажем о ключевых опциях уборки коттеджей, которые готовы предоставить жителям Раменского!Регулярная уборка коттеджа — оптимальный вариант для поддержания чистоты в жилище на протяжении долгого времени. Рекомендуемая периодичность такого типа уборки: 1-2 раза в неделю. Во время её проведения мы сможем создать атмосферу уюта, уничтожив даже самую сложную грязь и пыль, совершив сухую и влажную уборку помещения.Генеральная уборка коттеджа — эта опция подразумевает кардинальное уничтожение загрязнений даже в самых труднодоступных местах. Вытрем отвсюду пыль и поборем грязь, а также помоем  двери, фурнитуру и плинтуса. Зачастую эффект от такой уборки бывает просто ошеломительный в хорошем смысле этого слова: коттедж преображается, дизайн помещений начинает играть новыми красками и внутри становится легче дышать полной грудью. Оптимальная периодичность проведения такого типа уборки: от 1 раза в месяц до 1 раза в 4 месяца.
				p
					span.b Уборка коттеджа после ремонта
					|  — задачка не для слабонервных. Представьте только, как много работы по уничтожению строительного мусора и хлама предстоит проделать, чтобы порадоваться наконец свежему ремонту! Доверьте профессионалам очистить ваш дом от мелкой строительной пыли и сложных загрязнений: от монтажной пены, цементного раствора или строительного клея. Мы готовы брать на себя ответственность за каждый объект уборки. Наши знания, опыт и профессиональный подход — лучшая гарантия качественной уборки, без нанесения вреда новой мебели, обоям или паркету.
				p
					span.b Уборка коттеджа до/после мероприятия
					|  — хорошо подойдёт любителям весело проводить время за городом в большой компании друзей, которые не хотят предоставлять взору гостей немытый пол или грязные окна. Пока вы будете заниматься выбором хорошего мяса на шашлык, мы в сжатые временные рамки наведём идеальный порядок в вашем коттедже. Ту же опцию готовы предложить и тем гостеприимным хозяевам, которые уже провели зажигательную вечеринку в коттедже, а сил на уборку не осталось.
				p
					span.b Уборка приусадебного участка/прилегающей территории коттеджа
					| — подойдёт владельцам больших земельных территорий, за которыми нужен тщательный уход. Услуга пользуется особой популярностью в межсезонье, когда на смену одним климатическим условиям приходят другие. Мы с радостью поможем вам убрать с тропинок опавшую листву или прочистить дорогу от метровых сугробов. И всё это по приемлемой цене!Остаётся лишь добавить, что мы искренне любим свою работу и стремимся помочь каждому клиенту решить конкретные проблемы, связанные с уборкой коттеджа в Раменском. Обращаясь в «Стандарт», вы можете быть уверены, что работа наших специалистов будет сделана качественно и на совесть.
