
extends _templates/_template_service

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-ofisov'
	- var title = 'Уборка офисов недорого с гарантией качества – звоните или оставляйте заявку'
	- var metaDescr = 'Уборка офисов – стоимость зависит от вида уборки и площади. Работа по договору. Заставим ваш офис сиять!'
	- var ogImage = 'img/uborka-ofisa3.jpg'

	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Уборка офисов'

	- var category = 'ofisy'
	- var h1 = 'Уборка офисов в Жуковском'
	- var h1Descr = 'Полностью возьмем на себя уборку офиса как после ремонта, так и на постоянной основе. Собственный штат и современные технологии и средства'

	- var mainBackground = 'img/uborka-ofisa2.jpg'
	- var formBackground = 'img/uborka-ofisa3.jpg'


	//- mixin subservices
	-
		var subservices = [
				{'name': 'Регулярная уборка офиса', 'img': '../img/uborka-ofisa-high-480.jpg', 'pageUrl': '../uborka-ofisov/regulyarnana-uborka-v-ofise', 'popup': 'service1'},
				{'name': 'Генеральная уборка офиса', 'img': '../img/pexels-photo-380768-o67ccw8uwrpyt8kkaedtfblcl4ot7qw1xtq5h9p5qk.jpeg', 'pageUrl': '../uborka-ofisov/generalnaya-uborka-ofisa', 'popup': 'service2'},
				{'name': 'Уборка офиса после ремонта', 'img': '../img/uborka-ofisa-980-o5zh0p32p8f1owxgab2gmb1h3k65zut2vj11i5mvkc.jpg', 'pageUrl': '../uborka-ofisov/uborka-ofisa-posle-remonta', 'popup': 'service3'},
				{'name': 'Мойка остекления и фасадов', 'img': '../img/moyka-ostekleniya-480.jpg', 'pageUrl': '../moyka-okon-i-balkonov/moyka-ostekleniya-i-fasadov', 'popup': 'service4'},
		]
	//- mixin pricetable
	- var priceH2 = 'Цены на уборку для офисов'
	-
		var thead = ['Уборка офисов', 'Цена']
	-
		var tbody = [
				['Ежедневная (комплексная)', 'от 15 000 р. /мес.'],
				['Генеральная уборка', '60 р. /м²'],
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]



block seotext
	.title
		h2 Уборка офисов
	.descr
		h3 Утренняя и вечерняя уборка офисов
		p Услуги уборки офиса весьма обширны. Но особой популярностью среди них пользуются утренняя уборка офисов и вечерняя уборка офисов. Это наиболее подходящее время для ежедневной поддерживающей уборки, когда необходимо освежить пол, протереть пыль, вынести мусор… Также до/после рабочего дня удобно убирать входную зону или санузел, готовить переговорные к совещаниям, задекорировать помещение к празднику или убрать следы зажигательного корпоратива.
		p Словом, состоится уборка офисов утром или днём, во время обеденного перерыва, — решать вам. Однако помните, что если вы запланировали генеральную уборку офиса или стандартную уборку с рядом дополнительных услуг, то на клининг потребуется немало времени. Лучше планировать подобные мероприятия на выходные или праздничные дни, когда офис пуст.
		p Безупречная чистота на рабочем месте — гарант хорошего настроения и продуктивного трудового дня! Именно поэтому мы предлагаем вам профессиональную уборку офисов в городе Раменское. Уверены, что нашу работу по достоинству оценят сотрудники и ценные гости вашей компании.
		h3 Уборка офисных помещений
		p Уборка офисных помещений — не очередная стандартная услуга, которую вы можете получить, обратившись в компанию «Стандарт». Мы отдаём себе отчёт в том, что за рабочим местом человек порой проводит большую часть своей жизни, а значит мы должны создать по-настоящему уютную атмосферу. Уборку помещений и офисов мы всегда проводим в удобное для вас время, оперативно и качественно.
		h3 Генеральная уборка офиса после ремонта
		p Генеральная уборка офиса после ремонта проводится однократно, но очень тщательно. Это необходимая мера для наведения идеальной чистоты, которая позволит сотрудникам комфортно чувствовать себя в помещении и продуктивно работать. Такая уборка состоит из:
		ul
			li влажной уборки всех поверхностей (пол, стены, потолок);
			li влажной/сухой протирки батарей, светильников, дверей;
			li удаления пыли с предметов интерьера, мебели;
			li мойки санузлов и зеркальных поверхностей;
			li чистки пылесосом мебели из тканевой текстуры и ковров;
			li уборки всех видов строительного мусора;
			li выноса мусора объёмом не более 10 кг.
		p По окончании уборки офиса после ремонта вы непременно ощутите прилив сил! Начать день в красивом и чистом офисе — не мечта, а сказка наяву.

		p Стоимость уборки офиса после ремонта зависит от площади помещения, материалов отделки, степени загрязнения строительными материалами, заказа дополнительных услуг и индивидуальных пожеланий заказчика.

		p Если вам сложно сориентироваться, в какую сумму обойдётся вызов клининговой компании на определённый объект, то вы всегда можете пригласить на объект нашего менеджера. Это абсолютно бесплатно!

		p Профессиональная уборка офиса — задача весьма трудоёмкая, но вполне осуществимая, если за дело берутся специалисты. Так, уборка офисов состоит из следующих этапов:
		ul
			li сухая уборка пылесосом при помощи разнообразных насадок;
			li влажный клининг пола и мебели посредством профессиональных моющих средств;
			li уничтожение грязи, которая скопилась на поверхности корпусной мебели;
			li мойка стеклянных поверхностей при помощи профессиональной химии, не оставляющей мыльных разводов;
			li влажная уборка разнообразных предметов интерьера.
		p Стоимость уборки офисных помещений варьируется в зависимости от площади офиса, перечня необходимых работ и индивидуальных запросов клиента. В любом случае, наш менеджер всегда готов бесплатно выехать на объект в преддверии осуществления клининговых работ и сориентировать вас по цене.
		.bold
			p Остаётся лишь добавить, что мы очень трепетно подходим к своей работе и стремимся выполнить весь перечень услуг максимально качественно, нисколько не мешая рабочему процессу. И если вам необходима уборка офисов, то мы готовы стать вашими верными помощниками в борьбе за чистоту и порядок!
