"deleteit
extends _templates/_template_subservice

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-posle-meropriyatiy'
	- var mainpage = ''
	- var title = 'Уборка после мероприятий в Раменском'
	- var metaDescr = 'Услуга клининга на мероприятиях в г. Раменское. Уборка после корпоратива, концерта, выставок и конференций. Клининговая компания «Стандарт»'
	- var ogImage = 'img/WhatsApp-Image-2017-09-03-at-21.10.19-oalvbe9cw1ltal2rio63sj3bhb6mev11kbhexpf9n8.jpeg'
		//- main screen
	- var h1 = 'Уборка после мероприятий в Раменском'
	- var h1Descr = 'Поддержание чистоты на праздниках, выставках и массовых мероприятиях, уборка помещений и территории после.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Уборка после мероприятий в Раменском'
		//- backgrounds
	- var mainBackground = 'img/uborkaterritorii2.jpg'
	- var formBackground = 'img/uborkaterritorii2.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Уборка после праздников
			.descr
				p Жизнь в мегаполисе кипит круглосуточно. Ни один день не обходится без мероприятий! Свадьбы, корпоративы, юбилеи… Мы уверены: ощущение праздника должно присутствовать у его участников как до, так и после мероприятия. Именно поэтому предлагаем взять на себя такую утомительную работу, как уборка после мероприятий.
				p Хочется отметить, что во время организации того или иного мероприятия, следует учитывать тот факт, что его успех зависит не только от креатива ведущего или интересных активностей. Важно тщательно подготовить помещение к предстоящему празднику, и не менее важно организовать уборку на мероприятиях и после проведения мероприятий. Не имеет значения, празднуете вы в офисе, в коттедже или на даче. Главное — привести помещение в порядок, чтобы оно сияло чистотой и днём, и ночью.
				p Очень часто клиенты обращаются к нам и с просьбой организовать уборку во время мероприятий. Опыт подсказывает, что это хорошая идея! Посудите сами: когда повсюду царит веселье, так сложно не пролить бокал вина на белоснежную скатерть или не обронить еду на паркет. Весь мусор следует сразу же убирать, а ту же скатерть заменить на чистую. Но кто будет этим заниматься? Конечно же клининговая компания! Порой речь идёт о своевременной химчистке мебели и мойке грязной посуды, что отнимает немало времени у организаторов вечеринки, если они берут эти задачи на себя.
				p Так, мы советуем вам не портить себе праздник, с головой уйдя в нескончаемую уборку. Повеселитесь от души, а специалисты проследят за тем, чтобы идеальная чистота стала верным спутником вашего мероприятия. Вам решать, заключать с нами соглашение на оказание полного перечня услуг, либо выбрать самое необходимое.
				p В рамках данного вида уборки клининговая компания «Стандарт» готова оказать вам следующий перечень услуг:
				ul
					li генеральная уборка;
					li вывоз мусора;
					li мытьё и полировка зеркальных/деревянных поверхностей;
					li химчистка тканевых поверхностей;
					li поддержание чистоты в помещении непосредственно в ходе мероприятия;
					li мытьё санузлов;вывоз мусора.
				p В заключение лишь остаётся добавить, что наша цель — создать для вас зону комфорта, благоприятную обстановку для организации праздника вашей мечты. Кстати, во время уборки вам не обязательно находиться в помещении, вы спокойно можете посвятить своё время отдыху в приятной компании или неотложным делам.
deleteit"
