
extends _templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-territoriy'
	- var title = 'Уборка территорий в Жуковском'
	- var metaDescr = 'Уборка территории в Жуковском'
	- var ogImage = 'img/uslugi-sadovnika.jpg'
	- var h1 = 'Уборка территории в Жуковском'
	- var h1Descr = 'Клининговая компания Стандарт оказывает услуги по уборке территорий в городах Жуковский, Раменское, Октябрьский, Островцы, а так же территориях прилегающих к ним'
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Уборка территорий'
	- var category = "default"

	- var mainBackground = 'img/uborkaterritorii2.jpg'
	- var formBackground = 'img/uborkaterritorii2.jpg'


block seotext
	.title
		h2 Услуги уборки территории
	.descr
		p Уборка приусадебного участка, уборка дачи, уборка участка, любой вид территорий. Уборка территорий востребованная услуга, особенно в межсезонье, когда одни климатические условия сменяют другие, появляется опавшая листва или выпадают метровые сугробы, а времени и желания этим заниматься нет, клининговая компания Стандарт сделает все за Вас. Уборка листвы, стрижка газона, чистка дорожек от снега, услуги которые могут понадобиться каждому! С нами выгодно работать, Вы не тратите свое время, не тратите деньги на оборудование и на расходные материалы!
		p Зачем нанимать низкоквалифицированных рабочих, с неизвестными намерениями, над которыми еще и нужно стоять? Всё намного проще – Вы заключаете с нами договор и мы становимся Вашими партнерами и помощниками, которым можно доверять!

