extends _templates/_template_default

block variables

	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-s-dezinfekciej-i-ozonirovaniem'
	- var title = 'Уборка квартир с дезинфицирующими средствами и озонированием - обработка от вирусов, удаление запахов и полная чистота'
	- var metaDescr = 'Уборка с дезинфицирующими средствами и последующим озонированием — у вирусов не останется шанса! Полноценная уборка и гарантированное уничтожение всех микроорганизмов'
	- var ogImage = 'img/uborka-kvartir-regulyarnaya.jpg'

	- var h1 = 'Уборка с дезсредствами и озонированием'
	- var h1Descr = 'Уборка с дезинфицирующими средствами и последующим озонированием — у вирусов не останется шанса! Полноценная уборка и гарантированное уничтожение всех микроорганизмов'
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Дезинфицирующая уборка с озонированием'
	- var nestingLevel = '1'
	- var category = "kvartiry"

	- var mainBackground = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
	- var formBackground = 'img/inner-form-bg.jpg'

	- var priceH2 = 'Цены на уборку c озонированием квартиры'

	//- mixin pricetable
	-
		var thead = ['Количество комнат', 'Цена']
	-
		var tbody = [
				['однокомнатная <br/>от 0 до 50 м²', '2 500 р.'],
				['двухкомнатная <br/>от 51 до 70 м²', '3 000 р.'],
				['трехкомнатная <br/>от 71 до 100 м²', '3 500 р.'],
				['больше трех <br/>от 101 м²', '30 р./м²'],
		]

block content
	main
		.section.section-main-screen__center
			.container
				.info-block
					.title.text-center
						h1 Уборка с дезинфецирующими средствами и озонированием
					.descr.text-center
						p
							| Полноценная уборка, обработка дезинфицирующими составами, озонирование и удаление неприятных запахов
					.button-wrap
						a.hvr-bob.btn__green.modal-btn Заказать дезинфекцию
					.features
						.descr.text-center Одна услуга решит четыре проблемы:
						.features-items
							.features-item
								i.fas.fa-hand-sparkles.fa-fw(aria-hidden='true')
								span наведение чистоты
							.features-item
								i.fa.fa-viruses.fa-fw(aria-hidden='true')
								span убивает все вирусы
							.features-item
								i.fas.fa-user-md.fa-fw(aria-hidden='true')
								span помощь при аллергии
							.features-item
								i.fa.fa-air-freshener.fa-fw(aria-hidden='true')
								span устранение запахов
		section.section.section-dez
			.container
				.section-title
					h2 Особенность уборки с озонированием
					p это самый надёжный подход к противовирусной уборке
				.two-column.container-wrapper
					.part
						.number 1
						.block
							h3 Полноценная уборка
							p Мы наводим порядок как при обычной уборке, затем протираем все поверхности специальными дезинфицирующими средствами. Ваш дом уже сияет чисотой, все вещи на своих местах
					.part
						.number 2
						.block
							h3 Малекулярное удаление микробов
							p Когда все поверхности чистые, открываем шкафы, накрываем или выносим живые растения и закрываем окна и двери. Дальше работает озон — он удалит всех вредителей, до которых не добрались при уборке
		.section.advantages-section
			.container
				.section-title.text-center
					h2 В чём сила такой уборки
				.advantages-wrapper
					.safety
						p
							span 100% Безопасность
							|  для взрослых, детей и домашних питомцев
					.advantages-block
						.advantages-item
							img(src='img/advantage-mercury.jpg', alt='Убирает даже ртутные пары')
							p Убирает даже ртутные пары
						.advantages-item
							img(src='img/advantage-virus.jpg', alt='Дезинфицирует любые вирусы и бактерии')
							p Дезинфицирует любые вирусы и бактерии
						.advantages-item
							img(src='img/advantage-mold.jpg', alt='Уничтожает плесень и грибок')
							p Уничтожает плесень и грибок
						.advantages-item
							img(src='img/advantage-smell.jpg', alt='Удаляет неприятные запахи')
							p Удаляет неприятные запахи
		+form_cta
		.section.pricelist-section
			.container
				.section-title.text-center
					h2 Цены на уборку с дезинфекцией
				.pricelist-wrap
					.pricelist
						.table-row.heading-row
							.colomn
								p Число комнат
							.colomn
								p Цена
						.table-row
							.colomn
								p однокомнатная квартира
							.colomn
								p 2 500 ₽
						.table-row
							.colomn
								p двухкомнатная квартира
							.colomn
								p 3 000 ₽
						.table-row
							.colomn
								p трёхкомнатная квартира
							.colomn
								p 3 500 ₽
						.table-row
							.colomn
								p больше 100 м²
							.colomn
								p 30 ₽ за м²
						.table-row
							p
								| Если вы заказываете у нас уборку, то можете добавить Озонирование как дополнительную
								| услугу от 1 500 рублей
					.price-adv-part
						.advantages-item
							img(src='img/advantage-ozonator.jpg', alt='Мощные Российские озонаторы «Ижозон»')
							p
								| Новая безопасная Российская технология — мощные абсолютно надежные озонаторы с
								| дистанционным управлением и автоматикой от «Ижозон»
						.advantages-item
							img(src='img/advantage-worker.jpg', alt='Обученные сотрудники всегда готовы к выезду')
							p
								| Обученные сотрудники всегда готовы к выезду. При этом все наши сотрудники обеспечены
								| средствами индивидуальной защиты, ежедневно проводится измерение температуры у
								| сотрудников. Меняется и дезинфицируется униформа.
		.section.how-it-works
			.container
				.section-title.text-center
					h2 Как проходит уборка
				.how-it-works-wrap
					.how-it-works-elem
						.number 1
						.title Уборка
						.descr Полноценная уборка с дезинфицирующими средствами
					.how-it-works-elem
						.number 2
						.title Озонирование
						.descr Устанавливаем озонатор, распыляем необходимый объём в помещении
					.how-it-works-elem
						.number 3
						.title Ожидание
						.descr Ждём от 40 минут до 2ух часов в зависимости от размеров помещения
					.how-it-works-elem
						.number 4
						.title Чистый воздух
						.descr Вы почувствуете запах как после грозы, и воздух будет действительно чистым
		//- .section.where-it-works
			.container
				.section-title.text-center
					h2 Где используется чистка озоном
				.where-it-works-wrap
					.where-it-works-elem
						.picture
							i.fa.fa-home(aria-hidden='true')
						.title Квартиры и дома
						.descr
							| Дезинфекция коронавирусной среды, запахи животных, грибок и плесень в ванной комнате
					.where-it-works-elem
						.picture
							i.fa.fa-briefcase(aria-hidden='true')
						.title Коммерческие помещения
						.descr Очистка офисов, складов, продовольственные магазинов, промышленных холодильников
					.where-it-works-elem
						.picture
							i.fa.fa-graduation-cap(aria-hidden='true')
						.title Детские сады и школы
						.descr Очистка воздуха в школах, детских садах обязательна. Безопасный и быстрый способ
					.where-it-works-elem
						.picture
							i.fa.fa-dumbbell(aria-hidden='true')
						.title Фитнес-клубы
						.descr
							| Устранение запаха пота в раздевалках, грибка и плесени в душевых, дезинфекция инвентаря
		.section.ozonator
			.container
				.section-title.text-center
					h2 Что такое Озонатор
				.ozonator-wrap
					#ozonator-img
					.facts
						.facts-item
							p 1
							p
								| Озон это газ, который проникает в труднодоступные места, включая микро-щели на твердых поверхностях и поры в обивке мягкой мебели
						.facts-item
							p 2
							p
								| Озон активно вступает в реакцию с ароматическими соединениями с разрушением ароматического ядра
						.facts-item
							p 3
							p
								| В отличие от других окислителей озон, в процессе реакций разлагается на молекулярный и атомарный кислород и предельные оксиды
						.facts-item
							p 4
							p
								| Все эти продукты озонирования, не загрязняют окружающую среду и не приводят к образованию канцерогенных веществ как, например, при окислении фтором или хлором.
