extends _templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uslugi-domrabotnicy'
	- var mainpage = ''
	- var title = 'Услуги домработницы в Раменском. Домашний персонал'
	- var metaDescr = 'Услуги домработницы в г. Раменское - помощь по дому, уборка, приготовление еды | Клининговая компания «Стандарт»'
	- var ogImage = 'img/noun_cleaning_1944288.png'
		//- main screen
	- var h1 = 'Услуги домработницы в Раменском'
	- var h1Descr = 'Убираем офисные помещения утром на регулярной основе. Полное клининговое обслуживание и разовые заказы.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Услуги домработницы в Раменском'
		//- backgrounds
	- var mainBackground = 'img/domrabotnica2.jpeg'
	- var formBackground = 'img/domrabotnica1.jpeg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'
		//- mixin pricetable
	- var priceH2 = 'Цены на услуги домашнего персонала'
	-
		var thead = ['Персонал', 'Стоимость']
	-
		var tbody = [
				['Услуги домработницы', '4000 р. в день'],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Услуги домашнего персонала
			.descr
				p Каждый из вас может заказать услуги домработницы в клининговой компании «Стандарт», выбрав подходящего сотрудника. Попробуйте переложить часть своих домашних хлопот на профессионального клинера и сразу увидите, как просто найти время на любимые увлечения или на решение неотложных дел. Стоимость услуг домработницы, безусловно, порадует вас своей демократичностью. Особенно если учесть тот факт, что ваш дом наполнится чистотой и уютом, которые трудно купить за деньги!Услуги домработниц агентства направлены на комплексное воплощение в жизнь всех пожеланий клиента. Специалист наведёт идеальный порядок, сварит вкусный обед или побудет с детьми, если вам срочно придётся отлучиться на часок-другой. Ваша помощница по дому с воодушевлением примется за уничтожение пыли, влажную уборку напольного покрытия и фасадов, до блеска отмоет санузел и вынесет мусор. Но это лишь малая часть тех обязанностей, которые способен взять на себя профессиональный клинер.
				p Помните: хорошие специалисты клининговой компании нынче — это не роскошь, а необходимость, которую осознают миллионы жителей мегаполисов и потому активно пользуются услугами приходящей домработницы. Чтобы раз и навсегда решить вопрос с поиском подходящего кандидата для уборки в вашем доме, советуем просто обратиться к нам, в клининговую компанию «Стандарт». Наш менеджер поможет определиться с выбором и сориентирует по конечной стоимости заказа определённого пакета услуг.
				p Мы искренне стремимся сделать ваши будни и праздники лучше. И если вы решитесь повысить уровень своей жизни, оставив больше времени на развлечения и работу, мы поможем вам достичь поставленной цели! Начните с заказа разовой услуги домработницы. И совсем скоро вы поймёте, что сделали правильный выбор!
