
extends _templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/uslugi-domrabotnicy'
	- var title = 'Услуги домработницы, помощника по дому в Жуковском'
	- var metaDescr = 'Домработница и другой домашний персонал в Раменском, Люберцах и Жуковском помогут с домашним хозяйством или семейным праздником.'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
	- var h1 = 'Услуги домработницы в Жуковском'
	- var h1Descr = 'Комфортная помощь по хозяйству, заботливый уход за домом и свободное время для себя и близких'
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Услуги домработницы, помощника по дому'
	- var category = "default"

	- var mainBackground = 'img/domrabotnica2.jpg'
	- var formBackground = 'img/domrabotnica1.jpg'


	- var priceH2 = 'Расценки на услуги домработницы'

	//- mixin pricetable
	-
		var thead = ['Персонал', 'Стоимость']
	-
		var tbody = [
				['Услуги домработницы', '4000 р. в день'],
		]


block seotext
	.title
		h2 Услуги домашнего персонала
	.descr
		p Каждый из вас может заказать услуги домработницы в клининговой компании «Стандарт», выбрав подходящего сотрудника. Попробуйте переложить часть своих домашних хлопот на профессионального клинера и сразу увидите, как просто найти время на любимые увлечения или на решение неотложных дел. Стоимость услуг домработницы, безусловно, порадует вас своей демократичностью. Особенно если учесть тот факт, что ваш дом наполнится чистотой и уютом, которые трудно купить за деньги!
		p Услуги домработниц агентства направлены на комплексное воплощение в жизнь всех пожеланий клиента. Специалист наведёт идеальный порядок, сварит вкусный обед или побудет с детьми, если вам срочно придётся отлучиться на часок-другой. Ваша помощница по дому с воодушевлением примется за уничтожение пыли, влажную уборку напольного покрытия и фасадов, до блеска отмоет санузел и вынесет мусор. Но это лишь малая часть тех обязанностей, которые способен взять на себя профессиональный клинер.
		p Помните: хорошие специалисты клининговой компании нынче — это не роскошь, а необходимость, которую осознают миллионы жителей мегаполисов и потому активно пользуются услугами приходящей домработницы. Чтобы раз и навсегда решить вопрос с поиском подходящего кандидата для уборки в вашем доме, советуем просто обратиться к нам, в клининговую компанию «Стандарт». Наш менеджер поможет определиться с выбором и сориентирует по конечной стоимости заказа определённого пакета услуг.
		p Мы искренне стремимся сделать ваши будни и праздники лучше. И если вы решитесь повысить уровень своей жизни, оставив больше времени на развлечения и работу, мы поможем вам достичь поставленной цели! Начните с заказа разовой услуги домработницы. И совсем скоро вы поймёте, что сделали правильный выбор!

