
extends _templates/_template_default

block variables

	- var subDomain = ''
	- var pageUrl = '/vakansii'
	- var title = 'Работа в клининговой компании «Стандарт»'
	- var metaDescr = 'Актуальные вакансии в компании «Стандарт». Ищете работу? Мы предлагаем достойные условия и рады сотрудничеству!'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
	- var h1 = 'Актуальные вакансии'
	- var h1Descr = 'Свободные вакансии мы публикуем на сайте. Если вас интересует работа в сфере клининга, и вы ищете надежную компанию с официальным трудоустройством — обращайтесь в «Стандарт»!'
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Работа в клининговой компании «Стандарт»'
	- var category = "default"

block content
	section.hero
		h1= h1
		+breadcrumbs_naked
	div.section.section-vacancy
		.container.two-column
			.about
				p Свободные вакансии мы публикуем на сайте. Если вас интересует работа в сфере клининга, и вы ищете надежную компанию с официальным трудоустройством — обращайтесь в «Стандарт»!
				p Все вопросы относительно имеющихся вакансий и трудоустройства можно:
				ul
					li — задать по телефону 
						a(href="tel:+79252200281") +7 (925) 220-02-81
					li — отправить запрос на электронную почту 
						span.color standartcleaning@mail.ru
					li — нажать кнопку «Откликнуться» и заполнить форму.
			.info-block
				h2 Клинер в квартиры и дома
				.header
					p
						span.b обязанности: 
						br
						| уборка квартир/домов/послестроительных объектов.
					p Постоянная работа. График работы — 5/2, выходные плавающие. Разъездная работа. Проезд до объекта работы обеспечивается
				.duties
					p 
						span.b зарплата:
					p от 30 000 р.
					p
						span.b опыт:
					p не требуется
					p
						span.b выходные:
					p плавающие
				//- .btn__green.hvr-bob.modal-btn__vacansii Откликнуться

