extends ../_templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-ofisov/generalnaya-uborka-ofisa'
	- var title = 'Генеральная уборка офиса в Жуковском'
	- var metaDescr = 'Комплесная генеральная уборка офиса - способ полностью обновить офисные помещения. Может проводиться от одного до четырех раз в год. Выгодные предложения!'
	- var ogImage = 'img/uborka-ofisa.jpeg'
	- var h1 = 'Генеральная уборка офисов в Жуковском'
	- var h1Descr = 'Комплексная уборка офисов, проводящаяся по интервальному типу, рекомендуется раз в месяц! '
	- var bcCat = 'Уборка офиса'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-ofisov/'
	- var bc = 'Генеральная уборка офиса'
	- var category = 'ofisy'

	- var mainBackground = 'img/uborka-ofisa3.jpg'
	- var formBackground = 'img/uborka-ofisa2.jpg'


	- var priceH2 = 'Цены на генеральную уборку для офисов'

	//- mixin pricetable
	-
		var thead = ['Уборка офисов', 'Цена']
	-
		var tbody = [
				['Генеральная уборка', '60 р. /м²'],
		]


block seotext
	.title
		h2 Генеральная уборка офиса
	.descr
		p Генеральная уборка офиса обеспечивает чистоту в комплексе, начиная от дверных проемов заканчивая плиткой на стенах санузлов!
		p Комплексная уборка офиса включает в себя:
		ul
			li Влажная уборка полов с твердым покрытием (паркет, ламинат, линолеум, плитка)
			li Влажная и сухая протирка осветительных приборов малых размеров.
			li Удаление пыли с внешних поверхностей мебели, предметов интерьера и оргтехники
			li Удаление пыли и грязи с полов, стен, потолка
			li Мойка зеркал
			li Мытье санузлов
			li Мойка дверей и дверных проемов.
			li Сухая чистка ковров и мягкой мебели пылесосомВынос мелкого мусора.

