extends ../_templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-ofisov/uborka-ofisa-posle-remonta'
	- var title = 'Уборка офиса после ремонта в Жуковском'
	- var metaDescr = 'Уборка офиса после ремонта профессиональным оборудованием и чистящими средсвами. Гарантия качества работ. Удобные варианты сотрудничества.'
	- var ogImage = 'img/uborka-ofisa3.jpg'
	- var h1 = 'Уборка офиса после ремонта в Жуковском'
	- var h1Descr = 'Предоставляем услуги послеремонтной уборки любых коммерческих помещений и зданий с гарантией качества.'
	- var bcCat = 'Клининг офиса'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-ofisov/'
	- var bc = 'Уборка офиса после ремонта'
	- var category = "ofisy"

	- var mainBackground = 'img/pexels-photo-380768.jpeg'
	- var formBackground = 'img/uborka-ofisa3.jpg'


	- var priceH2 = 'Цены на уборку после ремонта'

	//- mixin pricetable
	-
		var thead = ['Уборка офисов', 'Цена']
	-
		var tbody = [
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]


block seotext
	.title
		h2 Уборка офиса после ремонта
	.descr
		p Деловая среда, а вслед за ней и офисное окружение, меняются быстрыми темпами. Поэтому сегодня перед директорами стоит непростая задача: помимо создания уюта на рабочем месте, креативно воплотить в интерьере последние модные тенденции. Ремонт обычно делают довольно быстро, а вот об уборке офиса после него думают в последний момент. И зря! Без этого важного этапа просто невозможно вновь запустить рабочий процесс. Не пойдут ведь сотрудники трудиться в помещение, где на полу разбросан строительный мусор, на стенах остались следы побелки, а подоконники вот-вот прогнутся от килограммов осевшей на них пыли? Вывод: уборку офиса после ремонта необходимо доверить настоящим профессионалам.
		p Занимаясь клинингом офисов не первый год, мы ставим перед собой цель сделать рабочее пространство вторым домом для каждого сотрудника. Мы уверены: если в офисе всюду чистота и порядок, то и  мысли всех членов команды не будут хаотичны, а производительность труда пойдёт в гору.
		p Однако следует понимать, что уборка офиса после ремонта подразумевает объёмный список работ. Помимо необходимости полной утилизации строительного мусора перед нами зачастую стоят следующие задачи:
		ul
			li устранение локальных загрязнений
			li чистка труднодоступных мест
			li выведение сложных пятен
			li глубокая чистка пола
			li мытьё лифтов
			li чистка кондиционеров, кулеров, кухонного оборудования
			li обеспыливание потолков, верхних частей высокой мебели и приборов освещения
			li тщательная чистка швов между плиткой
			li бережная чистка мягкой мебели, ковровых покрытий;мойка и дезинфекция санузлов.
		p Мы готовы провести профессиональный клининг в любое удобное для вас время, а также воплотить в жизнь все пожелания.

