extends ../_templates/_template_kommerce

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-ofisov/uborka-ofisa-posle-remonta'
	- var mainpage = ''
	- var title = 'Уборка офиса после ремонта'
	- var metaDescr = 'Профессиональная уборка офиса после ремонта и строительства от клининговой компании «Стандарт». Профессиональное оборудование, опытный персонал. Ежегодно убираем более 40 000 м² помещений.'
	- var ogImage = 'img/uborka-ofisa-high-1500.jpg'
		//- main screen
	- var h1 = 'Уборка офиса после ремонта в Раменском'
	- var h1Descr = 'Предоставляем услуги послеремонтной уборки любых коммерческих помещений и зданий в Раменском с гарантией качества.'
		//- breadcrumbs
	- var bcCat = 'Уборка офисов в Раменском'
	- var bcCatUrl = 'uborka-ofisov/'
	- var bc = 'Уборка офиса после ремонта в Раменском'
		//- backgrounds
	- var mainBackground = 'img/pexels-photo-380768.jpeg'
	- var formBackground = 'img/uborka-ofisa3.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'ofisy'
	- var cleaningType = 'remont'
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку после ремонта'
	-
		var thead = ['Уборка офисов', 'Цена']
	-
		var tbody = [
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Генеральная уборка офиса после ремонта
			.descr
				p Философия клининговой компании «Стандарт» максимально проста: каждый человек должен заниматься тем, что у него действительно хорошо получается. Наша сильная сторона — уборка офиса после ремонта. С профессиональными и трудолюбивыми помощниками у вас не будет необходимости откладывать решение бизнес задач в долгий ящик. Достаточно заказать генеральную уборку офиса после ремонта и поделиться с клинерами своими пожеланиями. Дальше мы всё сделаем сами!
				p После ремонта мелкие частицы строительной пыли витают в воздухе и оседают на предметах интерьера. Работать в такой атмосфере просто непозволительно, да и неприятно с эстетической точки зрения. И лучшим вариантом вдохнуть жизнь в помещение становится именно профессиональная уборка офиса после ремонта и мытьё окон.
				p Генеральная уборка офиса после ремонта проводится однократно, но очень тщательно. Это необходимая мера для наведения идеальной чистоты, которая позволи сотрудникам комфортно чувствовать себя в помещении и продуктивно работать. Такая уборка состоит из:
					ul
						li влажной уборки всех поверхностей (пол, стены, потолок);
						li влажной/сухой протирки батарей, светильников, дверей;
						li удаления пыли с предметов интерьера, мебели;
						li мойки санузлов и зеркальных поверхностей;
						li чистки пылесосом мебели из тканевой текстуры и ковров;
						li уничтожения всех видов строительного мусора;
						li выноса мусора объёмом не более 10 кг.
				p По окончании уборки офиса после ремонта вы непременно ощутите прилив сил! Начать день в красивом и чистом офисе — не мечта, а сказка наяву.
				p Подводя итог, отметим: уборка офиса после ремонта — задача непосильная для дилетанта, но вполне осуществимая для профессионалов. Клининговая компания «СТАНДАРТ» уверена в своих специалистах и гарантирует вам качественный результат в кратчайшие сроки!
