extends ../_templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-pomescheniy/generalnaya-uborka'
	- var title = 'Генеральная уборка – звоните или оставлйте заявку'
	- var metaDescr = 'Генеральная уборка любых видов помещений по невысоким ценам в Рамеском и Жуковском. Обученные сотрудники.Гарантия качества и безопасности.'
	- var ogImage = 'img/kottedzh3.jpg'
	- var h1 = 'Генеральная уборка в Жуковском'
	- var h1Descr = 'Генеральная уборка всех типов помещений в короткие сроки. Учтем ваши пожелания и дадим рекомендации как сэкономить'
	- var bcCat = 'Клининг помещений'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-pomescheniy/'
	- var bc = 'Генеральная уборка'
	- var category = 'default'

	- var mainBackground = 'img/uborka-ofisa3.jpg'
	- var formBackground = 'img/uborka-ofisa2.jpg'


	- var priceH2 = 'Цены на генеральную уборку'

	//- mixin pricetable
	-
		var thead = ['Генеральная уборка', 'Цена']
	-
		var tbody = [
				['Нежилые помещения', '60 р. /м²'],
		]


