extends ../_templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/generalnaya-uborka-posle-remonta'
	- var title = 'Генеральная уборка после ремонта в Жуковском'
	- var metaDescr = 'Генеральная уборка после ремонта в Жуковском'
	- var ogImage = 'img/poslestroitelnaya-uborka-kliningovaya-kompaniya.jpeg'
	- var h1 = 'Генеральная уборка после ремонта в Жуковском'
	- var h1Descr = 'Уборка после ремонта клининговой компанией – это физически трудоемкий процесс, в особенности, если он проводился после капитальных строительных работ. Такая сфера услуг является сегодня востребованной и достаточно доступной по цене.'
	- var bcCat = 'Уборка помещений'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-pomescheniy/'
	- var bc = 'Генеральная уборка после ремонта'
	- var category = 'default'

	- var priceH2 = 'Цены на уборку после ремонта'
	//- mixin pricetable
	-
		var thead = ['Нежилые помещения', 'Цена']
	-
		var tbody = [
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]





block seotext
	.title
		h2 Уборка помещений после ремонта
	.descr
		p Если вы трудолюбивы как пчела, то, в принципе, сможете поддерживать чистоту своего жилья на протяжении значительного периода времени — это не займёт много сил. Однако если речь идёт о генеральной уборке после ремонта, то здесь необходимо как минимум быть супергероем, ну или сотрудником клининговой компании «Стандарт». Представьте только, как далеко могла разлететься по дому строительная пыль: и за ваш любимый шкаф, и под мягкую кровать, и осесть на диване… А во что превратились окна, пол и стены? Ладно, можете не отвечать, мы и так знаем.
		p Если вы не хотите потратить целую неделю своей прекрасной жизни на скучную уборку, то доверьте это дело профессионалам. Мы качественно и с заботой подходим к своему делу, всегда укладываемся в оговоренные временные рамки. И даже если у вас ну очень грязно, то знайте: для нас генеральная уборка после ремонта — дело привычное. Все члены нашей команды знают актуальные правила проведения процедуры дезинфекции жилого помещения, помнят о важности уборки даже в самых недоступных местах квартиры.
		p Генеральная уборка после ремонта от компании «Стандарт» подразумевает чистку:
			ul
				li пыли на потолке, карнизах, стенах, кондиционерах;
				li загрязнений со всех настольных ламп, люстр и прочих источников света;
				li грязи и разводов на зеркалах и подобных им поверхностях.
		p Ещё мы обязательно проведём уборку:
			ul
				li всех поверхностей мебели, бытовой техники, предметов интерьера;
				li дверей и фурнитуры;
				li отопительных приборов и подоконников;
				li мягкой мебели пылесосом;
				li ковров и ковровых покрытий;
				li полов и плинтусов с помощью антимикробных моющих и чистящих средств.
		p Словом, перечень услуг большой, и расширить его можно ещё как минимум вдвое. И благодаря такой уборке ваше жилище преобразится до неузнаваемости. А вам останется лишь систематически поддерживать чистоту. Что же касается стоимости наших услуг, то она всегда рассчитываются индивидуально нашим менеджером. Зависит от площади квартиры, степени её захламлённости и необходимой скорости наведения порядка.


