extends ../_templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/professionalnaya-uborka-posle-remonta'
	- var title = 'Профессиональная уборка после ремонта в Жуковском'
	- var metaDescr = 'Профессиональная уборка после ремонта в Жуковском'
	- var ogImage = 'img/poslestroitelnaya-uborka-kliningovaya-kompaniya.jpeg'
	- var h1 = 'Профессиональная уборка после ремонта в Жуковском'
	- var h1Descr = 'Уборка после ремонта клининговой компанией – это физически трудоемкий процесс, в особенности, если он проводился после капитальных строительных работ. Такая сфера услуг является сегодня востребованной и достаточно доступной по цене.'
	- var bcCat = 'Уборка помещений'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-pomescheniy/'
	- var bc = 'Профессиональная уборка после ремонта'
	- var category = 'default'

	- var mainBackground = 'img/uborka-ofisa2.jpg'
	- var formBackground = 'img/pexels-photo-380768.jpeg'


	- var priceH2 = 'Цены на уборку после ремонта'
	//- mixin pricetable
	-
		var thead = ['Нежилые помещения', 'Цена']
	-
		var tbody = [
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]



block seotext
	.title
		h2 Уборка после ремонта
	.descr
		p Ремонт творит чудеса, если подойти к нему творчески, однако всякое творчество влечёт за собой море ненужного хлама, который необходимо мучительно и долго убирать… Не хочется? Тогда обращайтесь в клининговую компанию «Стандарт». Мы на практике знакомы с новинками, которые позволяют безопасно для вашего здоровья, максимально быстро и эффективно удалить все ненужные следы клея, краски и цемента. Словом, профессиональная уборка после ремонта просто необходима всем, кто планирует жить или работать в помещении после его преображения.
		p Хорошая идея — заказать у нас промежуточную уборку. Эта услуга актуальна, если строители уже на финише и доделывают косметический ремонт помещения, а сроки сдачи места к уборочным работам поджимают. При необходимости мы готовы работать не только днём, но и ночью (если речь идёт об офисе или торговом центре).Перечень предоставляемых услуг может варьироваться в зависимости от специфики помещения и ваших пожеланий.
		p Ниже мы представим стандартный список работ, которые проводятся при профессиональной уборке после ремонта:
		ul
			li сбор и вынос крупногабаритного мусора;
			li уборка ковровых покрытий;
			li сухая и влажная уборка разнообразных напольных и настенных покрытий, потолка, мебели;
			li чистка радиаторов, плинтусов, приборов освещения и дверных коробов;
			li мойка стеклянных и зеркальных поверхностей;
			li обеспыливание вентиляции;
			li уборка и дезинфекция санузлов.
		p Теперь поговорим о стоимости профессиональной уборки после ремонта. Она рассчитывается индивидуально для каждого клиента. Наш менеджер всегда готов бесплатно выехать на объект, чтобы обсудить с вами все нюансы предстоящего клининга и назвать точную сумму услуги.

