extends ../_templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/professionalnaya-uborka'
	- var title = 'Профессиональная уборка в Жуковском'
	- var metaDescr = 'Профессиональная уборка в Жуковском'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
	- var h1 = 'Профессиональная уборка в Жуковском'
	- var h1Descr = 'Профессиональная уборка подразумевает совокупность мер, направленных на обеспечение чистоты офисов, торговых комплексов, отелей, коттеджей и квартир.'
	- var bcCat = 'Уборка помещений'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-pomescheniy/'
	- var bc = 'Профессиональная уборка'
	- var category = 'default'

	- var mainBackground = 'img/pexels-photo-380768.jpeg'
	- var formBackground = 'img/uborka-ofisa3.jpg'


	- var priceH2 = 'Цены на уборку'

	//- mixin pricetable
	-
		var thead = ['Нежилые помещения', 'Цена']
	-
		var tbody = [
				['Ежедневная (комплексная)', 'от 15 000 р. /мес.'],
				['Генеральная уборка', '60 р. /м²'],
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]



block seotext
	.title
		h2 А зачем необходима чистота?
	.descr
		p Что же мы подразумеваем под чистотой? Это полное отсутствие в помещении грязи, пыли, мусора, пятен и неприятных запахов. А зачем необходима чистота?
		p Во-первых, она способствует улучшению самочувствия находящихся в нём людей.
		p Во-вторых, играет важную имеджевую роль, ведь если кабинет сотрудников чист, а окна сияют до блеска — это говорит о высоком статусе заведения или о благосостоянии жилища.
		p Профессиональная уборка от клининговой компании «Стандарт» в Жуковском — это сочетание высокого качества и демократичных цен. Наши профессионалы способны выполнить уборку любой сложности.
		p Для частных лиц мы предлагаем:
		ul
			li генеральную уборку квартир;
			li уборку квартиры после ремонта;
			li регулярную уборку квартиры;
			li мытьё стеклянных поверхностей;
			li генеральную уборку дома;
			li уборку дома после ремонта;
			li химчистку на дому.
		p Перечень услуг для компаний включает в себя:
		ul
			li комплексную уборку офисов;
			li регулярную уборку офисов;
			li уборку офисов после ремонта;
			li уборку помещений;
			li уборку территорий.
		p Клинеры компании «Стандарт» обладают большим опытом работы в сфере клининга, а потому способны справляться с загрязнениями высокой сложности и умеют очищать даже самые сложные загрязнения, не навредив новому ремонту и дорогостоящей мебели. Также на всех объектах мы используем только современную технику и безопасные моющие средства. Проявляем уникальный подход к каждому клиенту и бережно относимся к вашему имуществу.
		p Важно отметить, что профессиональная уборка одинаково необходима людям из разных сфер деятельности, ведущих активный образ жизни. Ведь зачастую ритм города настолько велик, что сложно найти время даже на отдых, не говоря уже о добросовестной уборке! Логичнее будет посвятить дни своей жизни любимому делу, уделить внимание семье или просто заняться делами, которые кроме вас не сделает никто. А механический физический труд доверьте профессионалам клининговой компании «Стандарт».

