extends ../_templates/_template_kommerce

block variables

	- var subDomain = ''
	- var pageUrl = '/uborka-pomescheniy/uborka-posle-remonta'
	- var title = 'Уборка после ремонта – звоните или оставлйте заявку'
	- var metaDescr = 'Уборка после строительства и ремонта силами нашей компании позволит быстрее перейти к использованию помещений, сберегая ваши силы и время.'
	- var ogImage = 'img/posle-remonta.jpg'
	- var h1 = 'Проведение уборки после ремонта в Жуковском'
	- var h1Descr = 'Уборка после ремонта клининговой компанией – это физически трудоемкий процесс, в особенности, если он проводился после капитальных строительных работ. Такая сфера услуг является сегодня востребованной и достаточно доступной по цене.'
	- var bcCat = 'Уборка помещений'
	- var nestingLevel = '2'
	- var bcCatUrl = '/uborka-pomescheniy/'
	- var bc = 'Уборка после ремонта'
	- var category = "default"

	- var mainBackground = 'img/uborka-ofisa2.jpg'
	- var formBackground = 'img/pexels-photo-380768.jpeg'


	- var priceH2 = 'Цены на уборку после ремонта'

	//- mixin pricetable
	-
		var thead = ['Нежилые помещения', 'Цена']
	-
		var tbody = [
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]



block seotext
	.title
		h2 Уборка помещений после ремонта
	.descr
		p Уборка нежилых помещений после ремонта — непростая задача, а порой и вовсе невыполнимая для дилетанта. Посмотрим правде в глаза: здесь вам не обойтись без клининговой компании. Ведь если то, в каком состоянии находится ваша квартира ведают единицы, то о мусорке на рабочих местах ваших подчинённых молва пойдет далеко.
		p Мы понимаем, что уборка производственных и промышленных помещений после ремонта — процесс непростой и очень ответственный. От него во многом зависит здоровая атмосфера в коллективе. Но вам определённо не о чем беспокоиться: сотрудники клининговой  компании «Стандарт» всегда принимают во внимание специфику рабочих процессов. Это значит, что, убирая в офисе, мы помним о важности последовательности папок, громоздящихся на шкафу. А на заводе — не нажмём случайно на кнопку или рычаг, а будем делать все возможное, чтобы создать условия, близкие к стерильным. Словом, мы готовы к качественному клинингу масштабных помещений разной направленности. Это могут быть производственные и служебные помещения, кабинеты, коридоры, санузлы, входные группы и прилегающие территории.
		p В основном, уборка помещений после ремонта состоит из следующих пунктов:
		ul
			li уборка строительной пыли;
			li устранение загрязнений типа скотча, затирок, смол и клеев;
			li дезинфекция помещений для персонала;
			li тщательная чистка оборудования и прочих поверхностей;
			li сухая и влажная уборка стен, потолочных перекрытий, всех конструкций и напольного покрытия;
			li уборка санузлов.
		p Мы всегда используем моющие средства, не наносящие ни малейшего вреда дорогостоящему оборудованию и здоровью сотрудников. А ещё эти средства способны отмыть даже самые сложные загрязнения типа машинного масла, краски, смазки…
		p Сказать честно, пока наш менеджер не выедет к вам на объект и бесплатно не оценит масштаб хаоса, мы не сможем назвать вам цену за уборку помещения после ремонта. Дело в том, что зачастую мы сталкиваемся с большим архитектурным и целевым различием объектов. Без индивидуального подхода тут не обойтись.

