extends ../_templates/_template_kommerce

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/moyka-okon-v-ramenskom/moyka-okon-alpinistami'
	- var mainpage = ''
	- var title = 'Мойка окон альпинистами'
	- var metaDescr = 'Мытье остекления и фасадов промышленными альпинистами в г. Раменское. Мойка балконов и панорамного остекления на высоте.'
	- var ogImage = 'img/photo-prom-alp-min.jpg'
		//- main screen
	- var h1 = 'Мойка окон альпинистами в Раменском'
	- var h1Descr = 'Мойка окон методом промышленного альпинизма обычно требуется при витражном и панарамном остеклении помещений в высотных зданиях. Также используется, когда нет возможности установить вышку или ограничить движение.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Мойка окон альпинистами в Раменском'
		//- backgrounds
	- var mainBackground = 'img/moyka-ostekleniya.jpg'
	- var formBackground = 'img/moyka-ostekleniya.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'osteklenie'
		//- mixin pricetable
	- var priceH2 = 'Цены на мойку остекления и фасадов'
	-
		var thead = ['Мойка фасадов, окон', 'Цена']
	-
		var tbody = [
				['Мойка остекления и фасадов методом промышленного альпинизма', 'от 60 р. /м²'],
		]

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Мытьё окон на высоте
			.descr
				p Окна являются неотъемлемым элементом дизайна здания. Но, к сожалению, в силу резкой смены климатических условий, перепадов температуры и грязного воздуха привлекательность внешнего вида оконных конструкций быстро теряется. К счастью, сегодня мойка окон альпинистами пользуется особой популярностью среди владельцев высотных офисов и квартир с прекрасным панорамным видом. И теперь тем, кто не является профессиональным промышленным альпинистом, не обязательно рисковать своей жизнью в погоне за зеркальной чистотой и сиянием оконных конструкций без разводов.
				p Следует отметить, что мойка окон промышленными альпинистами, в самом деле, задача весьма опасная. Она требует определённых навыков и умений. Этот вид клининга сопряжён со значительным риском не только для здоровья, но и для жизни! И лишь профессионалов своего дела, прошедших специальную подготовку, мы допускаем к мойке фасадов и окон на высоте. Каждого сотрудника компании «Стандарт» мы снаряжаем необходимым оборудованием, страховочными тросами и профессиональными моющими средствами. Словом, волноваться вовсе не о чем! Мы блестяще справимся с поставленной задачей, а атмосфера внутри помещения заметно преобразится, когда окна засияют зеркальной чистотой.
				h3 От чего зависит цена
				p Если вас интересуют точные цены для вашего случая, то надежнее всего позвонить нам или заказать обратный звонок – наш менеджер проконсультирует вас, назовет порядок цен и поможет с выбором услуги. Также чтобы самостоятельно прицениться перейдите на страницу с актуальными ценами на мойку остекления.
				p Цена на мойку окон альпинистами может варьироваться в зависимости от следующих факторов: трудные погодные условия (мойка фасадов и окон альпинистами выполняется и в солнечную погоду, и в лютый мороз, однако во втором случае стоимость мойки будет выше);наличие сложных загрязнений (если в ходе мытья окон приходится удалять остатки краски, монтажной пены или клея со стеклянной поверхности или рам, то на это уходит больше времени и сил, следовательно, стоимость мойки окон альпинистами возрастает);этажность здания и отсутствие удобного доступа к оконным конструкциям (эти факторы также влияют на повышение стоимости за данную услугу, поскольку требуют от наших специалистов больше усилий и сноровки).
				p Считаем важным отметить, что сотрудники клининговой компании «Стандарт» приезжают на объект полностью подготовленными: в специальной униформе, с необходимым спектром качественных моющих средств и с профессиональной техникой. Словом, вам не придётся лишний раз суетиться. А освободившееся от уборки время можно будет с пользой провести, прогулявшись по Раменскому в приятной компании друзей.
				p Теперь не придётся тратить время своей жизни на генеральную уборку дома. Достаточно просто обратиться в «Стандарт» — мы непременно вернём уют и очарование вашему дому, не навредив поверхности мебели и ремонту. И всё это по демократичной цене!
				p Мы с радостью поможем вам справиться даже с самыми сложными загрязнениями окон на любой высоте, при любой этажности, при любых погодных условиях. Ничто не остановит нас на пути к достижению идеальной чистоты фасадов и окон!
