#promo-sticker
	a.modal-btn-promo-sticker(href="#pop-up-insta")
		.promo-sticker-wrap
			p.descr Акция 14 февраля!
			img(src="/img/akcii/akciya-na-den-vlublennyh-min.png")
	i.fa.fa-times(aria-hidden="true")
