section.section.section-attention
	.container
		.title
			h2 Мы работаем в период самоизоляции
		.info
			p Делаем уборки любых квартир, домов и других помещений с дезинфекцирующими средствами!
			p Все наши сотрудники обеспечены средствами индивидуальной защиты (маски, перчатки)
			p Ежедневно проводится измерение температуры у каждого сотрудника компании
			p Меняется и обрабатывается дезинфицирующими средствами униформа и личные предметы
