//- div.services-menu
	ul.menu
		li
			span
				| Для частных лиц
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="../uborka-s-dezinfekciej-i-ozonirovaniem.html") Уборка с дезинфекцией
				li
					a(href="/uborka-kvartir.html") Уборка квартир
					ul
						li
							a(href="/uborka-kvartir/bystraya-uborka-kvartiry.html") Экспресс-уборка квартиры
						li
							a(href="/uborka-kvartir/regulyarnaya-uborka-kvartiry.html") Регулярная уборка квартиры
							ul
								li
									a(href="../uborka-kvartir/uborka-1k-kvartiry.html") Уборка однокомнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-2h-komnatnoy-kvartiry.html") Уборка 2х комнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-3h-komnatnoy-kvartiry.html") Уборка 3х комнатной квартиры
						li
							a(href="/uborka-kvartir/generalnaya-uborka-kvartiry.html") Генеральная уборка квартиры
							ul
								li
									a(href="/uborka-kvartir/generalnaya-uborka-vannoy.html") Ванной комнаты
								li
									a(href="/uborka-kvartir/generalnaya-uborka-kuhni.html") Кухни с обезжириванием
								li
									a(href="/uborka-kvartir/generalnaya-uborka-odnokomnatnoj-kvartiry.html") Однокомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-dvuhkomnatnoj-kvartiry.html") Двухкомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-trekhkomnatnoj-kvartiry.html") Трёхкомнатной квартиры
						li
							a(href="/uborka-kvartir/uborka-kvartir-posle-remonta.html") Уборка квартир после ремонта
							ul
								li
									a(href="../uborka-kvartir/uborka-odnokomnatnoy-kvartiry-posle-remonta.html") Однокомнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-posle-remonta-2uh-komnatnoy-kvartiry.html") Двухкомнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-3h-komnatnoy-kvartiry-posle-remonta.html") Трёхкомнатной квартиры
				li
					a(href="/uborka-domov.html") Уборка домов и коттеджей
					ul
						li
							a(href="/uborka-domov/ekspress-uborka-doma.html") Экспресс-уборка домов
						li
							a(href="/uborka-domov/regulyarnaya-uborka-doma.html") Регулярная уборка дома
						li
							a(href="/uborka-domov/generalnaya-uborka-doma.html") Генеральная уборка дома
						li
							a(href="/uborka-domov/uborka-kottedzha-posle-remonta.html") Уборка коттеджа после ремонта
				li
					a(href="/moyka-okon-v-ramenskom.html") Мойка окон
					ul
						li
							a(href="/moyka-okon-v-ramenskom/moyka-okon-alpinistami.html") Мойка окон альпинистами
				li
					a(href="/himchistka.html") Химчистка с выездом
					ul
						li
							a(href="/himchistka/himchistka-kovrov.html") Химчистка ковров
						li
							a(href="/himchistka/himchistka-divanov-v-ramenskom.html") Химчистка диванов
						li
							a(href="/himchistka/himchistka-myagkoy-mebeli.html") Химчистка мягкой мебели
						li
							a(href="/himchistka/himchistka-matrasov.html") Химчистка матрасов
						li
							a(href="/himchistka/himchistka-igrushek.html") Химчистка игрушек
						li
							a(href="/himchistka/himchistka-shtor.html") Химчистка штор
						li
							a(href="/himchistka/himchistka-salona-avtomobilya.html") Химчистка салона автомобиля
				li
					a(href="/uslugi-domrabotnicy.html") Услуги домработницы
				li
					a(href="/uslugi-sadovnika.html") Услуги садовника
				li
					a(href="/promyshlennyy-alpinizm.html") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega.html") Очистка крыш от наледи и снега
		li
			span
				| Для компаний
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="/uborka-ofisov.html") Уборка офиса
					ul
						li
							a(href="/uborka-ofisov/regulyarnana-uborka-v-ofise.html") Регулярная уборка в офисе
							ul
								li
									a(href="/uborka-ofisov/utrennyaya-uborka-ofisov.html") Утренняя уборка офисов
								li
									a(href="/uborka-ofisov/vechernyaya-uborka-ofisov.html") Вечерняя уборка офисов
								li
									a(href="/uborka-ofisov/ezhednevnaya-uborka-ofisa.html") Ежедневная уборка офиса
						li
							a(href="/uborka-ofisov/generalnaya-uborka-ofisa.html") Генеральная уборка офиса
						li
							a(href="/uborka-ofisov/uborka-ofisa-posle-remonta.html") Уборка офиса после ремонта
				li
					a(href="/uborka-kommercheskoy-nedvizhimosti.html") Коммерческий клининг
					ul
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-biznes-centra.html") Уборка бизнес центров
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-kafe.html") Уборка кафе
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-klinik-i-meduchrezhdenij.html") Уборка клиник
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-magazina.html") Уборка магазинов
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-proizvodstv.html") Уборка производств
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-restoranov.html") Уборка ресторанов
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-sklada.html") Уборка складов
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-territorii-predpriyatij.html") Уборка территории
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-torgovyh-centrov.html") Уборка торговых центров
				li
					a(href="/uborka-pomescheniy.html") Уборка помещений
					ul
						li
							a(href="/uborka-pomescheniy/generalnaya-uborka.html") Генеральная уборка
						li
							a(href="/uborka-pomescheniy/uborka-posle-remonta.html") Уборка после ремонта
				li
					a(href="/moyka-okon-v-ramenskom/moyka-ostekleniya-i-fasadov.html") Мойка остекления и фасадов
				li
					a(href="/promyshlennyy-alpinizm.html") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega.html") Очистка крыш от наледи и снега
				li
					a(href="/uborka-posle-meropriyatiy.html") Уборка после мероприятй
				li
					a(href="/uslugi-sadovnika.html") Услуги садовника

//- for deploy
div.services-menu
	ul.menu
		li
			span
				| Для частных лиц
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="../uborka-s-dezinfekciej-i-ozonirovaniem") Уборка с дезинфекцией
				li
					a(href="/uborka-kvartir/") Уборка квартир
					ul
						li
							a(href="/uborka-kvartir/bystraya-uborka-kvartiry") Экспресс-уборка квартиры
						li
							a(href="/uborka-kvartir/regulyarnaya-uborka-kvartiry") Регулярная уборка квартиры
							ul
								li
									a(href="../uborka-kvartir/uborka-1k-kvartiry") Уборка однокомнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-2h-komnatnoy-kvartiry") Уборка 2х комнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-3h-komnatnoy-kvartiry") Уборка 3х комнатной квартиры
						li
							a(href="/uborka-kvartir/generalnaya-uborka-kvartiry") Генеральная уборка квартиры
							ul
								li
									a(href="/uborka-kvartir/generalnaya-uborka-vannoy") Ванной комнаты
								li
									a(href="/uborka-kvartir/generalnaya-uborka-kuhni") Кухни с обезжириванием
								li
									a(href="/uborka-kvartir/generalnaya-uborka-odnokomnatnoj-kvartiry") Однокомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-dvuhkomnatnoj-kvartiry") Двухкомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-trekhkomnatnoj-kvartiry") Трёхкомнатной квартиры
						li
							a(href="/uborka-kvartir/uborka-kvartir-posle-remonta") Уборка квартир после ремонта
							ul
								li
									a(href="../uborka-kvartir/uborka-odnokomnatnoy-kvartiry-posle-remonta") Однокомнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-posle-remonta-2uh-komnatnoy-kvartiry") Двухкомнатной квартиры
								li
									a(href="../uborka-kvartir/uborka-3h-komnatnoy-kvartiry-posle-remonta") Трёхкомнатной квартиры
				li
					a(href="/uborka-domov/") Уборка домов и коттеджей
					ul
						li
							a(href="/uborka-domov/ekspress-uborka-doma") Экспресс-уборка домов
						li
							a(href="/uborka-domov/regulyarnaya-uborka-doma") Регулярная уборка дома
						li
							a(href="/uborka-domov/generalnaya-uborka-doma") Генеральная уборка дома
						li
							a(href="/uborka-domov/uborka-kottedzha-posle-remonta") Уборка коттеджа после ремонта
				li
					a(href="/moyka-okon-v-ramenskom/") Мойка окон
					ul
						li
							a(href="/moyka-okon-v-ramenskom/moyka-okon-alpinistami") Мойка окон альпинистами
				li
					a(href="/himchistka/") Химчистка с выездом
					ul
						li
							a(href="/himchistka/himchistka-kovrov") Химчистка ковров
						li
							a(href="/himchistka/himchistka-divanov-v-ramenskom") Химчистка диванов
						li
							a(href="/himchistka/himchistka-myagkoy-mebeli") Химчистка мягкой мебели
						li
							a(href="/himchistka/himchistka-matrasov") Химчистка матрасов
						li
							a(href="/himchistka/himchistka-igrushek") Химчистка игрушек
						li
							a(href="/himchistka/himchistka-shtor") Химчистка штор
						li
							a(href="/himchistka/himchistka-salona-avtomobilya") Химчистка салона автомобиля
				li
					a(href="/uslugi-domrabotnicy") Услуги домработницы
				li
					a(href="/uslugi-sadovnika") Услуги садовника
				li
					a(href="/promyshlennyy-alpinizm") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega") Очистка крыш от наледи и снега
		li
			span
				| Для компаний
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="/uborka-ofisov/") Уборка офиса
					ul
						li
							a(href="/uborka-ofisov/regulyarnana-uborka-v-ofise") Регулярная уборка в офисе
							ul
								li
									a(href="/uborka-ofisov/utrennyaya-uborka-ofisov") Утренняя уборка офисов
								li
									a(href="/uborka-ofisov/vechernyaya-uborka-ofisov") Вечерняя уборка офисов
								li
									a(href="/uborka-ofisov/ezhednevnaya-uborka-ofisa") Ежедневная уборка офиса
						li
							a(href="/uborka-ofisov/generalnaya-uborka-ofisa") Генеральная уборка офиса
						li
							a(href="/uborka-ofisov/uborka-ofisa-posle-remonta") Уборка офиса после ремонта
				li
					a(href="/uborka-kommercheskoy-nedvizhimosti/") Коммерческий клининг
					ul
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-biznes-centra") Уборка бизнес центров
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-kafe") Уборка кафе
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-klinik-i-meduchrezhdenij") Уборка клиник
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-magazina") Уборка магазинов
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-proizvodstv") Уборка производств
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-restoranov") Уборка ресторанов
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-sklada") Уборка складов
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-territorii-predpriyatij") Уборка территории
						li
							a(href="/uborka-kommercheskoy-nedvizhimosti/uborka-torgovyh-centrov") Уборка торговых центров
				li
					a(href="/uborka-pomescheniy/") Уборка помещений
					ul
						li
							a(href="/uborka-pomescheniy/generalnaya-uborka") Генеральная уборка
						li
							a(href="/uborka-pomescheniy/uborka-posle-remonta") Уборка после ремонта
				li
					a(href="/moyka-okon-v-ramenskom/moyka-ostekleniya-i-fasadov") Мойка остекления и фасадов
				li
					a(href="/promyshlennyy-alpinizm") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega") Очистка крыш от наледи и снега
				li
					a(href="/uborka-posle-meropriyatiy") Уборка после мероприятй
				li
					a(href="/uslugi-sadovnika") Услуги садовника
