section.section.section-our-works__komm
	.container
		.section-title
			h2 Фотографии наших работ
		#slider__komm
			.slider__wrapper
				.slider__item
					img.lazyload(src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7"  data-src='../../img/case-magazin1.jpg' alt='')
					//- p Уборка после ремонта магазина
				.slider__item
					img.lazyload(src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7"  data-src='../img/case-magazin2.jpg' alt='')
					//- p Уборка после ремонта магазина
				.slider__item
					img.lazyload(src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7"  data-src='../img/case-magazin3.jpg' alt='')
					//- p Уборка после ремонта магазина
				.slider__item
					img.lazyload(src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7"  data-src='../img/case-magazin4.jpg' alt='')
					//- p Уборка после ремонта магазина
			a.slider__control.slider__control_left(href='#', role='button')
			a.slider__control.slider__control_right(href='#', role='button')
