section.section.section-work-review
	.container
		.section-title
			h2 Отзывы о нашей работе
		.carousel.work-review-carousel.white-nav(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-items-xs='1', data-play='1', data-speed='3000')
			.slide-item
				img(src='../img/blagodarstvennoe-pismo-aleks-stomatologija-ramka.png' alt='')
				.descr
					| Стоматологическая клиника «Алекс» выражает Вам и сотрудникам Вашей компании благодарность за сотрудничество, качественную и оперативную работу на профессиональном уровне по уборке помещений стоматологической клиники «Алекс». Особенно хотелось бы подчеркнуть доброжелательность персонала и его готовность сделать работу качественно и в удобное для Заказчика время
				.name
					| Клиника «Алекс»
			.slide-item
				img(src='../img/blagodarstvennoe-pismo-MCHS-rossii.png' alt='')
				.descr
					| Руководство ФГБУ «АСК МЧС России» выражает глубокую признательность и благодарность компании ООО «Стандарт» и лично Гончар Валерию за профессионализм и четкость выполнения обязательств. Ваша компания проявила себя как падежный и добросовестный партнер. Надеемся на дальнейшее взаимовыгодное сотрудничество
				.name
					| ФГБУ «АСК МЧС России»
			.slide-item
				img(src='../img/blagodarstvennoe-pismo-nekspo-ramka.png' alt='')
				.descr
					| От лица компании ООО "Нэкспо Групп" хочу поблагодарить Вас за отличную работу на ХII Международном авиационно-космическом салоне "МАКС - 2015" выполненную для нашей компании! Особо хочу поблагодарить высокий профессионализм сотрудников опрятный внешний вид, использование современных средств и оборудования для уборки, а так же готовность помочь в непредвиденных ситуациях
				.name
					| ООО "НЭКСПО ГРУПП"
			.slide-item
				img(src='../img/blagodarstvennoe-pismo-russlij-bereg-ramka.png' alt='')
				.descr
					| Коллектив нашей организации выражает искреннюю признательность Клининговой компании ООО "Стандарт" за сверкающие полы и прозрачные окна в нашем офисе! С большим удовольствием мы приходим на свои рабочие места ежедневно и наслаждаемся чистотой, созданной Вашими заботливыми сотрудниками!  Огромное Вам спасибо!
				.name
					| ООО «Компания Русский Берег»
			.slide-item
				img(src='../img/blagodarstvennoe-pismo-specstroy-ramka.png' alt='')
				.descr
					| ООО "СПЕЦСТРОЙ" выражает благодарность компании ООО "Стандарт" за оперативное и качественное выполнение услуг. За время совместной работы компания ООО "Стандарт" и ее коллектив проявили себя как надежные партнеры, профессионально выполняющие свою работу. Надеемся на дальнейшее плодотворное сотрудничество и рекомендуем ООО "Стандарт" как надежного партнера
				.name
					| ООО «Спецстрой»

