//- Not MAIN PAGE!!!
section.section.section-cta__komm
	.container
		.section-title
			h2 Запросите коммерческое предложение
		.subtitle
			p Всегда используем свой инвентарь, химию и оборудование. От клиента только доступ к объекту, воде и электричеству
	.container
		.section-cta__komm-elem.mail-elem
			.picture.lazyload(style="background-position: center center; background-size: cover; background-repeat: no-repeat;" data-bg='//ramenskoye.standartcleaning.ru/img/uborka-ofisa3.jpg')
			.info-block
				.title
					| Уже есть техническое задание?
				.mail
					| info@standartcleaning.ru
				.bottom-elem
					| отправьте его нам на почту и ожидайте коммерческое предложение
		.section-cta__komm-elem.form-elem
			.info-block
				.title
					| Закажите выезд менеджера на объект
				.bottom-elem
					| оставьте заявку и ожидайте менеджера
			.form-block
				+form_manager
