section.section.section-advantages
	.container
		.section-title
			h2 В каждой нашей услуге
		.why-we-wrap
			.why-we-elem
				.picture
					img(src='../img/why-we1.png', alt='')
				.descr
					p Проверенные средства и инструменты
			.why-we-elem
				.picture
					img(src='../img/why-we2.png', alt='')
				.descr
					p Сотрудники, прошедшие обучение
			.why-we-elem
				.picture
					img(src='../img/why-we3.png', alt='')
				.descr
					p Современное оборудование для клининга
			.why-we-elem
				.picture
					img(src='../img/why-we4.png', alt='')
				.descr
					p Договор защищает ваши интересы
