//- div.services-menu
	ul.menu
		li
			span
				| Для частных лиц
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="/uborka-kvartir.html") Уборка квартир
					ul
						li
							a(href="/uborka-kvartir/bystraya-uborka-kvartiry.html") Экспресс-уборка квартиры
						li
							a(href="/uborka-kvartir/regulyarnaya-uborka-kvartiry.html") Регулярная уборка квартиры
							//- ul
								li
									a(href="#") Уборка однокомнатной квартиры
								li
									a(href="uborka-dvuhkomnatnon-kvartiry") Уборка 2х комнатной квартиры
								li
									a(href="#") Уборка 3х комнатной квартиры
						li
							a(href="/uborka-kvartir/generalnaya-uborka-kvartiry.html") Генеральная уборка квартиры
							ul
								li
									a(href="/uborka-kvartir/generalnaya-uborka-vannoy-komnaty.html") Ванной комнаты
								li
									a(href="/uborka-kvartir/generalnaya-uborka-kuhni.html") Кухни с обезжириванием
								li
									a(href="/uborka-kvartir/generalnaya-uborka-odnokomnatnoy-kvartiry.html") Однокомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-dvuhkomntatnoy-kvartiry.html") Двухкомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-tryohkomnatnoy-kvartiry.html") Трёхкомнатной квартиры
						li
							a(href="/uborka-kvartir/uborka-kvartir-posle-remonta.html") Уборка квартир после ремонта
							//- ul
								li
									a(href="#") Однокомнатной квартиры
								li
									a(href="#") Двухкомнатной квартиры
								li
									a(href="#") Трёхкомнатной квартиры
				li
					a(href="/uborka-domov.html") Уборка домов и коттеджей
					ul
						li
							a(href="/uborka-domov/ekspress-uborka-doma.html") Экспресс-уборка домов
						li
							a(href="/uborka-domov/regulyarnaya-uborka-doma.html") Регулярная уборка дома
						li
							a(href="/uborka-domov/generalnaya-uborka-doma.html") Генеральная уборка дома
						li
							a(href="/uborka-domov/uborka-kottedzha-posle-remonta.html") Уборка коттеджа после ремонта
						li
							a(href="/uborka-domov/uborka-zagorodnyh-domov.html") Уборка загородного дома
				li
					a(href="/moyka-okon-i-balkonov.html") Мойка окон
					ul
						li
							a(href="/moyka-okon-i-balkonov/moyka-okon-alpinistami.html") Мойка окон альпинистами
						li
							a(href="/moyka-okon-i-balkonov/mytyo-okon-posle-remonta.html") Мойка окон после ремонта
						li
							a(href="/moyka-okon-i-balkonov/mytyo-okon-v-kvartire.html") Мойка окон в квартире
				li
					a(href="/himchistka.html") Химчистка с выездом
					ul
						li
							a(href="/himchistka/himchistka-kovrov-s-vyezdom-na-dom.html") Химчистка ковров
						li
							a(href="/himchistka/himchistka-divanov-s-vyezdom.html") Химчистка диванов
						li
							a(href="/himchistka/himchistka-myagkoy-mebeli-na-domu.html") Химчистка мягкой мебели
						li
							a(href="/himchistka/himchistka-matrasov-na-domu.html") Химчистка матрасов
						li
							a(href="/himchistka/himchistka-salona-avtomobilya-s-vyezdom.html") Химчистка салона автомобиля
				li
					a(href="/uslugi-domrabotnicy.html") Услуги домработницы
				li
					a(href="/uslugi-sadovnika.html") Услуги садовника
				li
					a(href="/promyshlennyy-alpinizm.html") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega.html") Очистка крыш от наледи и снега
		li
			span
				| Для компаний
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="/uborka-ofisov.html") Уборка офиса
					ul
						li
							a(href="/uborka-ofisov/regulyarnana-uborka-v-ofise.html") Регулярная уборка в офисе
						//- li
						//- 	a(href="/#") Утренняя уборка офисов
						//- li
						//- 	a(href="/#") Вечерняя уборка офисов
						//- li
						//- 	a(href="/#") Ежедневная уборка офиса
						li
							a(href="/uborka-ofisov/generalnaya-uborka-ofisa.html") Генеральная уборка офиса
						li
							a(href="/uborka-ofisov/uborka-ofisa-posle-remonta.html") Уборка офиса после ремонта
				li
					a(href="/uborka-pomescheniy.html") Уборка помещений
					ul
						li
							a(href="/uborka-pomescheniy/generalnaya-uborka.html") Генеральная уборка
						li
							a(href="/uborka-pomescheniy/uborka-posle-remonta.html") Уборка после ремонта
						li
							a(href="/uborka-pomescheniy/professionalnaya-uborka.html") Профессиональная уборка
				li
					a(href="../uborka-pomescheniy/uborka-kommercheskoy-nedvizhimosti.html") Коммерческий клининг
				li
					a(href="../moyka-okon-i-balkonov/moyka-ostekleniya-i-fasadov.html") Мойка остекления и фасадов
				li
					a(href="/promyshlennyy-alpinizm.html") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega.html") Очистка крыш от наледи и снега
				li
					a(href="/uborka-territoriy.html") Уборка территории
				li
					a(href="/uslugi-sadovnika.html") Услуги садовника

//- for deploy
div.services-menu
	ul.menu
		li
			span
				| Для частных лиц
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="/uborka-kvartir/") Уборка квартир
					ul
						li
							a(href="/uborka-kvartir/bystraya-uborka-kvartiry") Экспресс-уборка квартиры
						li
							a(href="/uborka-kvartir/regulyarnaya-uborka-kvartiry") Регулярная уборка квартиры
							//- ul
								li
									a(href="#") Уборка однокомнатной квартиры
								li
									a(href="uborka-dvuhkomnatnon-kvartiry") Уборка 2х комнатной квартиры
								li
									a(href="#") Уборка 3х комнатной квартиры
						li
							a(href="/uborka-kvartir/generalnaya-uborka-kvartiry") Генеральная уборка квартиры
							ul
								li
									a(href="/uborka-kvartir/generalnaya-uborka-vannoy-komnaty") Ванной комнаты
								li
									a(href="/uborka-kvartir/generalnaya-uborka-kuhni") Кухни с обезжириванием
								li
									a(href="/uborka-kvartir/generalnaya-uborka-odnokomnatnoy-kvartiry") Однокомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-dvuhkomntatnoy-kvartiry") Двухкомнатной квартиры
								li
									a(href="/uborka-kvartir/generalnaya-uborka-tryohkomnatnoy-kvartiry") Трёхкомнатной квартиры
						li
							a(href="/uborka-kvartir/uborka-kvartir-posle-remonta") Уборка квартир после ремонта
							//- ul
								li
									a(href="#") Однокомнатной квартиры
								li
									a(href="#") Двухкомнатной квартиры
								li
									a(href="#") Трёхкомнатной квартиры
				li
					a(href="/uborka-domov/") Уборка домов и коттеджей
					ul
						li
							a(href="/uborka-domov/ekspress-uborka-doma") Экспресс-уборка домов
						li
							a(href="/uborka-domov/regulyarnaya-uborka-doma") Регулярная уборка дома
						li
							a(href="/uborka-domov/generalnaya-uborka-doma") Генеральная уборка дома
						li
							a(href="/uborka-domov/uborka-kottedzha-posle-remonta") Уборка коттеджа после ремонта
						li
							a(href="/uborka-domov/uborka-zagorodnyh-domov") Уборка загородного дома
				li
					a(href="/moyka-okon-i-balkonov/") Мойка окон
					ul
						li
							a(href="/moyka-okon-i-balkonov/moyka-okon-alpinistami") Мойка окон альпинистами
						li
							a(href="/moyka-okon-i-balkonov/mytyo-okon-posle-remonta") Мойка окон после ремонта
						li
							a(href="/moyka-okon-i-balkonov/mytyo-okon-v-kvartire") Мойка окон в квартире
				li
					a(href="/himchistka/") Химчистка с выездом
					ul
						li
							a(href="/himchistka/himchistka-kovrov-s-vyezdom-na-dom") Химчистка ковров
						li
							a(href="/himchistka/himchistka-divanov-s-vyezdom") Химчистка диванов
						li
							a(href="/himchistka/himchistka-myagkoy-mebeli-na-domu") Химчистка мягкой мебели
						li
							a(href="/himchistka/himchistka-matrasov-na-domu") Химчистка матрасов
						li
							a(href="/himchistka/himchistka-salona-avtomobilya-s-vyezdom") Химчистка салона автомобиля
				li
					a(href="/uslugi-domrabotnicy") Услуги домработницы
				li
					a(href="/uslugi-sadovnika") Услуги садовника
				li
					a(href="/promyshlennyy-alpinizm") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega") Очистка крыш от наледи и снега
		li
			span
				| Для компаний
				i.fas.fa-angle-down
			ul
				li.li-invisible
				li
					a(href="/uborka-ofisov/") Уборка офиса
					ul
						li
							a(href="/uborka-ofisov/regulyarnana-uborka-v-ofise") Регулярная уборка в офисе
						//- li
						//- 	a(href="/#") Утренняя уборка офисов
						//- li
						//- 	a(href="/#") Вечерняя уборка офисов
						//- li
						//- 	a(href="/#") Ежедневная уборка офиса
						li
							a(href="/uborka-ofisov/generalnaya-uborka-ofisa") Генеральная уборка офиса
						li
							a(href="/uborka-ofisov/uborka-ofisa-posle-remonta") Уборка офиса после ремонта
				li
					a(href="/uborka-pomescheniy/") Уборка помещений
					ul
						li
							a(href="/uborka-pomescheniy/generalnaya-uborka") Генеральная уборка
						li
							a(href="/uborka-pomescheniy/uborka-posle-remonta") Уборка после ремонта
						li
							a(href="/uborka-pomescheniy/professionalnaya-uborka") Профессиональная уборка
				li
					a(href="../uborka-pomescheniy/uborka-kommercheskoy-nedvizhimosti") Коммерческий клининг
				li
					a(href="/moyka-okon-i-balkonov/moyka-ostekleniya-i-fasadov") Мойка остекления и фасадов
				li
					a(href="/promyshlennyy-alpinizm") Промышленный альпинизм
				li
					a(href="/ochistka-krysh-ot-naledi-i-snega") Очистка крыш от наледи и снега
				li
					a(href="/uborka-territoriy") Уборка территории
				li
					a(href="/uslugi-sadovnika") Услуги садовника
