extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/generalnaya-uborka-trekhkomnatnoj-kvartiry'
	- var mainpage = ''
	- var title = 'Генеральная уборка 3х комнатной квартиры'
	- var metaDescr = 'Генеральная уборка трёхкомнатной квартиры в Раменском - цены от 7000 р. и что входит в услугу. Бережная и тщательная уборка недорого и с гарантией.'
	- var ogImage = 'img/generalnaya-uborka-kvartir.jpg'
		//- main screen
	- var h1 = 'Генеральная уборка 3х-комнатной квартиры от 7 000 р.'
	- var h1Descr = 'Комплексная уборка каждого угла в квартире – кухни, санузла, комнат и коридоров. Отлично обновляет помещения после жильцов или перед продажей'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Генеральная уборка 3х-комнатной квартиры от 7 000 р.'
		//- backgrounds
	- var mainBackground = 'img/generalnaya-uborka-kvartir.jpg'
	- var formBackground = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'general'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Ольга', 'descr': 'Мыли квартиру для нашей бабушки. За самоотверженный (во всех смыслах) труд, я благодарю девушек из Стандарта. А то что еще и сама бабушка осталась довольной (а у нас она ой какая капризная, поэтому так долго и не позволяла ей нормально порядок сделать) это прямо невероятно!', 'img': '../img/review__Olga.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': '../img/review__Tanyushka.jpg'},
				{'name': 'Ольга', 'descr': 'Все очень хорошо убрали! Заказывала генеральную уборку квартиры по акции, убирали около 6 часов, но все отмыли и навели порядок. Некоторые загрязнения я думала вообще не уйдут, но девочки все очистили. Спасибо вам!', 'img': '../img/review__Olga1.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': '../img/review__Valerij.jpg'},
		]
	-
		var thead = ['Уборка квартир', 'трехкомнатная <br/>от 71 до 100 м²']
	-
		var tbody = [
					['Генеральная', 'от 7 000 р. ']
					]

