extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/uborka-posle-remonta-2uh-komnatnoy-kvartiry'
	- var mainpage = ''
	- var title = 'Уборка после ремонта 2к квартиры'
	- var metaDescr = 'Уборка после ремонта двухкомнатной квартиры в Раменском - цены от 7000 р. Звоните и сделайте заявку. Заставим сиять вашу обновленную квартиру!'
	- var ogImage = 'img/uborka-kvartir-posle-remonta.jpg'
		//- main screen
	- var h1 = 'Уборка 2к квартиры после ремонта от 7 000 р.'
	- var h1Descr = 'Удаление бетонной пыли, следов скотча, затирки – задача для профессионалов со специальным оборудованием и навыками'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Уборка 2к квартиры после ремонта от 7 000 р.'
		//- backgrounds
	- var mainBackground = 'img/uborka-kvartir-posle-remonta2.jpg'
	- var formBackground = 'img/posle-remonta-foto.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'remont'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Вероника', 'descr': 'Хочу поблагодарить команду за огромную помощь в уборке сильно загрязненной квартиры, в т.ч. после ремонта, особенно Аллу. Убрали чисто, быстро, а главное, недорого, по сравнению с другими клининговыми компаниями Подмосковья. Огромный плюс: безопасность, сотрудники - приятные люди, которых не страшно оставлять у себя в квартире. Всем очень рекомендую!', 'img': '../img/review__Veronika.jpg'},
				{'name': 'Екатерина', 'descr': 'Хочу поблагодарить сотрудников этой клининговой компании за хорошую уборку в моей квартире после ремонта. Грязь убрали даже в труднодоступных местах, сэкономили мне кучу времени и сил.', 'img': '../img/review__Ekaterina.jpg'},
				{'name': 'Юлия', 'descr': 'Стандарт клининг мыли мне квартиру после строителей, отмыли хорошо, проверял менеджер, работницы тоже молодцы шустрые девчонки, самое главное аккуратные под стремянки подкладочки ложили (у меня массив), на ручки где нет ограничителей уплотнители одели, под химию коврик подложили в общем молодцы, бережно ко всему относились, были конечно маленькие недочеты, но их можно не считать. Если как мне убирали то советую.', 'img': '../img/review__Yuliya.jpg'},
		]
	-
		var thead = ['Уборка квартир', 'двухкомнатная <br/>от 51 до 70 м²']
	-
		var tbody = [
					['После ремонта', 'от 7 000 р. ']
					]

