extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/uborka-kvartir-posle-remonta'
	- var mainpage = ''
	- var title = 'Уборка квартир после ремонта'
	- var metaDescr = 'Уборка после ремонта квартиры в Раменском - рассчитайте стоимость и оставьте заявку. Заставим сиять вашу обновленную квартиру!'
	- var ogImage = 'img/uborka-kvartir-posle-remonta.jpg'
		//- main screen
	- var h1 = 'Уборка после ремонта квартиры в Раменском'
	- var h1Descr = 'Самый сложный вид уборки! Удаление бетонной пыли, следов скотча, затирки – задача для профессионалов со специальным оборудованием и навыками'
		//- breadcrumbs
	- var bcCat = 'Уборка квартир в Раменском'
	- var bcCatUrl = 'uborka-kvartir/'
	- var bc = 'Уборка после ремонта квартиры в Раменском'
		//- backgrounds
	- var mainBackground = 'img/uborka-kvartir-posle-remonta2.jpg'
	- var formBackground = 'img/posle-remonta-foto.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'kvartiry'
	- var cleaningType = 'remont'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Вероника', 'descr': 'Хочу поблагодарить команду за огромную помощь в уборке сильно загрязненной квартиры, в т.ч. после ремонта, особенно Аллу. Убрали чисто, быстро, а главное, недорого, по сравнению с другими клининговыми компаниями Подмосковья. Огромный плюс: безопасность, сотрудники - приятные люди, которых не страшно оставлять у себя в квартире. Всем очень рекомендую!', 'img': '../img/review__Veronika.jpg'},
				{'name': 'Екатерина', 'descr': 'Хочу поблагодарить сотрудников этой клининговой компании за хорошую уборку в моей квартире после ремонта. Грязь убрали даже в труднодоступных местах, сэкономили мне кучу времени и сил.', 'img': '../img/review__Ekaterina.jpg'},
				{'name': 'Юлия', 'descr': 'Стандарт клининг мыли мне квартиру после строителей, отмыли хорошо, проверял менеджер, работницы тоже молодцы шустрые девчонки, самое главное аккуратные под стремянки подкладочки ложили (у меня массив), на ручки где нет ограничителей уплотнители одели, под химию коврик подложили в общем молодцы, бережно ко всему относились, были конечно маленькие недочеты, но их можно не считать. Если как мне убирали то советую.', 'img': '../img/review__Yuliya.jpg'},
		]
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['После ремонта', 'от 5 000 р. ', 'от 6 000 р. ', 'от 7 000 р. ', 'от 70 р. /м² ']
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Уборка квартиры после ремонта
			.descr
				p Качественная уборка после бесконечного ремонта — непростая задача даже для самых ярых любителей чистоты. Дело в том, что квартира после ремонта напоминает апокалипсис: следы строительных материалов, мерзкая строительная пыль, пятна краски, цемента или монтажной пены… Всё это под силу отчистить в полной мере только посредством профессионального клининга. Компания «Стандарт» готова предоставить вам обширный перечень услуг по уборке квартиры после ремонта в Раменском. Подробнее об этом мы и расскажем в этой статье.
				p Прежде всего следует отметить, что какой бы банальной ни была ситуация на первый взгляд, мы всегда готовы прислушаться к пожеланиям клиента и выполнить свою работу наилучшим образом. Ниже мы приведём стандартный список услуг по уборке квартиры после ремонта, однако знайте: по вашему запросу мы можем расширить список или убрать из него ненужные позиции.
				p Так, клининг после ремонта включает в себя:влажную и сухую уборку полов, плинтусов, стен, потолка, мебели, дверей;удаление пыли и грязи с полов, стен, потолка;избавление всех поверхностей от строительной пыли, плёнки, монтажной пены, краски, цемента;мойку зеркал, отопительных труб и батарей санузлов;сухую чистку ковров и тканевой мебели;влажную очистку кухонного оборудования и столешниц от строительной пыли;вынос мелкого мусора объёмом до 10 килограмм (можем вынести и вывезти также и крупногабаритный мусор, если до начала работ эта опция была обговорена с нами).
				p *Химчистка мебели  и мойка окон — очень трудоёмкие услуги, которые также можно заказать дополнительно.
				p Таким образом, уборка квартиры после ремонта происходит в «Стандарте» по чёткому списку задач. Каждый специалист имеет всё необходимое для того, чтобы навести идеальный порядок. У нашего сотрудника всегда при себе профессиональное оборудование, качественные расходные материалы и проверенные не только на словах, но и на опыте моющие средства.
				p Что же касается стоимости наших услуг, то она рассчитывается индивидуально: всё зависит от площади квартиры и степени её загрязнённости. Чтобы точно узнать объём оплаты, достаточно бесплатно вызвать нашего менеджера. Он профессиональным взором окинет помещение и сформирует для вас уникальное предложение. Мы заинтересованы в том, чтобы вы остались довольны оказанным клинингом, поэтому прикладываем максимум усилий на преображение вашей квартиры в Раменском, какой бы тип уборки вам ни понадобился.
