extends _templates/_template_kommerce

block variables
		//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-ofisov/generalnaya-uborka-ofisa'
	- var mainpage = ''
	- var title = 'Генеральная уборка офиса'
	- var metaDescr = 'Комплесная генеральная уборка офиса - способ полностью обновить офисные помещения. Может проводиться от одного до четырех раз в год. Выгодные предложения!'
	- var ogImage = 'img/pexels-photo-380768.jpeg'
		//- main screen
	- var h1 = 'Генеральная уборка офисов в Раменском'
	- var h1Descr = 'Убираем офисные помещения после ремонта, на регулярной основе, делаем генеральные уборки. Полное клининговое обслуживание и разовые заказы.'
		//- breadcrumbs
	- var bcCat = 'Уборка офисов в Раменском'
	- var bcCatUrl = 'uborka-ofisov/'
	- var bc = 'Генеральная уборка офисов в Раменском'
		//- backgrounds
	- var mainBackground = 'img/uborka-ofisa3.jpg'
	- var formBackground = 'img/uborka-ofisa2.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'ofisy'
	- var cleaningType = 'general'
		//- mixin pricetable
	- var priceH2 = 'Цены на генеральную уборку для офисов'
	-
		var thead = ['Уборка офисов', 'Цена']
	-
		var tbody = [
				['Генеральная уборка', '60 р. /м²'],
				['Послестроительная уборка до 500 м²', '90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', '70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', '60 р. /м²'],
		]

