extends ../_templates/_template_kommerce

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/moyka-okon-v-ramenskom/moyka-ostekleniya-i-fasadov'
	- var mainpage = ''
	- var title = 'Мойка остекления и фасадов'
	- var metaDescr = 'Мытье остекления и фасадов на любой высоте и любой сложности. Мойка входных групп и витрин магазинов и торговых цетров. Быстро и без разводов!'
	- var ogImage = 'img/photo-prom-alp-min.jpg'
		//- main screen
	- var h1 = 'Мойка остекления и фасадов в Раменском'
	- var h1Descr = 'Как правило, необходимость в мойке фасада здания возникает пару раз в год. Также требуется чистка фасада после строительных работ и ремонта.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Мойка остекления и фасадов в Раменском'
		//- backgrounds
	- var mainBackground = 'img/moyka-ostekleniya.jpg'
	- var formBackground = 'img/moyka-ostekleniya.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'osteklenie'
		//- mixin pricetable
	- var priceH2 = 'Цены на мойку остекления и фасадов'
	-
		var thead = ['Мойка фасадов, окон', 'Цена']
	-
		var tbody = [
				['Мойка фасада, окон (на высоте до 3-х метров)', 'от 50 р. /м²'],
				['Мойка фасада, окон (на высоте более 3-х метров с применением автовышки или вышки-туры)', 'от 50 р. /м² + вышка от 1 500 р. за сутки'],
				['Мойка фасада, окон (с применением промышленного альпинизма)', 'от 60 р. /м²'],
		]

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Очистка фасадов зданий
			.descr
				p То, какой вид имеет здание снаружи, напрямую отражается на его восприятии в целом. Фасад, сияющий чистотой, завораживает… Но неужели мытьё окон и фасадов — это именно то, чем бы вы хотели заниматься в свободное от напряжённой работы время? Доверьте работу настоящим профессионалам клининговой компании «Стандарт». Наши специалисты работают на любой высоте. Они справляются с оставленной задачей быстро, качественно и успешно. Мытьё окон и фасадов осуществляется с использованием нашего профессионального оборудования и сертифицированных моющих средств, которые трудно найти в свободной продаже. Мы учитываем специфические особенности здания, будь то необычные формы или материал, из которого оно построено.
				p А сейчас рассмотрим, что же включает в себя мытьё окон и фасадов:
					ul
						li мойка стёкол
						li удаление разводов разной степени и трудновыводимых загрязнений (монтажная пена, цемент, строительная пыль)
						li устранение загрязнений с подоконников, отливов и рам
						li мойка фасадов
						li обработка фасадов средствами, защищающими от атмосферных осадков.
				p А ещё мы готовы работать с вами на постоянной основе: просто будем в удобные для вас время и день создавать внутри жилища сказочный уют, а снаружи — привлекательный взору прохожих вид. Чистоту должен любить каждый, но наводить порядок — дело профессионала. Правильный подход к уборке, использование качественных моющих и чистящих средств в совокупности с мастерством специалистов способны прекрасно сохранить интерьер и экстерьер на долгие годы.
