extends ../_templates/_template_kommerce

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/promyshlennyy-alpinizm'
	- var mainpage = ''
	- var title = 'Промышленный альпинизм в Раменском'
	- var metaDescr = 'Услуги промышленного альпинизма в Раменское от клининговой компании «Стандарт». Мойка фасадов, герметизация швов, мойка остекления и другие услуги'
	- var ogImage = 'img/photo-prom-alp-min.jpg'
		//- main screen
	- var h1 = 'Услуги промышленного альпинизма в Раменском'
	- var h1Descr = 'Фасадные работы: ремонт, очистка, покраска, монтаж водостоков, герметизация швов, замена стеклопакетов. Мойка окон и фасадов, удаление пыли. Монтаж, покраска металлоконструкций. Установка крыши на балкон, ремонт балконов.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Услуги промышленного альпинизма в Раменском'
		//- backgrounds
	- var mainBackground = 'img/photo-prom-alp-min.jpg'
	- var formBackground = 'img/photo-prom-alp-min.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Промальп в Раменском
			.descr
				p Архитектурное сооружение сложно представить без внешней отделки. Она призвана украшать объект недвижимости, делать его неповторимым. Однако частая смена погодных условий, скачки температуры, а также пыль и смог вносят свою лепту в искажение внешнего вида постройки. И именно услуги промышленного альпинизма призваны вернуть эстетичный вид фасаду здания. Специалисты клининговой компании «Стандарт» готовы работать даже в самых тяжёлых погодных условиях и качественно выполнять заказ клиента на любой высоте. Причём цены на услуги промышленного альпинизма у нас «не кусаются», а придутся по нраву даже самым бережливым владельцам офисных помещений или квартир с панорамным видом в высотках.
				p Хочется отметить, что услуги промышленного альпинизма под силу оказать только настоящим профессионалам своего дела, которые прошли предварительное обучение и соответствующую подготовку. В нашей команде нет дилетантов: все специалисты умеют корректно обращаться со страховочными тросами, с профессиональным оборудованием и с импортными моющими средствами. Так, обращаясь за помощью к нам, вы можете быть уверены в превосходном результате!И помните: современный человек и так мало времени проводит на природе, а если ещё и окна будут грязными и мутными, то их пропускная способность естественного освещения существенно упадёт, а вслед за ней — и хорошее настроение сотрудников офиса/жильцов квартиры. Но не стоит отчаиваться раньше времени! Мы знаем, как подарить вам больше яркого солнечного света. Прозрачность воды, блеск зеркала и непревзойдённую чистоту мы готовы вернуть вашим оконным конструкциям уже сегодня. Чтобы получить услуги промышленного альпинизма, достаточно просто связаться с нашим менеджером и выбрать удобное для вас время клининга. Так, в обусловленный день наша команда прибудет на объект, где оперативно и качественно справится с поставленной задачей. Вам же останется просто наслаждаться великолепным результатам, глядя на жизнь мегаполиса сквозь идеально чистое окно.
