extends ../_templates/_template_service

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kvartir/'
	- var mainpage = ''
	- var title = 'Уборка квартир — все виды уборки в Раменском'
	- var metaDescr = 'Уборка квартир в Раменском от 1700 рублей и с гарантией качества - оставляйте заявку или звоните нам сразу +7 495 136-73-63.'
	- var ogImage = 'img/uborka-kvartir-regulyarnaya.jpg'
		//- main screen
	- var h1 = 'Уборка квартир в Раменском'
	- var h1Descr = 'Все виды уборки квартиры для любых ситуаций и случаев: после строителей, после праздника, в помощь мамам с детьми и других ситуаций'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Уборка квартир в Раменском'
		//- backgrounds
	- var mainBackground = 'img/podderzhivayuschaya-uborka-kvartiry.jpg'
	- var formBackground = 'img/inner-form-bg.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'kvartiry'
		//- mixin otzyvy
	-
		var otzyvy = [
				{'name': 'Ольга', 'descr': 'Мыли квартиру для нашей бабушки. За самоотверженный (во всех смыслах) труд, я благодарю девушек из Стандарта. А то что еще и сама бабушка осталась довольной (а у нас она ой какая капризная, поэтому так долго и не позволяла ей нормально порядок сделать) это прямо невероятно!', 'img': '../img/review__Olga.jpg'},
				{'name': 'Танюшка', 'descr': 'Здравствуйте, хочу поблагодарить вашу компанию. Все просто на Уурраа)) Заказывала ген. уборку 2х комнатной квартиры. Убрали идеально чисто, быстро, качественно, а главное по цене, которая не кусается))) Девочки были приветливые, даже поделились советами по уборке. Большое спасибо, вы настоящие профессионалы своего дела. Компании желаю процветания и долгих лет работы с отличными и постоянными клиентами!!!', 'img': '../img/review__Tanyushka.jpg'},
				{'name': 'Ольга', 'descr': 'Все очень хорошо убрали! Заказывала генеральную уборку квартиры по акции, убирали около 6 часов, но все отмыли и навели порядок. Некоторые загрязнения я думала вообще не уйдут, но девочки все очистили. Спасибо вам!', 'img': '../img/review__Olga1.jpg'},
				{'name': 'Валерий', 'descr': 'Выражаю благодарность девушкам и Валерию за проделанную работу! Теща довольна) второй день ходит ахает и охает) квартира сияет!', 'img': '../img/review__Valerij.jpg'},
				{'name': 'Вероника', 'descr': 'Хочу поблагодарить команду за огромную помощь в уборке сильно загрязненной квартиры, в т.ч. после ремонта, особенно Аллу. Убрали чисто, быстро, а главное, недорого, по сравнению с другими клининговыми компаниями Подмосковья. Огромный плюс: безопасность, сотрудники - приятные люди, которых не страшно оставлять у себя в квартире. Всем очень рекомендую!', 'img': '../img/review__Veronika.jpg'},
				{'name': 'Екатерина', 'descr': 'Хочу поблагодарить сотрудников этой клининговой компании за хорошую уборку в моей квартире после ремонта. Грязь убрали даже в труднодоступных местах, сэкономили мне кучу времени и сил.', 'img': '../img/review__Ekaterina.jpg'},
				{'name': 'Юлия', 'descr': 'Стандарт клининг мыли мне квартиру после строителей, отмыли хорошо, проверял менеджер, работницы тоже молодцы шустрые девчонки, самое главное аккуратные под стремянки подкладочки ложили (у меня массив), на ручки где нет ограничителей уплотнители одели, под химию коврик подложили в общем молодцы, бережно ко всему относились, были конечно маленькие недочеты, но их можно не считать. Если как мне убирали то советую.', 'img': '../img/review__Yuliya.jpg'},
				{'name': 'Tata', 'descr': 'Спасибо большое за уборки! Они просто спасают!', 'img': '../img/review__Tata.jpg'},
				{'name': 'Александр', 'descr': 'Вызывал на уборку квартиры. Все требования и пожелания были учтены. Очень порадовала цена и качество уборки. Всем рекомендую.', 'img': '../img/review__Aleksandr.jpg'},
				{'name': 'Ольга', 'descr': 'Если кто из раменского или жуковского, то очень рекомендую Стандарт. Они уже месяцев 5 у нас убирают - аккуратные барышни, пылесосы тихие, все чистенькое. Ничего лишнего не делают, убрали быстро (минут 15) и до следующей недели))', 'img': '../img/review__Olga2.jpg'},
				{'name': 'Ольга', 'descr': 'Отмечали День Рождения в доме, на следующий день, чтобы не тратить время на уборку, заказали выезд клининговой компании. В дополнение к уборке попросили вымыть гору посуды. Отлично спасают такие компании после шумных вечеринок', 'img': '../img/review__Olga.jpg'},
		]

		//- mixin subservices
	-
		var subservices = [
				{'name': 'Экспресс-уборка квартиры', 'price': 'от 2 500 р.', 'img': '../img/uborka-kvartir-posle-remonta-high-480.jpg', 'pageUrl': '../uborka-kvartir/bystraya-uborka-kvartiry', 'popup': 'service1'},
				{'name': 'Регулярная уборка квартиры', 'price': 'от 2 000 р.', 'img': '../img/uborka-kvartir-regulyarnaya-high-480.jpg', 'pageUrl': '../uborka-kvartir/regulyarnaya-uborka-kvartiry', 'popup': 'service2'},
				{'name': 'Генеральная уборка квартиры', 'price': 'от 4 000 р.', 'img': '../img/generalnaya-uborka-kvartir-high-480-1.jpg', 'pageUrl': '../uborka-kvartir/generalnaya-uborka-kvartiry', 'popup': 'service3'},
				{'name': 'После ремонта квартиры', 'price': 'от 5 000 р.', 'img': '../img/uborka-kvartir-posle-remonta-high-480-1.jpg', 'pageUrl': '../uborka-kvartir/uborka-kvartir-posle-remonta', 'popup': 'service4'},
		]
		//- mixin additional
	-
		var additional = [
			{'name':'Генеральная уборка ванной', 'price': '2 500 р.'},
			{'name':'Генеральная уборка кухни', 'price': '3 000 р.'},
			{'name':'Уборка шкафов и мебели', 'price': 'от 1 500 р.'},
			{'name':'Мойка хрустальных и сложных люстр, бра, торшеров', 'price': 'от 500 р.'},
			{'name':'Мойка холодильника', 'price': 'от 500 р.'}
		]
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку квартир'
	-
		var thead = ['Уборка квартир', 'однокомнатная <br/>от 0 до 50 м²', 'двухкомнатная <br/>от 51 до 70 м²', 'трехкомнатная <br/>от 71 до 100 м²', 'больше трех <br/>от 101 м²']
	-
		var tbody = [
				['Постоянная', 'от 2 000 р. ', 'от 2 500 р. ', 'от 3 000 р. ', 'от 25 р. /м² '],
				['Постоянная без химии', 'от 1 700 р. ', 'от 2 200 р. ', 'от 2 700 р. ', 'договорная '],
				['Экспресc', 'от 2 500 р. ', 'от 3 000 р. ', 'от 3 500 р. ', 'от 30 р. /м² '],
				['Генеральная', 'от 4 000 р. ', 'от 5 000 р. ', 'от 6 000 р. ', 'от 60 р. /м² '],
				['После ремонта', 'от 5 000 р. ', 'от 6 000 р. ', 'от 7 000 р. ', 'от 70 р. /м² '],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Виды уборки квартиры
			.descr
				p Мы готовы предложить для вас разные варианты уборки квартир. Осталось выбрать то, что подходит именно вам!
				p Генеральная уборка подойдёт тем, кто давно не наводил идеальный порядок у себя в квартире. Мы тщательно удалим пыль не только со всех поверхностей, но и доберёмся даже до труднодоступных мест. Проведём влажную и сухую уборку ковровых покрытий, полов, мебели, сантехники, осветительных приборов и дверей. Оптимальная периодичность проведения генеральной уборки — 1 раз в месяц.
				p Уборка квартиры после ремонта выполняется однократно, однако наносит ошеломительный удар по строительной пыли и грязи. Мы удалим самые сложные пятна с поверхности мебели, стен и пола благодаря профессиональному оборудованию, качественной химии и мастерству специалистов.
				p Регулярная уборка квартиры – выбор тех, кто хочет жить в красоте, свежести и гармонии каждый день, но не может выкроить времени на наведение порядка в своём жилище. Даже проводя подобный вид уборки раз в неделю, наши специалисты смогут предотвратить накопление пыли и грязи на долгое время.
				p Экспресс уборка квартиры, выполненная командой наших специалистов,  поможет вам в режиме цейтнота подготовиться к приёму гостей или важному мероприятию, забыв о беспорядке дома. А может быть наоборот, у вас не осталось сил прибраться после незабываемой вечеринки… Не беда, мы выполним всю утомительную работу за вас!
				p Бывают и случаи, когда у нас заказывают только мытьё стеклянных поверхностей, окон, входных групп; химчистку мебели, ковровых покрытий или матрасов. Мы с радостью принимаемся за любую задачу в сфере клининга в Раменском и доводим дело до конца. Мы не намерены навязывать вам свои услуги, а проявляем индивидуальный подход к каждому клиенту. Наша цель — сэкономить ваше время и навести идеальную чистоту на профессиональном уровне.
				p Как правило, с текущей уборкой квартиры хозяйке испокон веков было принято справляться самостоятельно. Однако современная жизнь диктует свои правила: сегодня помимо ведения домашнего хозяйства и воспитания детей на женские плечи ложится работа. В такой ситуации мыть полы и пылесосить ковры до полуночи кажется безумной затеей! Поэтому мы предлагаем вам воспользоваться услугами клининговой компании «Стандарт» в Раменском. Мы готовы по первому зову прийти на помощь, произвести профессиональную уборку квартиры и освободить тем самым ваше время для милых сердцу вещей, будь то поход по магазинам или неспешная прогулка в парке.
