extends ../_templates/_template_service

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-kommercheskoy-nedvizhimosti/'
	- var mainpage = ''
	- var title = 'Уборка коммерческой недвижимости'
	- var metaDescr = 'Коммерческий клининг- отличная возможность при минимальных затратах поддерживать идеальную чистоту в помещении.'
	- var ogImage = 'img/uborka-tc.jpg'
		//- main screen
	- var h1 = 'Уборка коммерческой недвижимости'
	- var h1Descr = 'Убираем любые помещения после ремонта, на регулярной основе, генеральные уборки. Полное клининговое обслуживание и разовые заказы.'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Уборка коммерческой недвижимости'
		//- backgrounds
	- var mainBackground = 'img/uborka-tc.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'komm'
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку коммерческой недвижимости'
	-
		var thead = ['Уборка коммерческих объектов', 'Цена']
	-
		var tbody = [
				['Ежедневная (комплексная)', 'от 15 000 р. /мес.'],
				['Генеральная уборка', 'от 60 р. /м²'],
				['Послестроительная уборка до 500 м²', 'от 90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', 'от 70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', 'от 60 р. /м²'],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Профессиональный клининг
			.descr
				p Профессиональная вечерняя уборка офисов – это очень востребованная услуга, ведь в таком случае они всегда будут в идеальной чистоте, но при этом вы сильно не портатитесь. Мы располагаем штатом опытных специалистов и современного клинингового оснащения, что позволяет нам качественно решать поставленные задачи.
				p Влажная уборка магазина подготовит его к следующему рабочему дню, ведь пыль на торговых рядах и кассах способна отпугнуть потенциальных покупателей. Такое не понравится никому, другое дело когда все будет убрано и чисто. Обращаться к нам гораздо выгодней, чем нанимать уборщицу, тем более без профессионального оборудования будет практически невозможно настолько хорошо убрать в помещении. Уборка может осуществляться в любых коммерческих помещениях, где всегда должна быть чистота, ведь из подобных мелочей складывается репутация компании.
				p Генеральная уборка склада обеспечит благоприятные условия для хранения продуктов и подготовит к любой предстоящей проверке, которую он пройдет без заморочек. Мы занимаемся профессиональной уборкой помещений любого типа и предназначения. Поддержание чистоты требуется в домах, квартирах, офисах, отелях и магазинах, всюду, где живут или находятся люди.
				p Ежедневная уборка магазинов может выполняться собственными силами, но гораздо эффективней поручить ее профессионалам своего дела. Клининг аутсорсинг поможет на постоянной основе поддерживать чистоту при минимальных финансовых затратах с вашей стороны. Таким образом вы сэкономите свое время и усилия, а кроме того не потребуется нанимать дополнительных сотрудников, если речь идет об уборке собственной компании.
				h3 Что в себя может включать профессиональный клининг?
				p Профессионалы гораздо быстрее и эффективней справятся с поставленной задачей. К тому же цена на клининг магазинов отнюдь невысока и доступна каждому. У нас можно заказать как разовую уборку, так и заключить договор о сотрудничестве на постоянной основе. Мы берем в работу даже самые сложные, сильно загрязненные помещения, включая те, где проходил ремонт. По завершению нашей работы вы их не узнаете, насколько приятными будут изменения.
				p Мы предоставляем широкий спектр услуг по ежедневной и разовой уборке помещений:
				ul
					li Ежедневная уборка помещения, включающая в себя удаление пыли, мойку поверхностей, удаление пятен, вынос мусора и подобные работы, полный перечень которых согласуется с заказчиком и составляется индивидуально
					li Клининг офиса после ремонта, мы уберем весь строительный мусор, пыль и доведем помещение до идеального состояния
					li Генеральная уборка, в рамках которой осуществляется полная очистка всех предметов и поверхностей в помещении, на какой бы высоте они не находились
					li Химчистка ковров, а также мягкой мебели
					li Мойка витрин и окон.
				h3 Клининг офисов
				p Заказав у нас ежедневный клининг офисов вы останетесь довольны результатом. Каждый день сотрудники будут приходить в чистое и опрятное помещение, в котором будет приятно выполнять свои рабочие обязательности. Их ничто не будет отвлекать от задачи, поставленной перед ними руководством, вследствие чего возрастет производительность труда.
				p Клининговая компания предлагает профессиональный клининг полов на складе, благодаря чему он будет вычищен до блеска. С него будут удалены даже незначительные и въевшиеся загрязнения, что обеспечивает комфортабельные условия труда и соблюдение требований гигиены.
				p Ночная клининг уборка магазинов проводится с применением новейшего оборудования, что позволяет быстро и качественно решить поставленную задачу.
				h3 Преимущества нашей клининговой компании:
				ul
					li Уборка торговых магазинов и прочих помещений у нас проводится усилиями тщательно подобранных специалистов, которые перед тем, как приступить к работе, прошли обучение. В результате мы можем гарантировать превосходное качество оказания своих услуг
					li Работа выполняется в сжатые сроки. Наши специалисты проведут комплекс необходимых мероприятий в обозначенные сроки, а в случае необходимости у нас есть услуга срочной уборки
					li Уборка магазинов одежды и бутиков проводится аккуратно. Сотрудники бережно относятся ко всем вещам, мебели и технике, чтобы ничего не повредить
					li Мы пользуемся передовым оснащением и спецсредствами для уборки. Мы следим за новшествами рынка и выбираем самые эффективные моющие средства, а также технику для выполнения своей работы
					li Профессиональный клининг офисов у нас производится на крайне привлекательных условиях. Мы предлагаем выгодные цены, а кроме того каждый клиент сам может выбрать, какие услуги ему необходимы в рамках нашего сотрудничества.
				p Уборка помещений складов и коммерческой недвижимости обеспечит их безупречный внешний вид, а также комфортабельные условия пребывания в помещении. Если не уделять внимание этому моменту, то внешний вид складов и торговых помещений может оттолкнуть покупателей и деловых партнеров. К тому же это вредно для тех, кто находится в помещении. Поэтому коммерческий клининг складов, офисов и торговых залов жизненно необходим.
