extends ../_templates/_template_subservice

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uslugi-sadovnika'
	- var mainpage = ''
	- var title = 'Услуги садовника в Раменском. Уход за садом и ландшафтный дизайн'
	- var metaDescr = 'Услуга ухода за садом в г. Раменское. Ландшафтный дизайн, альпийские горки, посадка и уход за деревьями, цветами. Клининговая компания «Стандарт»'
	- var ogImage = '../../img/uslugi-sadovnika.jpg'
		//- main screen
	- var h1 = 'Услуга ухода за садом в Раменском'
	- var h1Descr = 'Комфортная помощь по хозяйству, заболивый уход за домом и свободное время для себя и близких'
		//- breadcrumbs
	- var bcCat = ''
	- var bcCatUrl = ''
	- var bc = 'Услуга ухода за садом в Раменском'
		//- backgrounds
	- var mainBackground = 'img/uslugi-sadovnika.jpg'
		//- settings
	- var nestingLevel = '1'
	- var category = 'default'
		//- mixin pricetable
	- var priceH2 = 'Цены на услуги домашнего персонала'
	-
		var thead = ['Персонал', 'Стоимость']
	-
		var tbody = [
				['Услуги садовника', 'от 3000 р. в день'],
		]

block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Услуги по уходу за садом
			.descr
				p Если вы руководитель крупной компании или владелец частного дома, то наверняка вас часто посещают мысли облагораживания приусадебной территории, газона или сада в непосредственной близости к объекту недвижимости. Именно поэтому услуга ухода за садом от клининговой компании «Стандарт» — это то, что вам нужно. Нанять садовника вы можете однократно, либо подписать с нами договор о стабильном обслуживании территории. Следует отметить, что цены на услуги садовника в Раменском порадуют вас своей демократичностью, а результат нашей работы будет долго радовать глаз как владельца сада, так и его гостей.
				p Услуга ухода за садом в нашем исполнении представляет из себя сочетание традиционного ручного труда и эффективной современной техники. Мы комплексно подходим к оказанию данной услуги, поэтому помимо ухода за газонами и клумбами уделяем внимание уборке прилегающих территорий. Не обходим стороной и предметы экстерьера: скульптуры разных форм, фонтаны, тротуары… Также, оказывая услуги по уходу за садом, мы только проверенные опытным путём чистящие вещества и технику. Наши специалисты всегда учитывают тип поверхности, степень загрязнения и характер их происхождения.
				p Если вы решили всерьёз заняться поиском надёжного помощника, который сможет поддерживать привлекательный вид вашего приусадебного участка, то наверняка не раз вводили в поисковик запрос «садовник цены».  Мы не можем назвать точных цен, потому что многое зависит от площади участка, материалов и видов работ. Но мы сможем вас быстро сориентировать, если позвоните нам или оставите заявку на обратный звонок.В заключение остаётся добавить, что мы всегда выполняем свою работу на совесть, чутко следуя всем пожеланиям клиента. И мы с радостью поможем вам поддерживать чистоту на приусадебной территории офиса/дома, чтобы ваша репутация в глазах дорогих гостей была безупречна. И летом, и зимой обращайтесь к нам за помощью, заказывая услугу ухода за садом. Обещаем: вы останетесь в восторге от результата!
