mixin subservices
	if subservices
		div.section.section-catalog
			.container
				each type, val in subservices
					.catalog-elem
						img.lazyload(src="data:image/gif;base64,R0lGODlhLAHhAIAAAP///wAAACH5BAEAAAEALAAAAAAsAeEAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8ZmjRw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cqwUAADs=" data-src=''+type['img'] alt='')
						.info-block
							if type['price']
								.price= type['price']
							else
							.title= type['name']
							.buttons
								a.btn-sm__green.hvr-bob(href=''+type['pageUrl'])
									| Подробнее
								a.btn-sm__t-green.hvr-bob.modal-btn(href='#pop-up')
									| Заказать
	else
