mixin whatIncluded
	case cleaningType
		when 'express'
			section.section.section-what-included
				.container
					.section-title
						h2 Что входит в услугу:
					.part
						p Комнаты:
						ul
							li Влажная уборка полов
							li Мытье и дезинфекция всей сантехники
							li Удаление пыли с внешних поверхностей мебели и предметов интерьера. До 2х метров. В пределах доступности в пределах вытянутой руки
							li Удаление пыли с зеркальных поверхностей, протирка
							li Сухая чистка ковров и мягкой мебели пылесосом
							li Вынос мелкого мусора (до 10 кг)
					.part
						p Кухня:
						ul
							li Протирка внешних поверхностей всех предметов
							li Убираются вытяжки, варочные панели, кухонный рукав (без удаления жира)
						P Санузел:
						ul
							li Мытье и дезинфекция всей сантехники (раковины, унитаз, ванна, душевая кабина, смесители)
							li Ванная/душевая кабина убираются – по степени загрязненности
							li Протирается от пыли
							li Натирка сантехники до блеска
		when 'regular'
			section.section.section-what-included
				.container
					.section-title
						h2 Что входит в услугу:
					.part
						ul
							li влажная уборка полов
							li мытье и дезинфекция всей сантехники
							li удаление пыли с внешних поверхностей мебели и
							li предметов интерьера, включая кухню
							li удаление пыли с зеркальных поверхностей
							li поддержание чистоты варочной панели и кухни
							li сухая чистка ковров и мягкой мебели пылесосом
							li вынос мелкого мусора (до 10 кг)

		when 'general'
			.section.section-what-included
				.container
					.section-title
						h2 Что входит в услугу:
					.part
						p Комнаты:
						ul
							li влажная уборка подоконников
							li удаление пыли с кондиционеров и карнизов для штор
							li мытье батарей
							li мытье пола и плинтусов
							li удаление пыли со всей мебели, включая верх, протирка и натирка фасадов корпусной мебели
							li удаление пыли с бытовой техники
							li мытье дверей и дверных ковров, дверных ручек, розеток
							li уборка мягкой мебели, ковров и пола сухим пылесосом
							li обеспыливание потолка и стен (не все потолки моются)
							li протирка светильников
							li влажная уборка предметов интерьера (шкатулки, фигурки)
					.part
						p Кухня:
						ul
							li мытье кухонной техники снаружи
							li чистка и дезинфекция сантехники (раковина, смесители) и «фартука»
							li влажная уборка кухонной мебели снаружи и сверху, удаление жировых отложений
							li влажная уборка всех пустых открытых шкафов и полочек
						P Санузел:
						ul
							li протирка потолка
							li мытье кафельной плитки на всю высоту
							li мытье и дезинфекция всей сантехники (раковины, унитаз, ванна, душевая кабина, смесители)
							li удаление следов ржавчины и известкового камня
							li влажная уборка полочек, зеркал, наружных поверхностей стиральной машины
		when 'remont'
			.section.section-what-included
				.container
					.section-title
						h2 Что входит в услугу:
					.part
						p Комнаты:
						ul
							li обеспыливание всех поверхностей (потолок, стены, пол, наружные поверхности мебели)
							li обеспыливание и влажная уборка осветительных приборов
							li мытье батарей
							li мытье пола и плинтусов
							li влажная уборка до отсутствия разводов и пятен
							li мытье дверей и дверных коробов, дверных ручек
							li мытье электрических розеток и выключателей
					.part
						p Кухня:
						ul
							li мытье кухонной техники снаружи
							li чистка и дезинфекция сантехники (раковина, смесители) и «фартука»
							li влажная уборка кухонной мебели снаружи и сверху, удаление жировых отложений
							li влажная уборка всех пустых открытых шкафов и полочек
						P Санузел:
						ul
							li протирка потолка
							li мытье плитки на всю высоту с удалением следов ремонтных отложений
							li мытье и дезинфекция всей сантехники (раковины, унитаз, ванна, душевая кабина, смесители)
							li удаление следов ржавчины и известкового камня
							li удаление следов цемента, затирки, строительного скотча
