extends ../_templates/_template_kommerce

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-pomescheniy/generalnaya-uborka'
	- var mainpage = ''
	- var title = 'Генеральная уборка'
	- var metaDescr = 'Генеральная уборка любых видов помещений по невысоким ценам в Рамеском и Жуковском. Обученные сотрудники.Гарантия качества и безопасности'
	- var ogImage = 'img/kottedzh3-1.jpg'
		//- main screen
	- var h1 = 'Генеральная уборка в Раменском'
	- var h1Descr = 'Генеральная уборка всех типов помещений в короткие сроки. Учтем ваши пожелания и дадим рекомендации как сэкономить'
		//- breadcrumbs
	- var bcCat = 'Уборка помещений в Раменском'
	- var bcCatUrl = 'uborka-pomescheniy/'
	- var bc = 'Генеральная уборка в Раменском'
		//- backgrounds
	- var mainBackground = 'img/uborka-ofisa2.jpg'
	- var formBackground = 'img/uborka-ofisa3.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'pomescheniya'
	- var cleaningType = 'general'
		//- mixin pricetable
	- var priceH2 = 'Цены на генеральную уборку'
	-
		var thead = ['Уборка помещений', 'Цена']
	-
		var tbody = [
				['Ежедневная (комплексная)', 'от 15 000 р. /мес.'],
				['Генеральная уборка', 'от 60 р. /м²'],
		]
