extends ../_templates/_template_kommerce

block variables
	//- head part
	- var subDomain = 'ramenskoye'
	- var pageUrl = '/uborka-pomescheniy/uborka-posle-remonta'
	- var mainpage = ''
	- var title = 'Уборка после ремонта и строительства'
	- var metaDescr = 'Уборка после ремонта клининговой компанией – это физически трудоемкий процесс, в особенности, если он проводился после капитальных строительных работ.'
	- var ogImage = 'img/posle-remonta-foto.jpg'
		//- main screen
	- var h1 = 'Проведение уборки после ремонта в Раменском'
	- var h1Descr = 'Уборка после ремонта клининговой компанией – это физически трудоемкий процесс, в особенности, если он проводился после капитальных строительных работ. Такая сфера услуг является сегодня востребованной и достаточно доступной по цене.'
		//- breadcrumbs
	- var bcCat = 'Уборка помещений в Раменском'
	- var bcCatUrl = 'uborka-pomescheniy/'
	- var bc = 'Проведение уборки после ремонта в Раменском'
		//- backgrounds
	- var mainBackground = 'img/uborka-ofisa3.jpg'
	- var formBackground = 'img/uborka-ofisa2.jpg'
		//- settings
	- var nestingLevel = '2'
	- var category = 'pomescheniya'
	- var cleaningType = 'remont'
		//- mixin pricetable
	- var priceH2 = 'Цены на уборку после ремонта'
	-
		var thead = ['Уборка помещений', 'Цена']
	-
		var tbody = [
				['Послестроительная уборка до 500 м²', 'от 90 р. /м²'],
				['Послестроительная уборка от 501 до 1500 м²', 'от 70 р. /м²'],
				['Послестроительная уборка от 1500 до 5000 м²', 'от 60 р. /м²'],
		]
block seotext
	section.section.section-info-inner
		.container
			.title
				h2 Услуги по профессиональной уборке после ремонта
			.descr
				p В перечень осуществляемых работ входит очистка площадей после:перепланировки квартиры или офиса;сноса стен;настилки половых покрытий;замены окон;проведения всех видов строительства и ремонта.Каждый владелец недвижимости стремится в кратчайшие сроки обосноваться на новом, отремонтированном, чистом и обновленном месте. К сожалению, строительные работы, проводимые во время уборки квартиры после ремонта в люберцах, дело достаточно пыльное и грязное, связанное с выносом различного мусора, ненужных и старых материалов.Помимо этого, в отремонтированном жилище могут оставаться многочисленные следы после покраски, побелки, штробления канавок под прокладку сети электропитания, остатки используемых в строительстве подручных приспособлений.Основным преимуществом услуги по уборке помещений после ремонта, заказанной в клининговой компании «Стандарт», является наличие высокотехнологичного профессионального оборудования, оперативное выполнение всех своих обязательств.Особенности проведения уборки помещений после ремонтаКонечно же, после стройки и ремонта всегда будут кучи мусора и остатков материалов, даже при любом старании аккуратно провести ремонт и последующую уборку офиса после ремонта, можно не справиться с большим объемом черновой работы.
				p Уборка после ремонта клининговой компанией – это по-настоящему, комплексный и универсальный набор услуг:
				ol
					li сбор и вывоз всех видов строительного мусора, в том числе, крупногабаритного
					li глубокая очистка и мойка полов
					li уборка и мойка всех поверхностей помещения от пыли, краски, цементного и бетонного растворов, монтажной пены, других смесей
					li профессиональная мойка окон, дверей, плинтусов, радиаторов отопления, труб
					li чистка стеклянных и зеркальных покрытий специальными, очищающими растворами
					li дезинфекция ванных комнат, туалетов, очистка хромированных деталей и аксессуаров
					li натирка полов, имеющих натуральное покрытие.
				p Достаточно пристального внимания в уборке помещений будут требовать лестничные проемы, лестничные марши. На практике, бывает так, что добраться до труднодоступных мест в интерьерах очень затруднительно, но все-таки мастера по чистоте от компании «Стандарт» справляются со всеми проблемами, добросовестно выполняют все, заказанные клиентами, услуги!
				p Опытные специалисты компании Стандарт проведут уборку квартиры после ремонта, цена за которую зависит от площади помещения. Компания предлагает услуги по уборке не только частных домостроений, уборке коттеджей после ремонта, но и коммерческих, офисных и производственных зданий и сооружений, которым требуется очистка от последствий ремонта, отделки, реставрации, дизайнерских переделок в интерьере.
				p Цена за чистую и быструю уборку после ремонтаСледует особо отметить тот факт, что на первый взгляд, собственными силами провести уборку дома после ремонта будет дешевле. Но это, в реальности, не так. На деле, Вы потратите во много раз больше времени, физических сил и денег не только на уборку, но и на поиск, закупку высококачественных моющих средств, которые не повредят вашему здоровью. Неправильные, по большей мере, «на скорую руку» подобранные средства по уходу за поверхностями, способны нанести непоправимый вред вновь постеленным покрытиям или же только что установленным, дорогостоящим стеклопакетам.
				p Доверьте свои жилые и офисные площади под уборку специалистам компании «Стандарт»: они в процессе работы устранят самые трудновыводимые, устойчивые загрязнения с помощью щадящих, неабразивных моющих растворов. Эти средства не оставят разводов и царапин на ваших дорогих покрытиях. Составы являются нетоксичными, не имеют резкого запаха, качество подтверждено соответствующими сертификатами.
				p Компания применяет только специальное, европейское оборудование для уборки комнат, вам не нужно больше волноваться о постремонтной чистоте помещений. Все виды услуг производятся в короткие сроки, с гарантией качества.
				p В подробном прайсе клининговой компании «Стандарт» находится перечень услуг на самые востребованные процедуры по очистке служебных, жилых и промышленных зданий.
				p Сотрудники компании имеют наработанный опыт в своей сфере деятельности, связанной с качественной, кропотливой уборкой помещений, в которых был произведен текущий или капитальный ремонт.
