extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/moyka-okon-i-balkonov/moyka-ostekleniya-i-fasadov'
	- var title = 'Мойка остекления и фасадов в Жуковском'
	- var metaDescr = 'Мытье остекления и фасадов на любой высоте и любой сложности. Мойка входных групп и витрин магазинов и торговых цетров. Быстро и без разводов!'
	- var ogImage = 'img/photo-prom-alp-min.jpg'
	- var h1 = 'Мойка остекления и фасадов в Раменском'
	- var h1Descr = 'Как правило, необходимость в мойке фасада здания возникает пару раз в год. Также требуется чистка фасада после строительных работ и ремонта.'
	- var bcCat = 'Мойка остекления'
	- var nestingLevel = '2'
	- var bcCatUrl = '/moyka-okon-i-balkonov/'
	- var bc = 'Мойка остекления и фасадов'
	- var category = 'osteklenie'

	- var mainBackground = 'img/moyka-ostekleniya.jpg'
	- var formBackground = 'img/moyka-ostekleniya.jpg'


	- var priceH2 = 'Цены на мойку остекления и фасадов'

	//- mixin pricetable
	-
		var thead = ['Мойка фасадов, окон', 'Цена']
	-
		var tbody = [
				['Мойка фасада, окон (на высоте до 3-х метров)', 'от 50 р. /м²'],
				['Мойка фасада, окон (на высоте более 3-х метров с применением автовышки или вышки-туры)', 'от 50 р. /м² + вышка от 1 500 р. за сутки'],
				['Мойка фасада, окон (с применением промышленного альпинизма)', 'от 60 р. /м²'],
		]


block seotext
	.title
		h2 Очистка фасадов зданий

	.descr
		p Очистка фасадов зданий — задача, которая рано или поздно встаёт перед каждым владельцем дома или предприятия.  Дело в том, что каким бы прелестным не был дизайн здания, грязь может сыграть злую шутку, сделав его внешний вид менее презентабельным. Однако мойка остекления и фасадов предназначена не только для сохранения эстетики здания. Следует отметить, что под воздействием атмосферных осадков и неблагоприятной экологической среды неизбежно разрушение здания. Это влечёт за собой дополнительные расходы на внеплановый ремонт. Поэтому мойка остекления и фасадов — идеальная превентивная мера в подобной ситуации.Как правило, необходимость в мойке остекления фасада здания возникает пару раз в год: в осеннее-весенний период, когда на улице царит грязь и слякоть. Однако и тут есть исключения. Например, в период проведения внешних ремонтных, строительных или отделочных работ рекомендуем проводить очистку фасадов зданий по мере их загрязнения.
		h3 Что влияет на цену мойки фасада
		p Специалисты клининговой компании «Стандарт» имеют большой опыт работы, связанный с мойкой остекления фасада здания. При выходе на объект мы всегда учитываем высоту здания, структуру его отделки, наличие/отсутствие хрупких архитектурных элементов или баннерной рекламы. Для максимально качественного выполнения поставленной задачи клинеры работают как контактным методом, так и прибегая к аппаратам высокого давления.
		p Мойка остекления фасадов зданий проводится при помощи воды, в правильной пропорции смешанной с профессиональными моющими средствами. Такой раствор способен деликатно удалить даже въевшуюся грязь, не навредив структуре покрытия и его цвету.
		p На цену мойки остекления и фасадов оказывают влияние следующие факторы:
		ul
			li площадь поверхности;
			li объём загрязнений;
			li возраст загрязнений.
		h3 Очистка фасадов зданий от высолов и граффити
		p В большом мегаполисе мы часто можем встретить довольно неприятную тенденцию: фасады зданий пестрят граффити. Зачастую это может идти вразрез с видением компании и наносить существенный вред её статусу. Именно поэтому специалисты клининговой компании «Стандарт» готовы избавить фасад вашего здания от неординарного «искусства».
		p Очистка фасадов зданий от высолов и граффити включает в себя три основных процедуры:
		ul
			li пескоструйную чистку;
			li гидродинамическую чистку;
			li мягкий бластинг.
		p Так, при успешном выполнении вышеописанных работ, ваше здание вернёт себе первоначальный облик, и ничто уже не будет отвлекать взят прохожих от его истинной красоты.
		p В заключение остаётся добавить, что мойка остекления и фасадов в современном мегаполисе по значимости сравнима, пожалуй, с генеральной уборкой внутри помещения. Почему? — Ответ прост: здание — «лицо» компании, которое должно всегда иметь безукоризненный вид. И специалисты клининговой компании «Стандарт»с удовольствием помогут вам на профессиональном уровне справиться с очисткой фасадов зданий.
