extends ../_templates/_template_blog

block variables

	- var subDomain = ''
	- var pageUrl = '/moyka-okon-i-balkonov/mytyo-okon-stoimost'
	- var title = 'Мытьё окон. Стоимость в Жуковском'
	- var metaDescr = 'Мытьё окон стоимость в Жуковском'
	- var ogImage = 'img/mojka-okon.jpg'
	- var h1 = 'Мытьё окон – стоимость в Жуковском'
	- var bcCat = 'Мойка окон'
	- var nestingLevel = '2'
	- var bcCatUrl = '/moyka-okon-i-balkonov/'
	- var bc = 'Мытьё окон. Стоимость'
	- var category = 'moyka'

block content
	h1= h1
	p
		| Чистые окна в доме — залог прекрасного настроения и великолепного самочувствия всех членов семьи. Свежевымытые стёкла в оконных рамах не только хорошо пропускают естественный свет в помещение, но и помогают отчётливо смотреть на происходящее снаружи. Так приятно, просто выглянув в окно, радоваться выпавшему снегу или наслаждаться розовым закатом… Но всегда ли вы готовы тратить большое количество времени на мытьё окон, вместо того, чтобы наслаждаться жизнью? Мы с уверенностью заявляем: стоимость мытья окон гораздо меньше тех адских усилий, которые необходимо применить во время самостоятельной уборки.
	p
		| Посудите сами: 250 рублей — стоимость мойки стандартного окна, а 300 рублей — балконной двери. Сколько же сэкономленного времени будет у вас…
	p
		| Но, сказать правду, ведь у вас есть вариант и вовсе не мыть окна в своём жилище или офисе на протяжении года или даже нескольких лет. Можно рассчитывать на то, что никто не будет замечать грязь и беспорядок, царящие кругом. Однако практика показывает, что даже самый изысканный и дорогой интерьер не будет выглядеть привлекательно, если фасад и окна здания покрыты пылью и разводами.
	p
		| Всё ещё раздумываете, мыть или не мыть? Тогда подробнее расскажем о том, что включает в себя привлекательная стоимость мытья окон:
		ul
			li
				| очищение рамы из любого материала (пластик, дерево);
			li
				| тщательное мытьё стеклянного покрытия;
			li
				| уборка межрамного пространства; очищение от загрязнений отливов, откосов и подоконников.
	p
		| Наши сотрудники на профессиональном уровне орудуют всем необходимым инвентарём, который необходим для качественной очистки окон, а также знают, как именно необходимо обращаться с пластиковыми, деревянными и стеклянными поверхностями. Мы уверены: чистые окна — визитная карточка всякого дома или офиса. Так, наши специалисты придают большое значение не только уборке интерьера, но и мытью окон. Нас не пугает высокая сложность работ: большая площадь застекления, несмываемые разводы, высота.

