extends ../_templates/_template_subservice

block variables

	- var subDomain = ''
	- var pageUrl = '/moyka-okon-i-balkonov/mytyo-okon-posle-remonta'
	- var title = 'Мытьё окон после ремонта в Жуковском'
	- var metaDescr = 'Мытьё окон после ремонта в Жуковском'
	- var ogImage = 'img/mojka-okon.jpg'
	- var h1 = 'Мытьё окон после ремонта в Жуковском'
	- var h1Descr = ''
	- var bcCat = 'Мойка окон и балконов'
	- var nestingLevel = '2'
	- var bcCatUrl = '/moyka-okon-i-balkonov/'
	- var bc = 'Мытьё окон после ремонта'
	- var category = 'moyka'

	- var mainBackground = 'img/mojka-okon.jpg'
	- var formBackground = 'img/moyka-okon-cta.jpeg'


	-
		var otzyvy = [
				{'name': 'Марина', 'descr': 'Благодарю сотрудников Стандарт Клининг за отличную мойку окон на лоджии👍  Буду обращаться ещё', 'img': '../img/review__Marina.jpg'},
				{'name': 'Ольга', 'descr': 'Хочу сказать огромное спасибо. Очень качественно помыли окна во всей квартире. Отдельно хочу отметить, что моющие средства экологичные, я не чувствовала никакого запаха, а результат замечательный. Буду рекомендовать всем знакомым', 'img': '../img/review__Olga3.jpg'},
				{'name': 'Галина', 'descr': 'Заказывала для мытья окон в квартире и лоджии, утром мыли изнутри, а после обеда с наружи, когда тепло стало. Вымыли хорошо, особенно рамы, на некоторых еще после ремонта остался какой-то клей, я уже смирилась с ним, а он, оказывается, очищается. Про лоджию писать не буду, там хоть и со страховкой девчонки лазили а все равно мне жутко было, вымыли шикарно. Так что мне попались хорошие работницы! Одним словом советую.', 'img': '../img/review__Galina.jpg'},
		]

	- var priceH2 = 'Цены на мойку остекления и фасадов'

	//- mixin pricetable
	-
		var thead = ['Мойка остекления', 'Стоимость']
	-
		var tbody = [
				['Стандартное окно две створки', '300 р.'],
				['Мойка балконной створки', '150 р.'],
				['Мойка балконной двери', '300 р.'],
				['Доплата за этаж от 5 до 10', '+ 300 р.'],
				['Доплата за этаж от 10 до 100', '+ 500 р.'],
				['Мойка остекления промышленными альпинистами', 'от 30 р.'],
		]


block seotext
	.title
		h2 Мытьё окон после ремонта
	.descr
		p Ремонт окончен? Поздравляем! Кажется, настал тот долгожданный момент, когда можно выдохнуть и устроить в эту честь праздник. Строительный мусор вы наверняка старательно вычистили и вынесли из дома, бережно вытерли пыль с любимой мебели, а вот окна: что делать с ними? Мыть! Но важно понимать, что мытьё окон после ремонта — задача не из лёгких. Так доверьте её профессионалам!
		p Сказать честно, для обывателя вернуть окну привлекательный вид — всегда риск потери времени, а для сотрудников клининговой компании «Стандарт» — каждодневная работа. Мы знаем, как не поцарапать поверхность стекла, оттирая монтажную пену, маркер, клей или цемент. В арсенале нашей компании всегда с запасом есть все необходимые средства для предания безупречного блеска и сияния вашим окнам. Мы уверены, что наши цены не оставят вас равнодушными. Так, мытьё обыкновенного окна стоит 500 рублей, а балконной двери — всего лишь на 100 рублей больше! Дело в том, что окна — визитная карточка каждого дома на этой планете. И мы мечтаем, чтобы всегда и везде окна были безукоризненно чистыми. Думаем, можно запросто отказать себе в покупке торта или очередного шарфа, но не в чистоте жилища.
		p Так что же входит в стоимость мытья окон после ремонта? Сейчас расскажем:
		ul
			li моем подоконники, рамы, откосы, сливы, замки, ручки, стёкла;
			li вычищаем под проточной водой москитные сетки, если они были на окнах;
			li используем свой инвентарь и профессиональные моющие средства для мытья поверхностей разного типа (деревянных, пластиковых, стеклянных);
			li удаляем всю послестроительную пыль и грязь;
			li убираем за собой рабочее место по окончании выполнения работ.
		p Можно было бы ещё много рассказывать о всех тонкостях профессиональной работы с окнами, которые были очевидцами эпического ремонта. Однако мы уверены: у вас есть задачи поважнее, чем уборка.
		p Пока вы будете крошить салаты на кухне, играть в приставку с детьми или выгуливать собаку — мы уже все сделаем! Быстро. Профессионально. Качественно. Кстати, занимаемся мы не только мытьём окон после ремонта, но и делаем это на постоянной основе. Работаем в городах Жуковский, Люберцы и Раменское, в Островцах и Октябрьском, а также на всех близлежащих территориях.
